<card>
 <!-- Button trigger modal -->
 <button style="display: none;"  type="button" class="btn  card-text-trigger" data-bs-toggle="modal" data-bs-target="#card-text">
   card text 
 </button>
 
<!-- Modal -->
<div class="modal" id="card-text" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" >
<div class="modal-dialog modal-dialog-centered">
 <div class="modal-content m-auto ">
     
     <div class="ms-2 mt-1 card-text-body text-center">
       
      
     </div>

     <button type="button" class="btn btn-link card-text-cancel" data-bs-dismiss="modal">Close</button>
 </div>
</div>
</div>

<script>
function card_text_trigger(){
 $('.card-text-trigger').click()

}  function card_text_trigger(){
  
 $('.card-text-trigger').click()
}
</script>
</card>