<footer style="background-color: #043F2E;" class="shadowx pb-3" id="footer">

    <div  class="d-flex flex-wrap p-1 text-light  justify-content-evenly pt-5 pb-3">



        <div  class="flex-fill">
            <ul class="">

                <h1 style="color: #C8F169; border-bottom: 1px solid #C8F169;" class=" page-link pt-2   pb-2">School
                </h1>
                <li><a class=" page-link pt-2" href="/pu/about-us.html">About us</a></li>
                <li><a class=" page-link pt-2" href="/pu/contact-us.html">Contact us</a></li>
                <li><a class=" page-link pt-2" href="/pu/headofschool.html">Head of school</a></li>
                <li> 
                <a class="page-link pt-2 append-fb-link" target="_blank" href="#" >
                    <i class="bi bi-facebook"></i> <span>Follow on facebook</span>
                </a>    
                </li>


            </ul>
        </div>


        <div class="flex-fill">
            <ul class="">

                <h1 style="color: #C8F169; border-bottom: 1px solid #C8F169;" class=" page-link pt-2   pb-2">Academic
                </h1>
                <li><a class=" page-link pt-2" href="/pu/admission/step1">Admission</a></li>
                <li><a class=" page-link pt-2" href="/pu/all/teacher">Teachers</a></li>
                <li> <a class=" page-link pt-2" href="/pu/student/page">Students</a></li>
                <li><a class=" page-link pt-2" href="/pu/routine/page">Class routine</a></li>
                <li><a class=" page-link pt-2" href="/pu/rank/class/page">Student rank</a></li>


            </ul>
        </div>





        <div class="flex-fill">
            <ul class="">

                <h1 style="color: #C8F169; border-bottom: 1px solid #C8F169;" class=" page-link pt-2   pb-2">Organization
                </h1>
                <li><a class=" page-link pt-2" href="/pu/about-us.html">About us</a></li>
                <li><a class=" page-link pt-2" href="/pu/contact-us.html">Contact us</a></li>
                <li> <a class=" page-link pt-2" href="/pu/facilities-page">Facilities</a></li>
                <li><a class=" page-link pt-2" href="/pu/eventnews-page">Event & news</a></li>
                <li><a class=" page-link pt-2" href="/pu/achievement-page">Achievement</a></li>


            </ul>
        </div>




        <div class="flex-fill">
            <ul class="">

                <h1 style="color: #C8F169; border-bottom: 1px solid #C8F169;" class=" page-link pt-2   pb-2">Others</h1>
                <li><a class=" page-link pt-2" href="/pu/gallery/image/page">Photos</a></li>
                <li> <a class=" page-link pt-2" href="/pu/gallery/video/page">Videos</a></li>
                <li><a class=" page-link pt-2" href="/pu/join/parent">Join parent</a></li>
                <li><a class=" page-link pt-2" href="/au/signin/page">Sign in</a></li>
                <li><a class=" page-link pt-2" href="#">Faq</a></li>


            </ul>
        </div>


    </div>

    
<div id="legal" class="d-flex flex-wrap justify-content-center">
          <a class="text-decoration-none p-1" href="#">&#169; 2023 SEAWEB</a>
          <a class="text-decoration-none p-1" href="#/pu/terms-os-use">Terms of use</a>

         <a class=" text-decoration-none p-1" href="#/pu/privacy-policy">Privacy policy</a>

          <a class=" text-decoration-none p-1" href="/pu/team-saanvi">Developer team</a>
</div>

</footer>

 <script>

function pageLoadingTop(){
    document.querySelector('.page-loading-top').remove();
   }

   
  (function(){
  $.ajax({
    method: "get",
    url: "/pu/school/get/",
    data: {},
    dataType: "JSON",
    success: function (res) {

      $(".append-address").text(res.info_school[0].address)
      $(".append-email").text(res.info_school[0].email)
      $(".append-phone").text(res.info_school[0].phone)
      $(".append-fb-link").attr( 'href', `${res.info_school[0].fb_link}`)
    }
  });
  }())


</script>