


    <!-- Button trigger modal -->
    <button style="display: none;" type="button" class="btn modal-person-btn modal-person-triggers" data-bs-toggle="modal" data-bs-target="#modal-person">
      modal 
    </button>
    
<!-- Modal -->
<div class="modal fade" id="modal-person" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body ">
        <img class="modal-person-avatar bg-demo-img-color" width="200px" height="150px" src="/images/default/user.png" alt="">

        <div class="modal-person-body">

        </div>
      </div>
      <div class="modal-footer modal-person-footer">
        <button type="button" class="btn btn-light modal-person-cancel" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    
    
    


<script>

  //    $(document).on("click", ".modal-person-trigger",()=>{
  //   $(".modal-person-btn").click()
  // })




</script>