

<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <%- include("../component/metadata.html") %> 

   </head>
<style>
  .contentDiv a{
text-decoration: none;
  }
</style>

<body onload="pageLoadingTop()">

  <%- include("../component/admin-header-nav.html") %> 
  <%- include("../component/admin-menu-nav.html") %> 


  <div id="main-content" class="p-2 mt-5">


  <div class="row">                    
                 
   <div class="col">


                               
            <div  class="row mt-3 contentDiv">
            
              <div class="col-md-4 col-10 m-auto menu-list-item ">
          
                <a href="/admin/dashboard">
                  <div class="card shadow-sm">
                      <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                      <div class="card-body text-center">
                          <h4 class="card-title">Dashboard</h4>
                          <h5 class="card-text fw-bold"> <i class=" fa-solid fa-dashboard"></i></h5>
                      </div>
                  </div>
                </a>
          
              </div>  
              
              
          
              <div class="col-md-4 col-10 m-auto menu-list-item ">
          
                 <a href="/admin/account">
                  <div class="card shadow-sm">
                      <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                      <div class="card-body text-center">
                          <h4 class="card-title">Account</h4>
                          <h5 class="card-text fw-bold"><i class=" fa-solid fa-user"></i></h5>
                      </div>
                  </div>
                 </a>
          
              </div>                
          




              <div class="col-md-4 col-10 m-auto menu-list-item ">
          
                <a href="/admin/notice/page">
                  <div class="card shadow-sm">
                      <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                      <div class="card-body text-center">
                          <h4 class="card-title">Manage Notice</h4>
                          <h5 class="card-text fw-bold"> &#128226;</h5>
                      </div>
                  </div>
                </a>
          
              </div>                
          

  
        




              <div class="col-md-4 col-10 m-auto menu-list-item ">
          
                <a href="/admin/carousel/page">
                  <div class="card shadow-sm">
                      <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                      <div class="card-body text-center">
                          <h4 class="card-title">Manage Carousel</h4>
                          <h5 class="card-text fw-bold"> <i class=" fa-solid fa-file-image"></i></h5>
                      </div>
                  </div>
                </a>
          
              </div>                
          


              <div class="col-md-4 col-10 m-auto menu-list-item ">
          
                <a href="/admin/gallery/image/page">
                  <div class="card shadow-sm">
                      <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                      <div class="card-body text-center">
                          <h4 class="card-title">Manage Gallery</h4>
                          <h5 class="card-text fw-bold"> <i class=" fa-solid fa-file-image"></i></h5>
                      </div>
                  </div>
                </a>
          
              </div>                
          



              <div class="col-md-4 col-10 m-auto menu-list-item ">
          
                <a href="/admin/admission/report/page">
                  <div class="card shadow-sm">
                      <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                      <div class="card-body text-center">
                          <h4 class="card-title">Admission Reports</h4>
                          <h5 class="card-text fw-bold"> <i class="fa-solid fa-people-line "></i></h5>
                      </div>
                  </div>
                </a>
          
              </div>                
          





              <div class="col-md-4 col-10 m-auto menu-list-item ">
          
                <a href="/admin/application/page">
                  <div class="card shadow-sm">
                      <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                      <div class="card-body text-center">
                          <h4 class="card-title">Application Reports</h4>
                          <h5 class="card-text fw-bold"> <i class=" fa fa-book-atlas"></i></h5>
                      </div>
                  </div>
                </a>
          
              </div>                
          




              <div class="col-md-4 col-10 m-auto menu-list-item ">
          
                <a href="/admin/subject/page?className=Six">
                  <div class="card shadow-sm">
                      <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                      <div class="card-body text-center">
                          <h4 class="card-title">Manage Subject</h4>
                          <h5 class="card-text fw-bold"> <i class=" fa-solid fa-book"></i></h5>
                      </div>
                  </div>
                </a>
          
              </div>                
          


              <div class="col-md-4 col-10 m-auto menu-list-item ">
          
                <a href="/admin/parent/page">
                  <div class="card shadow-sm">
                      <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                      <div class="card-body text-center">
                          <h4 class="card-title">Manage Parents</h4>
                          <h5 class="card-text fw-bold"> <i class=" fa fa-people-group"></i></h5>
                      </div>
                  </div>
                </a>
          
              </div>  







              <div class="col-md-4 col-10 m-auto menu-list-item ">
          
                <a href="/admin/teacher/page">
                  <div class="card shadow-sm">
                      <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                      <div class="card-body text-center">
                          <h4 class="card-title">Manage Teachers</h4>
                          <h5 class="card-text fw-bold"> <i class=" fa fa-people-group"></i></h5>
                      </div>
                  </div>
                </a>
          
              </div>                
          





              <div class="col-md-4 col-10 m-auto menu-list-item ">
          
                <a href="/admin/student/page">
                  <div class="card shadow-sm">
                      <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                      <div class="card-body text-center">
                          <h4 class="card-title">Manage Students</h4>
                          <h5 class="card-text fw-bold"> <i class=" fa fa-people-line"></i></h5>
                      </div>
                  </div>
                </a>
          
              </div>   
              




              <div class="col-md-4 col-10 m-auto menu-list-item ">
          
                <a href="/admin/routine/page">
                  <div class="card shadow-sm">
                      <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                      <div class="card-body text-center">
                          <h4 class="card-title">Manage Routine</h4>
                          <h5 class="card-text fw-bold"> <i class=" fa-solid fa-book-open"></i></h5>
                      </div>
                  </div>
                </a>
          
              </div>                
          

              <div class="col-md-4 col-10 m-auto menu-list-item ">
          
                <a href="/admin/library/page">
                  <div class="card shadow-sm">
                      <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                      <div class="card-body text-center">
                          <h4 class="card-title">Manage Library</h4>
                          <h5 class="card-text fw-bold"> &#128218;</h5>
                      </div>
                  </div>
                </a>
          
              </div>                
          


              
              
              <div class="col-md-4 col-10 m-auto menu-list-item ">
          
                <a href="/pu/notice/page">
                    <div class="card text-center">
                        <!-- <img class="card-img-top" src="holder.js/100px180/" alt=""> -->
                        <div class="card-body">
                            <h4 class="card-title">Notice </h4>
                            <h5 class="card-text fw-bold">&#128226;</h5>
        
                        </div>
                      </div>
                </a>
        
            </div>            


             
        
              
        <!-- end mainDiv -->
        </div>
        
    
    
    
<div  class="row mt-3 contentDiv">
        
            <div class="col-md-4 col-10 m-auto menu-list-item ">
        
              <a href="/privet/routine/page">
                <div class="card shadow-sm">
                    <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                    <div class="card-body text-center">
                        <h4 class="card-title">Routine</h4>
                        <h5 class="card-text fw-bold"> &#128214;</h5>
                    </div>
                </div>
              </a>
        
            </div>  



            <div class="col-md-4 col-10 m-auto menu-list-item ">
        
                <a href="/pu/rank/class/page">
                  <div class="card shadow-sm">
                      <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                      <div class="card-body text-center">
                          <h4 class="card-title">Ranks</h4>
                          <h5 class="card-text fw-bold"> <i class="  fa fa-ranking-star"></i></h5>
                      </div>
                  </div>
                </a>
          
              </div>  




               
        
            <div class="col-md-4 col-10 m-auto menu-list-item ">
        
                <a href="/pu/all/teacher">
                    <div class="card shadow-sm">
                        <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                        <div class="card-body text-center">
                            <h4 class="card-title">Teachers</h4>
                            <h5 class="card-text fw-bold"> <i class=" fa fa-people-group"></i></h5>
                        </div>
                    </div>
                </a>
        
            </div>        
        
                     
            
        
            <div class="col-md-4 col-10 m-auto menu-list-item ">
        
                <a href="/pu/student/page">
                    <div class="card text-center">
                        <!-- <img class="card-img-top" src="holder.js/100px180/" alt=""> -->
                        <div class="card-body">
                            <h4 class="card-title">Students</h4>
                            <h5 class="card-text fw-bold"><i class=" fa fa-people-line"></i></h5>
        
                        </div>
                      </div>
                </a>
        
            </div>    
              
                       
          
          
                
          <!-- end mainDiv -->
          </div>
      

     </div>
                         

   </div>


   </div>

   <%- include("../component/___node.html") %> 

 </body>
 <script>
    
  const bodyHeight= window.innerHeight;
  const bodyWidth= window.innerWidth;




</script>