

<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <%- include("../component/metadata.html") %> 

   </head>


<body onload="pageLoadingTop()">

  <%- include("../component/admin-header-nav.html") %> 
  <%- include("../component/admin-menu-nav.html") %> 


  <div id="main-content" class="p-2 mt-5">


<div class="row mt-3 contentDiv">


</div>
        

   </div>

   <%- include("../component/___node.html") %> 

 </body>
 <script>
    



</script>