<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library settings</title>
    <%- include("../component/metadata.html") %>
        <script src="/app/___noviewport.js"></script>

</head>

<body onload="pageLoadingTop()">
    <%- include("../component/admin-header-nav.html") %>
        <%- include("../component/admin-menu-nav.html") %>

            <div id="main-content" class="p-2 main-content mt-5">


                    <div class="col-auto">


                        <center>
                            <legend class="container alert bg-light shadow">Manage Library</legend>
                        </center>
                        <p></p>
                        <center>
                            <button id="expand" class=" btn-self w-50 "><i id="addnew"
                                    class="fa-solid fa-circle-plus fa-beat"></i> <i id="addicon"></i> </button>
                        </center>

                        <div id="step1">

                           <div class="col-md-6 col-11 m-auto">
                            <form id="form" method="post" class=" container bg-light ps-3 shadow"
                            enctype="multipart/form-data">

                            <p></p>

                            <div>
                                <label for="name">Name:</label>
                                <p></p>
                                <input type="text" name="bookName" value="NodeJs-II" class=" form-dev"
                                    placeholder="Books Name.." required>

                            </div>
                            <p></p>
                            <div>
                                <label for="name">Author:</label>
                                <p></p>
                                <input type="text" value="Ryan Dahl" name="authorName" class="form-dev"
                                    placeholder="Author name...">

                            </div>
                            <p></p>

                            <div>
                                <label for="name">Copy:</label>
                                <p></p>
                                <input type="number" value="30" name="bookCopy" class="form-dev"
                                    placeholder="Copy.." required>

                            </div>
                            <p></p>


                            <div class=" ">
                                <label for="name">Description:</label>
                                <p></p>


                                <textarea name="description" id="" cols="40" class=" form-dev"
                                    rows="5">web programming skill development.</textarea>

                            </div>
                            <p></p>

                            <div class="book_append">
                                <label class="btn btn-light text-danger" for="bookimage">Select Image:
                                    <input style="display: none;" type="file" name="bookimage" class="bookimage"
                                        id="bookimage">
                                </label>
                                <p></p>

                            </div>

                            <div>
                                <center><button id="btn" class="btn-self mb-2 w-50 ">Save</button></center>
                            </div>
                        </form>
                           </div>



                        </div>

                        <p></p>

                        <div id="step2" class=" container row">
                            <form id="rmform" action="#">
                                <div class="col-11 m-auto col-md-8">
                                    <input class=" mb-2 form-control" type="search" name="myInput" id="myInput"
                                        style="outline: none;" placeholder="Search">

                                    <caption><button type="button" onclick="_delbox_pull()"
                                            class="btn btn-link float-end rmbtn">Delete</button></caption>
                                    <table class="table table-hover">
                                        <thead class="" id="thead">
                                            <tr>
                                                <th>Name <input type="checkbox" name="" class="check-mark" id=""></th>
                                                <th>Author</th>
                                                <th>Image</th>
                                                <th>Copy</th>
                                                <th>Description</th>
                                                <th>Date</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody class="check-mark-area">


                                        </tbody>


                                    </table>

                                </div>
                            </form>
                        </div>


                    </div>


            </div>


 <%- include("../component/___node.html") %>

</body>

<script>

    noview.port({
        input_class: 'bookimage',
        append_class: 'book_append',
        file_type: 'image',
        max_kb_size: 1024,
        multiple: true,
    })

    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("tbody tr").filter(function () {

                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)

            });
        });
    });

    $("#step1").hide()

    $("#expand").click(() => {
        $("#step1").toggle("slow")

        $("#addicon").toggleClass('fa-solid fa-caret-up')
        $("#addnew").toggle('fa-solid fa-caret-down')

    })

    function loadDisplay() {

        $.ajax({
            method: "post",
            url: "/admin/library/get",
            data: {},
            dataType: "JSON",
            beforeSend: function () {
                _spin_pull()
            },

            success: function (info) {

                $("tbody").html(info.html)
                _spin_pop()

            }
        })

    }

    loadDisplay()



    $("#form").on("submit", (events) => {
        events.preventDefault();
        const formdata = new FormData($("form")[0])
        $.ajax({
            method: "post",
            url: "/admin/library/post",
            data: formdata,
            mimeType: "multipart/form-data",
            contentType: false,
            cache: false,
            processData: false,
            dataType: "JSON",
            beforeSend: function () {
                _spin_pull()

            },

            success: function (info) {
                $("#step1").hide()
                _spin_pop()
                _msg_pull('alert-success', 'Book added...')
                loadDisplay()

            }

        })

    })

    function _delbox_push() {
        $.ajax({
            method: "post",
            url: "/admin/library/delete",
            data: $("#rmform").serialize(),
            dataType: "JSON",
            success: function (info) {
                _msg_pull('alert-success', 'Book Deleted...')
                loadDisplay()

            }
        });
    }



</script>

</html>