<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notice settings</title>
    <%- include("../component/metadata.html") %>

</head>
>



<body onload="pageLoadingTop()">

    <%- include("../component/admin-header-nav.html") %>
        <%- include("../component/admin-menu-nav.html") %>

        <div id="main-content" class="p-2 mt-5">

                <div class="col-auto" id="contentId">


                    <center>
                        <legend class=" alert bg-light shadow ">Notice Board</legend>
                    </center>

                    <center>
                        <button id="collapsebtn" class="w-50 btn-self"> <i class=" bi bi-arrow-up"></i>
                        </button>
                        <p></p>

                        <form id="form" method="post" class=" ps-3 m-auto shadow bg-light"
                            enctype="multipart/form-data">

                            <div><label for=""></label>Title</div>
                            <input class=" form-dev" type="text" value="Exam Notice" name="title" id=""
                                placeholder="Title" required>
                            <p></p>
                            <label class=" badge bg-light text-danger" for="file">
                                <input style=" display: none" class=" form-dev" id="file" type="file" name="attachment">
                                <span class="btn fa-solid fa-file-image-o"> Upload pdf or jpeg file</span>
                            </label>
                            <p></p>
                            <div><label for=""></label>Comment</div>
                            <textarea class=" form-dev" name="description" id="" cols="10"
                                rows="5">Attention all student for next exam!</textarea>
                            <p></p>
                            <center>
                                <button id="submitbtn" class="btn-self w-50">Publish</button>
                            </center>
                        </form>
                        <p></p>

                        <div class="row">
                            <div class="col-11 m-auto col-md-6">
                                <input type="date" class="form-control" name="" id="findDate">

                                <input class="mt-2 mb-2 form-control" type="search" name="" placeholder="search..."
                                    id="search">

                            </div>
                        </div>

                        <form action="#" method="post" id="dataForm">

                            <div class="row">
                                <div class="col-12 col-md-10 m-auto">

                                    <ul id="noticedata" class="list-group">

                        
                                    </ul>


                                </div>
                            </div>
                        </form>

                </div>


            </div>


          


<%- include("../component/___node.html") %>

</body>

<script>

    $('#collapsebtn').on('click', () => {
        $('#form').toggle('slow')
    })


    $("#findDate").change(function (e) {
        let findDate = $("#findDate").val().replaceAll("-", "/");

        var value = findDate
        $("#noticedata li").filter(function () {

            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)

        });
    });


    $(document).ready(function () {
        $("#search").keyup(function () {
            var value = $(this).val().toLowerCase();
            $("#noticedata li").filter(function () {

                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)

            });
        });
    });




    function displayLoad() {
        $.ajax({
            type: "post",
            url: "/admin/notice/get",
            data: {},
            dataType: "JSON",
            beforeSend: function(){
              _spin_pull()
            },
            success: function (info) {
                $("#noticedata").html(info.html)
                _spin_pop()

            }
        });
    }

    displayLoad()


    $("#form").on("submit", (e) => {
        e.preventDefault();
        let formdata = new FormData($("form")[0])
        $.ajax({
            type: "post",
            url: "/admin/notice/post",
            data: formdata,
            mimeType: "multipart/form-data",
            cache: false,
            processData: false,
            contentType: false,
            dataType: "JSON",
            beforeSend: function(){
                _spin_pull()
            $("#submitbtn").addClass('disabled')
            },
            success: function (info) {

                displayLoad()
                _msg_pull('alert-success', 'Adding notice file...')
                _spin_pop()
            $("#submitbtn").removeClass('disabled')



            }
        });
    })






    function _delbox_push(ID) {
        $.ajax({
            method: "post",
            url: "/admin/notice/delete",
            data: {ID},
            dataType: "JSON",
            success: function (info) {
                displayLoad()
                _msg_pull('alert-success', 'Deleted...')
            }
        });
    }






</script>



</html>