<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notice settings</title>
    <%- include("../component/metadata.html") %>

</head>



<body onload="pageLoadingTop()">

    <%- include("../component/admin-header-nav.html") %>
        <%- include("../component/admin-menu-nav.html") %>

        <main id="main-content" class="p-2 main-content mt-5">


            <content>
              <div class="row m-2 mt-5 shadowx text-center">
                <div class="col-11 m-auto">
          
                  <p class="p-2 text-muted fw-semibold fs-5">Notice settings</p>
          
                </div>
              </div>
          
          
              <div id="tabledata" class="row  p-2 mt-5">
                
                <div class="col-auto ms-auto me-2">
                  <button type="button" data-bs-toggle="modal" data-bs-target="#openform" id="openformbtn"
                    class="btn link-success shadowx btn-go fw-500">Create a new notice</button>
                </div>
                <p></p>
                <div class="col-md-10 col-12 m-auto">
          
                  <div class="d-flex justify-content-between">
                    <select disabled style="width: 100px; outline: none;" class="form-dev shadowx p-0" name="" id="">
                      <option   value="15">15</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option selected value="All">All</option>
                    </select>
          
                    <input id="search" style="width: 200px; outline: none;" class="ps-2 form-dev p-0 shadowx" type="search"
                      placeholder="search">
          
                  </div>
          
                  <form id="formcheckout" action="#" method="get" onsubmit="return false">
                    <div class="row">
                        <div class="col-12 col-md-10 m-auto">
        
                            <ul id="noticedata" class="list-group">
    
                     </ul>
        
                    </div>
                </form>
                </div>
              </div>
          
          
          
              <div id="openform" data-bs-backdrop="static" class="row modal p-2 mt-5">
          
              <div class="col-md-10 modal-dialog modal-content shadowx  mt-3 bg-gradient- bg-light text- mb-5 col-12 m-auto">
          
                <form  id="formdata" action="#" method="post">
        
          
              
                      <div class="col-11">
                        <p class="p-2 text-muted text-center fw-semibold fs-5">My notice form</p>
                      </div>
          
                              
          
                      <div class="d-flex  p-2 justify-content-between align-items-center">
                        <p class="w-25 fw-semibold">Notice date</p>
                        <code class="p-1">-</code>
                        <input type="datetime-local" value="" name="notice_date" class="w-75 shadowx form-dev form-control-sm" >
                      </div>
          
                      
                      <div class="d-flex  p-2 justify-content-between align-items-center">
                        <p class="w-25 fw-semibold">Title </p>
                        <code class="p-1">*</code> 
                        <input required type="text" value=""  name="title" placeholder="title here" class="w-75 shadowx form-dev form-control-sm" >
                      </div>
  
          
                      <div class="d-flex  p-2 justify-content-between align-items-center">
                        <p class="w-25 fw-semibold">Description</p>
                        <code class="p-1">-</code>
                       <textarea  name="description" placeholder="What's on your mind" class="w-75 shadowx form-dev form-control-sm" id="" cols="30" rows="5"></textarea>
                      </div>
  
                      <div class="d-flex p-2 justify-content-between align-items-center">
                        <code class="w-25 fw-semibold">Choose pdf or jpeg <br> (upto 500kb) </code>
                        <code class="p-1">-</code>
                        <input name="attachment" accept="image/png, image/jpeg, application/pdf" type="file" class="w-75 shadowx form-dev form-control-sm"  id="">
                      </div>
                    
          
                      <div class="d-flex  p-2 justify-content-between align-items-center">
                        <p class="w-25 fw-semibold"></p>
          
                        <div class="images_append w-75">
          
               
                          
                        </div>
          
                      </div>        
          
                      <div class="d-flex justify-content-between p-2 mt-2 mb-2">
                        <button type="button" data-bs-dismiss="modal" class="btn text-primary fw-semibold nav-fill btn-hover shadowx">Close</button>
                        <button type="submit" class="btn text-primary fw-semibold submitbtn nav-fill btn-hover shadowx">Create and publish</button>
                      </div>
          
                </form>
          
              </div>
          
             </div>
          
            </content>
          
          
                  <!-- end  -->
          
                </main>
          

<%- include("../component/___node.html") %>

</body>

<script>

$("#findDate").change(function (e) {
        let findDate = $("#findDate").val().replaceAll("-", "/");

        var value = findDate
        $("#noticedata li").filter(function () {

            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)

        });
    });

$(document).ready(function () {
        $("#search").keyup(function () {
            var value = $(this).val().toLowerCase();
            $("#noticedata li").filter(function () {

                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)

            });
        });
    });


function noticedata() {
        $.ajax({
            type: "post",
            url: "/admin/notice/get",
            data: {},
            dataType: "JSON",
            beforeSend: function(){
              _spin_pull()
            },
            success: function (info) {
                $("#noticedata").html(info.html)
                _spin_pop()

            }
        });
    }

noticedata()


$("#formdata").on("submit", (e) => {
        e.preventDefault();
        const formdata = new FormData($("#formdata")[0])
        $.ajax({
            type: "post",
            url: "/admin/notice/post",
            data: formdata,
            mimeType: "multipart/form-data",
            cache: false,
            processData: false,
            contentType: false,
            dataType: "JSON",
            beforeSend: function(){
                _spin_pull()
            $(".submitbtn").addClass('disabled')
            },
            success: function (res) {

                noticedata()
                _msg_pull(res.alert, res.msg)
                _spin_pop()
            $(".submitbtn").removeClass('disabled')

            }
        });
    })


$('#formcheckout').on('submit', (event)=>{
  event.preventDefault()
  // const dataid= $('#formcheckout').serialize()
  $.ajax({
  method: "post",
  url: "/admin/notice/rm",
  data: $('#formcheckout').serialize(),
  dataType: "JSON",
  success: function (response) {
    _msg_pull(response.alert, response.msg)
    noticedata()
  }
});
})


function _delbox_push(dataid){
$.ajax({
  method: "post",
  url: "/admin/notice/rm",
  data: {dataid},
  dataType: "JSON",
  success: function (response) {
    _msg_pull('alert-danger', 'Delete successfully!')
    noticedata()
  }
});
 
}






</script>



</html>