
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Rank List</title>
  
    <%- include("../component/metadata.html") %> 


</head>

<body onload="pageLoadingTop()">

  <%- include("../component/admin-header-nav.html") %> 
  <%- include("../component/admin-menu-nav.html") %> 



  <div id="main-content" class="p-2 mt-5">

      <div class="col">
  
  
        <div class="row">
          <div class=" w-50 mt-2 m-auto">
              <input class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="search" name="" placeholder="Example: 140044" id="search">
          
          </div>
      
          <p></p>
  
      <div class="col-6 m-auto">
  
          <select name="classBase" id="classBase" class="w-100 form-self">
  
       
              <optgroup label="Class Ten">
                 <option value="Ten-A">Ten - A</option>
                 
                 <option value="Ten-B">Ten - B</option>
                 <option value="Ten-C">Ten - C</option>
                </optgroup>
               
                <optgroup label="Class Nine">
                 <option value="Nine-A">Nine - A</option>
                 <option value="Nine-B">Nine - B</option>
                 <option value="Nine-C">Nine - C</option>
                </optgroup>
               
               
                
                <optgroup label="Class Eight">
                 <option value="Eight-A">Eight - A</option>
                 <option value="Eight-B">Eight - B</option>
                 <option value="Eight-C">Eight - C</option>
                </optgroup>
               
               
               
                
                <optgroup label="Class Seven">
                 <option value="Seven-A">Seven - A</option>
                 <option value="Seven-B">Seven - B</option>
                 <option value="Seven-C">Seven - C</option>
                </optgroup>
                
               
               
               
                
                <optgroup label="Class Six">
                 <option selected value="Six-A">Six - A</option>
                 <option value="Six-B">Six - B</option>
                 <option value="Six-C">Six - C</option>
                </optgroup>
                
             
             </select>
  
      </div>
   
      <p></p>

    <div class="col-11 m-auto col-md-6">

        <div id="list"></div>

    </div>

</div>



    </div>

  </div>

    


    
    
    
    
 

</body>

<script>




$(document).ready(function(){
  $("#search").keyup(function() {
    var value = $(this).val().toLowerCase();
    $("ul li").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});




function load(){


$.ajax({
type: "post",
url: "/admin/result/rank/page",
data: {className:"Six", sectionName: "A"},
dataType: "JSON",
beforeSend: function(){

  

},
success: function (info) {

  $("#list").html(info.infoStudentRank)



}
});



}

load()




$(document).ready(function(){
  $("#classBase").change(function(e) {

let value= $("#classBase").val().split("-");
let className= value[0];
let sectionName= value[1];

$.ajax({
type: "post",
url: "/admin/result/rank/page",
data: {className, sectionName},
dataType: "JSON",
beforeSend: function(){

  

},
success: function (info) {

  $("#list").html(info.infoStudentRank)



}
});



   
    });

});



</script>

</html>