
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UAompatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Routine</title>

    <%- include("../component/metadata.html") %> 

  </head>
  <style>
    .active-class, .status-class:hover{
      border-bottom: 3px solid rgb(13,110,253);
    }
  
    .active-section, .status-section:hover{
      border-bottom: 3px solid rgb(13,110,253);
    }
    .active-day:hover, input[name='day_name']:checked{
      border-bottom: 3px solid rgb(13,110,253);
    }
  
  </style>
<body onload="pageLoadingTop()">

 <%- include("../component/admin-header-nav.html") %> 
 <%- include("../component/admin-menu-nav.html") %> 


 <main id="main-content" class="p-2 main-content mt-5">
  <content>

    <div class="row mt-5 mb-2">
      <div class="col-12 m-auto mb-2">
        <div class="d-flex justify-content-end me-2">
            <button type="button" data-bs-toggle="modal" data-bs-target="#openform" id="openformbtn"
                class="btn link-success shadowx btn-go fw-500">Create a new routine</button>
        </div>

      </div>

      <div class="col-md-11 mb-2 m-auto shadowx p-2 col-12" style="overflow: auto;">
    
        <div class="d-flex p-2 m-1 border  fw-semibold">
          <label class="flex-fill rounded-0 active-day btn link-primary fw-semibold" for="sunday">
            <input onclick="get_day('ররিবার')" id="sunday" checked value="ররিবার" type="radio" name="day_name" class="flex-fill p-2 link-primary form-check-input fw-semibold"></input>
            Sunday
          </label>
    
          <label class="flex-fill rounded-0 active-day btn link-primary fw-semibold" for="monday">
            <input onclick="get_day('সোমবার')" id="monday"  value="সোমবার" type="radio" name="day_name" class="flex-fill p-2 link-primary form-check-input fw-semibold"></input>
            Monday
          </label>
    
    
          <label class="flex-fill rounded-0 active-day btn link-primary fw-semibold" for="tuesday">
            <input onclick="get_day('মঙ্গলবার')"  id="tuesday"  value="মঙ্গলবার" type="radio" name="day_name" class="flex-fill p-2 link-primary form-check-input fw-semibold"></input>
            Tuesday
          </label>
    
          <label class="flex-fill rounded-0 active-day btn link-primary fw-semibold" for="wednesday">
            <input onclick="get_day('বুধবার')" id="wednesday"  value="বুধবার" type="radio" name="day_name" class="flex-fill p-2 link-primary form-check-input fw-semibold"></input>
            Wednesday
          </label>
    
          <label class="flex-fill rounded-0 active-day btn link-primary fw-semibold" for="thusday">
            <input onclick="get_day('বৃহস্পতিবার')" id="thusday"  value="বৃহস্পতিবার" type="radio" name="day_name" class="flex-fill p-2 link-primary form-check-input fw-semibold"></input>
            Thusday
          </label>
          
        </div>  
    
    
          <div class="d-flex border p-2 m-1  fw-semibold">
          <button onclick="get_class('Six')" class="status-class active-class flex-fill btn rounded-0 link-primary fw-semibold">SIX</button>
          <button onclick="get_class('Seven')" class="status-class flex-fill btn rounded-0 link-primary fw-semibold">SEVEN</button>
          <button onclick="get_class('Eight')" class="status-class flex-fill btn rounded-0 link-primary fw-semibold">Eight</button>
          <button onclick="get_class('Nine')" class="status-class flex-fill btn rounded-0 link-primary fw-semibold">Nine</button>
          <button onclick="get_class('Ten')" class="status-class flex-fill btn rounded-0 link-primary fw-semibold">Ten</button>
        </div>  
    
        <div class="d-flex border p-2 m-1 fw-semibold">
          <button onclick="get_section('A')" class="status-section active-section flex-fill btn rounded-0 link-primary fw-semibold">A</button>
          <button onclick="get_section('B')" class="status-section flex-fill btn rounded-0 link-primary fw-semibold">B</button>
          <button onclick="get_section('C')" class="status-section flex-fill btn rounded-0 link-primary fw-semibold">C</button>
        </div>  
    
      </div>

              <form id="formcheckout" action="#" method="post">

              <div class="col-10 m-auto">
                <div class="d-flex p-2 m-auto shadowx fw-semibold">
                  <input class="check-mark shadowx form-check-input" type="checkbox" value="checkout" name="checkout" id="">
                  <button type="submit" name="" class="btn btn-link p-0 fw-semibold ps-2">Delete forever</button>
          </div>
              </div>

              <div id="elementdata" class="check-mark-area d-flex flex-wrap">



             </div>
           </form>



      </div>

      <div id="openform" data-bs-backdrop="static" class="row modal p-2 mt-5">

          <div
              class="col-md-11 modal-dialog modal-content shadowx  mt-3 bg-gradient- bg-light text- mb-5 col-12 m-auto">

              <form id="formdata" action="#" method="post">
                  <div class="col-11">
                      <p class="p-2 text-muted text-center fw-semibold fs-5">My create form</p>
                  </div>


                  <div class="d-flex  p-2 justify-content-between align-items-center">
                    <code class="pe-1">*</code> 
                        <select required name="class_name" class="w-100 shadowx form-dev form-control-sm"
                          id="chooseclass">
                          <option disabled selected value="">Choose a class</option>
                          <option value="Six">Six</option>
                          <option value="Seven">Seven</option>
                          <option value="Eight">Eight</option>
                          <option value="Nine">Nine</option>
                          <option value="Ten">Ten</option>
                      </select>

                  </div>

                  
                  <div class="d-flex  p-2 justify-content-between align-items-center">
                    <code class="pe-1">*</code> 
                        <select required name="section_name" class="w-100 shadowx form-dev form-control-sm"
                          id="choosesection">
                          <option disabled selected value="">Choose a section</option>
                          <option value="A">A</option>
                          <option value="B">B</option>
                          <option value="C">C</option>

                      </select>

                  </div>



                  
                  <div class="d-flex  p-2 justify-content-between align-items-center">
                    <code class="pe-1">*</code>   
                     <select id="dynamicTeacher" required name="teacher_name" class="w-100 shadowx form-dev form-control-sm"

                    <option selected  value="">Choose a teacher</option>
                      
                   </select>
                </div>


                      <div class="d-flex  p-2 justify-content-center align-items-center">
                        <code class="pe-1">*</code> 
                        <select id="choosesubject"  required name="subject_name" class="w-100 shadowx form-dev form-control-sm">

                        <option selected  value="">Choose a subject</option>
                          
                       </select>
    
                      </div>


                      <div class="d-flex  p-2 justify-content-center align-items-center">
                        <code class="pe-1">*</code> 
                         <select required name="day_name" class="flex-fill shadowx form-dev form-control-sm" placeholder="Choose a subject">
                          <option disabled selected value="">Choose a day</option>
                          <option value="ররিবার">ররিবার</option>
                          <option value="সোমবার">সোমবার</option>
                          <option value="মঙ্গলবার">মঙ্গলবার</option>
                          <option value="বুধবার">বুধবার</option>
                          <option value="বৃহস্পতিবার">বৃহস্পতিবার</option>
                           </select>
  
                        </div>


                      <div class="d-flex  p-2 justify-content-center align-items-center">
                      <code class="pe-1">*</code> 
                       <select required name="periodTable" class="flex-fill shadowx form-dev form-control-sm" placeholder="Choose a subject">
                        <option disabled selected value="">Choose a period</option>
                        <option value="১ম$%&১০ঃ১৫ - ১১ঃ০৫">১ম - ১০ঃ১৫ - ১১ঃ০৫</option>
                        <option value="২য়$%&১১ঃ০৫ - ১১ঃ৫০">২য় - ১১ঃ০৫ - ১১ঃ৫০</option>
                        <option value="৩য়$%&১১ঃ৫০ - ১২ঃ৩৫">৩য় - ১১ঃ৫০ - ১২ঃ৩৫</option>
                        <option value="৪র্থ$%&১২ঃ৩৫ - ১ঃ২০">৪র্থ - ১২ঃ৩৫ - ১ঃ২০</option>
                        <option value="৫ম$%&২ঃ০০ - ২ঃ৪০">৫ম - ২ঃ০০ - ২ঃ৪০</option>
                        <option value="৬ষ্ট$%&২ঃ৪০ - ৩ঃ২০">৬ষ্ট - ২ঃ৪০ - ৩ঃ২০</option>
                        <option value="৭ম$%&৩ঃ২০ - ৪ঃ১০">৭ম - ৩ঃ২০ - ৪ঃ১০</option>
                
                </select>

                      </div>


                  <div class="d-flex justify-content-between p-2 mb-2">
                      <button type="button" data-bs-dismiss="modal" class="btn btn-link">Close</button>
                      <button class="btn  text-primary submitbtn nav-fill btn-hover shadowx">Create an save</button>
                  </div>

              </form>

          </div>


      </div>
  </content>

</main>

  <%- include("../component/___node.html") %> 

</body>
<script>
  $('.status-class').on('click', (event)=>{
    $('.status-class').removeClass('active-class')
    $(event.target).addClass('active-class')
  })  
  
  $('.status-section').on('click', (event)=>{
    $('.status-section').removeClass('active-section')
    $(event.target).addClass('active-section')
  })  
  
  // var active_day= $('input[name="day_name"]:checked').val();
  // var active_class= $('.active-class').text();
  // var active_section= $('.active-section').text();

</script>
<script>




$('#formcheckout').on('submit', (event)=>{
  event.preventDefault()
  $.ajax({
  method: "post",
  url: "/admin/routine/rm",
  data: $('#formcheckout').serialize(),
  dataType: "JSON",
  success: function (res) {
    _msg_pull(res.alert, res.msg)
    get_class('Six')
  }
});
})



function get_class(class_name){
  const day_name= $('input[name="day_name"]:checked').val();
  const section_name= $('.active-section').text();
$.ajax({
  method: "POST",
  url: "/admin/routine/get/",
  data: {class_name,section_name, day_name},
  dataType: "JSON",
  beforeSend: function(){
  _spin_pull();
  },
  success: function (res) {
  _spin_pop()
  if(res.status==true){
    $('#elementdata').html(res.htmldata)
  } else  $('#norecord').html(res.htmldata)
  }
});
}

get_class('Six')

function get_section(section_name){
  const day_name= $('input[name="day_name"]:checked').val();
  const class_name= $('.active-class').text();

$.ajax({
  method: "POST",
  url: "/admin/routine/get/",
  data: {class_name, section_name, day_name},
  dataType: "JSON",
  beforeSend: function(){
  _spin_pull();
  },
  success: function (res) {
  _spin_pop()
  if(res.status==true){
    $('#elementdata').html(res.htmldata)
  } else  $('#norecord').html(res.htmldata)
  }
});
}


function get_day(day_name){
 const class_name= $('.active-class').text();
 const section_name= $('.active-section').text();

 $.ajax({
  method: "POST",
  url: "/admin/routine/get/",
  data: {class_name, section_name, day_name},
  dataType: "JSON",
  beforeSend: function(){
  _spin_pull();
  },
  success: function (res) {
  _spin_pop()
  if(res.status==true){
    $('#elementdata').html(res.htmldata)
  } else  $('#norecord').html(res.htmldata)
  }
});
}




$("#chooseclass").on("click", ()=>{
const class_name= $("#chooseclass").val();
$.ajax({
    method: "POST",
    url: "/admin/dynamic/subject/get",
    data: {class_name},
    dataType: "JSON",
    success: function (res) {
        $("#choosesubject").html(res.htmldata);
        
    }
});

})




function dynamicTeacher(){

$.ajax({
method: "POST",
url: "/admin/dynamic/teacher/get",
data: {},
dataType: "JSON",
success: function (res) {

    $("#dynamicTeacher").html(res.htmldata);


   
    
}
});

}

dynamicTeacher()





$("#formdata").on("submit", (e)=>{
e.preventDefault()

$.ajax({
    type: "post",
    url: "/admin/routine/post",
    data: $("#formdata").serialize(),
    dataType: "JSON",
    beforeSend: function(){
          $(".submitbtn").addClass("disabled")
          _spin_pull()

    },
    success: function (res) {

      _msg_pull(res.alert, res.msg)
        _spin_pop()
        $(".submitbtn").removeClass("disabled")

      


    }
});
})







</script>


</html>