
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UAompatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Routine</title>

    <%- include("../component/metadata.html") %> 

  </head>
  <style>
    
    
    .Container{
          /* height: 150px;
          width: 250px; */
          overflow-y: auto;
          border-radius: 5px;
          margin: 0 auto;
        }
        
        .Content{
          width: 300px;
          color: white;
          textlign: center;
        }
        
        .Flipped, .Flipped .Content{
          transform: rotateX(180deg);
        }
        
        /* Designing for scrollar */
        ::-webkit-scrollbar {
          width: 5px;
        }
      
        /* Track */
        ::-webkit-scrollbar-track {
          background: gainsboro;
          border-radius: 5px;
        }
      
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: rgb(140, 49, 49);
          border-radius: 5px;
        }
      
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #691a1a;
        }
    
    
    
   </style>

<body onload="pageLoadingTop()">

 <%- include("../component/admin-header-nav.html") %> 
 <%- include("../component/admin-menu-nav.html") %> 


 <main id="main-content" class="p-2 main-content mt-5">
  <content>
      <div class="row mt-5">

          <div class="col-12 m-auto mb-2">
              <div class="d-flex justify-content-end me-2">
                  <button type="button" data-bs-toggle="modal" data-bs-target="#openform" id="openformbtn"
                      class="btn link-success shadowx btn-go fw-500">Create a new routine</button>
              </div>

              <div class="d-flex p-2 m-1 shadowx fw-semibold">
                <input checked value="ররিবার" type="radio" name="day_name" class="radiobtn btn-primary flex-fill btn link-primary fw-semibold">ররিবার</input>
                <input value="সোমবার" type="radio" name="day_name" class="radiobtn btn-primary flex-fill btn link-primary fw-semibold">সোমবার</input>
                <input value="মঙ্গলবার" type="radio" name="day_name" class="radiobtn btn-primary flex-fill btn link-primary fw-semibold">মঙ্গলবার</input>
                <input value="বুধবার" type="radio" name="day_name" class="radiobtn btn-primary flex-fill btn link-primary fw-semibold">বুধবার</input>
                <input value="বৃহস্পতিবার" type="radio" name="day_name" class="radiobtn btn-primary flex-fill btn link-primary fw-semibold">বৃহস্পতিবার</input>
              </div>  

              <div class="d-flex p-2 m-1 shadowx fw-semibold">
                  <button onclick="find_class('Six')"
                      class="getdata btn-status btn-primary rounded-0 flex-fill btn link-light fw-semibold">SIX</button>
                  <button onclick="find_class('Seven')"
                      class="btn-status flex-fill rounded-0 btn link-primary fw-semibold">SEVEN</button>
                  <button onclick="find_class('Eight')"
                      class="btn-status flex-fill rounded-0 btn link-primary fw-semibold">Eight</button>
                  <button onclick="find_class('Nine')"
                      class="btn-status flex-fill rounded-0 btn link-primary fw-semibold">Nine</button>
                  <button onclick="find_class('Ten')"
                      class="btn-status flex-fill rounded-0 btn link-primary fw-semibold">Ten</button>
              </div>

            </div>

              <form id="formcheckout" action="#" method="post">

              <div class="col-10 m-auto">
                <div class="d-flex p-2 m-auto shadowx fw-semibold">
                  <input class="check-mark shadowx form-check-input" type="checkbox" value="checkout" name="checkout" id="">
                  <button type="submit" name="" class="btn btn-link p-0 fw-semibold ps-2">Delete forever</button>
          </div>
              </div>

              <div id="elementdata" class="check-mark-area d-flex flex-wrap">



             </div>
           </form>



      </div>

      <div id="openform" data-bs-backdrop="static" class="row modal p-2 mt-5">

          <div
              class="col-md-11 modal-dialog modal-content shadowx  mt-3 bg-gradient- bg-light text- mb-5 col-12 m-auto">

              <form id="formdata" action="#" method="post">
                  <div class="col-11">
                      <p class="p-2 text-muted text-center fw-semibold fs-5">My create form</p>
                  </div>


                  <div class="d-flex  p-2 justify-content-between align-items-center">
                    <code class="pe-1">*</code> 
                        <select required name="class_name" class="w-100 shadowx form-dev form-control-sm"
                          id="chooseclass">
                          <option disabled selected value="">Choose a class</option>
                          <option value="Six">Six</option>
                          <option value="Seven">Seven</option>
                          <option value="Eight">Eight</option>
                          <option value="Nine">Nine</option>
                          <option value="Ten">Ten</option>
                      </select>

                  </div>


                  
                  <div class="d-flex  p-2 justify-content-between align-items-center">
                    <code class="pe-1">*</code>   
                     <select id="dynamicTeacher" required name="teacher_name" class="w-100 shadowx form-dev form-control-sm"

                    <option selected  value="">Choose a teacher</option>
                      
                   </select>
                </div>


                      <div class="d-flex  p-2 justify-content-center align-items-center">
                        <code class="pe-1">*</code> 
                        <select id="choosesubject"  required name="subject_name" class="w-100 shadowx form-dev form-control-sm">

                        <option selected  value="">Choose a subject</option>
                          
                       </select>
    
                      </div>


                      <div class="d-flex  p-2 justify-content-center align-items-center">
                        <code class="pe-1">*</code> 
                         <select required name="day_name" class="flex-fill shadowx form-dev form-control-sm" placeholder="Choose a subject">
                          <option disabled selected value="">Choose a day</option>
                          <option value="ররিবার">ররিবার</option>
                          <option value="সোমবার">সোমবার</option>
                          <option value="মঙ্গলবার">মঙ্গলবার</option>
                          <option value="বুধবার">বুধবার</option>
                          <option value="বৃহস্পতিবার">বৃহস্পতিবার</option>
                           </select>
  
                        </div>


                      <div class="d-flex  p-2 justify-content-center align-items-center">
                      <code class="pe-1">*</code> 
                       <select required name="periodTable" class="flex-fill shadowx form-dev form-control-sm" placeholder="Choose a subject">
                        <option disabled selected value="">Choose a period</option>
                        <option value="১ম$%&১০ঃ১৫ - ১১ঃ০৫">১ম - ১০ঃ১৫ - ১১ঃ০৫</option>
                        <option value="২য়$%&১১ঃ০৫ - ১১ঃ৫০">২য় - ১১ঃ০৫ - ১১ঃ৫০</option>
                        <option value="৩য়$%&১১ঃ৫০ - ১২ঃ৩৫">৩য় - ১১ঃ৫০ - ১২ঃ৩৫</option>
                        <option value="৪র্থ$%&১২ঃ৩৫ - ১ঃ২০">৪র্থ - ১২ঃ৩৫ - ১ঃ২০</option>
                        <option value="৫ম$%&২ঃ০০ - ২ঃ৪০">৫ম - ২ঃ০০ - ২ঃ৪০</option>
                        <option value="৬ষ্ট$%&২ঃ৪০ - ৩ঃ২০">৬ষ্ট - ২ঃ৪০ - ৩ঃ২০</option>
                        <option value="৭ম$%&৩ঃ২০ - ৪ঃ১০">৭ম - ৩ঃ২০ - ৪ঃ১০</option>
                
                </select>

                      </div>


                  <div class="d-flex justify-content-between p-2 mb-2">
                      <button type="button" data-bs-dismiss="modal" class="btn btn-link">Close</button>
                      <button class="btn  text-primary submitbtn nav-fill btn-hover shadowx">Create an save</button>
                  </div>

              </form>

          </div>


      </div>
  </content>

</main>

  <%- include("../component/___node.html") %> 

</body>
<script>

$('.btn-status').on('click', (event) => {
        $('.btn-status').removeClass('btn-primary getdata link-light')
        $(event.target).addClass('btn-primary getdata link-light')
    })


$('.radiobtn').on('change', ()=>{
      var class_name=$('.getdata').html();
      var day_name= $('input[name="day_name"]:checked').val();

      
      $.ajax({
            method: "post",
            url: "/admin/routine/get",
            data: { class_name, day_name},
            dataType: "JSON",
            success: function (res) {
            $('#elementdata').html(res.htmldata);


            }
        });
      
    })


function find_class(class_name) {
  var day_name= $('input[name="day_name"]:checked').val();

        $.ajax({
            method: "post",
            url: "/admin/routine/get",
            data: { class_name, day_name},
            dataType: "JSON",
            success: function (res) {
            $('#elementdata').html(res.htmldata);


            }
        });
    }

find_class('Six')


$('#formcheckout').on('submit', (event)=>{
  event.preventDefault()
  $.ajax({
  method: "post",
  url: "/admin/routine/rm",
  data: $('#formcheckout').serialize(),
  dataType: "JSON",
  success: function (res) {
    _msg_pull(res.alert, res.msg)
    find_class('Six')
  }
});
})



$("#chooseclass").on("click", ()=>{
const class_name= $("#chooseclass").val();
$.ajax({
    method: "POST",
    url: "/admin/dynamic/subject/get",
    data: {class_name},
    dataType: "JSON",
    success: function (res) {
        $("#choosesubject").html(res.htmldata);
        
    }
});

})




function dynamicTeacher(){

$.ajax({
method: "POST",
url: "/admin/dynamic/teacher/get",
data: {},
dataType: "JSON",
success: function (res) {

    $("#dynamicTeacher").html(res.htmldata);


   
    
}
});

}

dynamicTeacher()





$("#formdata").on("submit", (e)=>{
e.preventDefault()

$.ajax({
    type: "post",
    url: "/admin/routine/post",
    data: $("#formdata").serialize(),
    dataType: "JSON",
    beforeSend: function(){
          $(".submitbtn").addClass("disabled")
          _spin_pull()

    },
    success: function (res) {

      _msg_pull(res.alert, res.msg)
        _spin_pop()
        $(".submitbtn").removeClass("disabled")

      


    }
});
})







</script>


</html>