<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
  <title>Staff settings</title>
  <%- include("../component/metadata.html") %>


</head>


<body onload="pageLoadingTop()">

  <%- include("../component/admin-header-nav.html") %>
    <%- include("../component/admin-menu-nav.html") %>


      <main id="main-content" class="p-2 main-content mt-5">



  <content>
    <div class="row m-2 mt-5 shadowx text-center">
      <div class="col-11 m-auto">

        <p class="p-2 text-muted fw-semibold fs-5">Setup staff</p>

      </div>
    </div>


    <div id="tabledata" class="row shadow p-2 mt-5">
      
      <div class="col-auto ms-auto me-2">
        <button type="button" data-bs-toggle="modal" data-bs-target="#openform" id="openformbtn"
          class="btn link-success shadowx btn-go fw-500">Create a new data</button>
      </div>
      <p></p>
      <div class="col-md-10 col-12 m-auto">

        <div class="d-flex justify-content-between">
          <select disabled style="width: 100px; outline: none;" class="form-dev shadowx p-0" name="" id="">
            <option   value="15">15</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option selected value="All">All</option>
          </select>

          <input id="search" style="width: 200px; outline: none;" class="ps-2 form-dev p-0 shadowx" type="search"
            placeholder="search">

        </div>

        <form id="formcheckout" action="#" method="get" onsubmit="return false">
        <table class="table mt-1 mbx shadowx table-borderless table-ed">
          <thead>
            <tr>
              <th class="p-3"> <input class="shadowx check-mark form-check-input" type="checkbox" name="checkout" id=""></th>
              <th class="fw-semibold text-muted">Name</th>
              <th class="fw-semibold text-muted">Position</th>
              <th class="fw-semibold text-muted">Action</th>
            </tr>
          </thead>
          <tbody id="tbodydata" class="check-mark-area">

           <tr>
            <td colspan="3" ><span class="text-center shadowx alert-info">Loading...</span></td>
           </tr>

        <tfoot>
             
          <tr>
            <td class="shadowx"> <button type="submit" class="bi shadowx  btnpop bi-trash-fill btn btn-outline-danger"></button></td>
          </tr>

        </tfoot>

          </tbody>
        </table>
      </form>
      </div>
    </div>



    <div id="openform" data-bs-backdrop="static" class="row modal p-2 mt-5">

    <div class="col-md-10 modal-dialog modal-content shadowx  mt-3 bg-gradient- bg-light text- mb-5 col-12 m-auto">

      <form  id="formdata" action="#" method="post">
            <div class="col-11">
              <p class="p-2 text-muted text-center fw-semibold fs-5">My create form</p>
            </div>



            <div class="d-flex  p-2 justify-content-between align-items-center">
              <p class="w-25 fw-semibold m-auto">Position <code>*</code></p>
              
              <input required  type="text" class="w-75 shadowx form-dev form-control-sm" placeholder="Security Guird" name="position">
 
            </div> 
            
            
            <div class="d-flex  p-2 justify-content-between align-items-center">
              <p class="w-25 fw-semibold m-auto">Name <code>*</code></p>
              <input required name="name" class="w-75 shadowx form-dev form-control-sm" placeholder="enter name" type="text">
            </div>

            <div class="d-flex p-2 justify-content-between align-items-center">
              <p class="w-25 fw-semibold m-auto">Gender <code>*</code></p>
              <span class="w-75">
                Male <input value="Male" class="form-check-input shadowx ms-2 me-2" checked type="radio" name="gender" id="">
                Female <input value="Female" class="form-check-input shadowx ms-2" type="radio" name="gender" id="">
            
              </span>
            
            </div>


            <div class="d-flex  p-2 justify-content-between align-items-center">
              <p class="w-25 fw-semibold m-auto">Index No <code>*</code></p>
              <input required name="index_number" class="w-75 shadowx form-dev form-control-sm" placeholder="N12345" type="text">
            </div>

            <div class="d-flex  p-2 justify-content-between align-items-center">
              <p class="w-25 fw-semibold m-auto">Age <code>*</code></p>
              <input required name="age" class="w-75 shadowx form-dev form-control-sm" placeholder="enter age" type="number">
            </div>


            <div class="d-flex  p-2 justify-content-between align-items-center">
              <p class="w-25 fw-semibold m-auto">Email <code>*</code></p>
              <input required name="email" class="w-75 shadowx form-dev form-control-sm" placeholder="example@gmai.com" type="email">
            </div>

            
            <div class="d-flex  p-2 justify-content-between align-items-center">
              <p class="w-25 fw-semibold m-auto">Phone <code>*</code></p>
              <input required maxlength="11" name="phone" class="w-75 shadowx form-dev form-control-sm" placeholder="01XXXXXXXX" type="number">
            </div>


            <div class="d-flex  p-2 justify-content-between align-items-center">
              <p class="w-25 fw-semibold m-auto">Address <code>-</code></p>
              <input  name="address" class="w-75 shadowx form-dev form-control-sm" placeholder="enter address" type="text">
            </div>


            <div class="d-flex  p-2 justify-content-between align-items-center">
              <p class="w-25 fw-semibold m-auto">Joining date <code>*</code></p>
              <input required name="joining_date" class="w-75 shadowx form-dev form-control-sm" type="date">
            </div>

            


            <div class="d-flex  p-2 justify-content-between align-items-center">
              <p class="w-25 fw-semibold m-auto">Photo (upto 500kb) <code>-</code></p>
              
              <input accept="image/png, image/jpeg" name="image" class="w-75 shadowx form-dev form-control-sm" type="file"
                id="">
            </div>


            <div class="d-flex  p-2 justify-content-between align-items-center">
              <p class="w-25 fw-semibold m-auto"></p>

              <div class="images_append w-75">


              </div>

            </div>        

            <div class="d-flex justify-content-between p-2 mb-2">
              <button type="button" data-bs-dismiss="modal" class="btn btn-link">Close</button>
              <button class="btn  text-primary submitbtn nav-fill btn-hover shadowx">Create and save</button>
            </div>

      </form>

    </div>

  
    </div>

  </content>


        <!-- end  -->

      </main>


<%-include("../component/___node.html") %>
<script src="/app/___noviewport.js"></script>

<button style="display: none;" type="button" data-bs-toggle="modal" data-bs-target="#penboxform" id="penboxmodalbtn"
class="btn link-success shadowx btn-go fw-500">Create a new data</button>

<div class="penboxformappend">

</div>

</body>
<script>

$(document).ready(function(){
  $("#search").keyup(function() {
    var value = $(this).val().toLowerCase();
    $("#tabledata tbody tr").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});


noview.port({
    input_class: 'images',
    append_class: 'images_append',
    file_type: 'image',
    max_kb_size: 500,
    multiple: false,


  })

function tabledata(){
  $.ajax({
    method: "post",
    url: "/admin/staff/get",
    data: {type: 'eventnews'},
    dataType: "JSON",
    success: function (res) {
      $('#tabledata tbody').html(res.tabledata)
    }
  });
}

tabledata()

$('#formdata').on('submit', (event)=>{
event.preventDefault();
let formdata = new FormData($("#formdata")[0])
$.ajax({
  method: "post",
  url: "/admin/setup/staff/post",
  data: formdata,
  dataType: "JSON",
  mimeType: 'multipart/form-data',
  cache: false,
  processData: false,
  contentType: false,
  beforeSend: function(){
$('.submitbtn').addClass('disabled')
  },
  success: function (res) {
    _msg_pull(res.alert, res.msg)
    tabledata()
    $('.submitbtn').removeClass('disabled')

  }
});
})


$('#formcheckout').on('submit', (event)=>{
  event.preventDefault()
  // const dataid= $('#formcheckout').serialize()
  $.ajax({
  method: "post",
  url: "/admin/staff/rm",
  data: $('#formcheckout').serialize(),
  dataType: "JSON",
  success: function (response) {
    _msg_pull(response.alert, response.msg)
    tabledata()
  }
});
})


function _delbox_push(dataid){
$.ajax({
  method: "post",
  url: "/admin/staff/rm",
  data: {dataid},
  dataType: "JSON",
  success: function (response) {
    _msg_pull('alert-danger', 'Delete successfully!')
    tabledata()
  }
});
 
}


function _penbox_pull(dataid){
$.ajax({
  method: "post",
  url: "/admin/staff/penbox/pull",
  data: {dataid},
  dataType: "JSON",
  success: function (res) {

    $('.penboxformappend').html(res.penboxdata)
    $('#penboxmodalbtn').click()
    
  }
});
}


$(document).on('submit','#penboxdata', (event)=>{
  event.preventDefault();
  $.ajax({
    method: "post",
    url: "/admin/staff/penbox/push",
    data: $('.penboxdata').serialize(),
    dataType: "JSON",
    success: function (res) {
      _msg_pull('alert-success', 'Update successfully!')
      tabledata()
    }
  });

})


</script>


</html>