
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher settings</title>
    <%- include("../component/metadata.html") %> 

</head>

<body onload="pageLoadingTop()">
  <%- include("../component/admin-header-nav.html") %> 
  <%- include("../component/admin-menu-nav.html") %> 

  <main id="main-content" class="p-2 main-content mt-5">


    <content>
      <div class="row m-2 mt-5 shadowx text-center">
        <div class="col-11 m-auto">
  
          <p class="p-2 text-muted fw-semibold fs-5">Our teacher settings</p>
  
        </div>
      </div>
  
  
      <div id="tabledata" class="row shadow p-2 mt-5">
        
        <div class="col-auto ms-auto me-2">
          <button type="button" data-bs-toggle="modal" data-bs-target="#openform" id="openformbtn"
            class="btn link-success shadowx btn-go fw-500">Create a new data</button>
        </div>
        <p></p>
        <div class="col-md-11 col-12 m-auto">
  
          <div class="d-flex justify-content-between">
            <select disabled style="width: 100px; outline: none;" class="form-dev shadowx p-0" name="" id="">
              <option   value="15">15</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option selected value="All">All</option>
            </select>
  
            <input id="search" style="width: 200px; outline: none;" class="ps-2 form-dev p-0 shadowx" type="search"
              placeholder="search">
  
          </div>
  
          <form class="w-100 overflow-auto" id="formcheckout" action="#" method="get" onsubmit="return false">
          <table  class="table text-nowrap mt-1 mbx shadowx table-borderless">
            <thead>
              <tr>
                <th class="p-3"> <input class="shadowx check-mark form-check-input" type="checkbox" name="checkout" id=""></th>
                <th class="fw-semibold text-muted">Name</th>
                <th class="fw-semibold text-muted">Position</th>
                <th class="fw-semibold text-muted">Action</th>
              </tr>
            </thead>
            <tbody id="tbodydata" class="check-mark-area">
  
             <tr>
              <td colspan="3" ><span class="text-center shadowx alert-info">Loading...</span></td>
             </tr>
  
          <tfoot>
               
            <tr>
              <td class="shadowx"> <button type="submit" class="bi shadowx  btnpop bi-trash-fill btn btn-outline-danger"></button></td>
            </tr>
  
          </tfoot>
  
            </tbody>
          </table>
        </form>
        </div>
      </div>
  
  
  
      <div id="openform" data-bs-backdrop="static" class="row modal p-2 mt-5">
  
      <div class="col-md-10 modal-dialog modal-content shadowx  mt-3 bg-gradient- bg-light text- mb-5 col-12 m-auto">
  
        <form  id="formdata" action="#" method="post">
              <div class="col-11 pt-2">
                <p class="p-2 text-muted text-center fw-semibold fs-5">My create form</p>
              </div>

  
              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Position</p>
                  
                <code class="pe-1">*</code> 
                
                <input autocomplete="off" class="w-75 shadowx form-dev form-control-sm" required placeholder="Assistant Teacher" name="position"
                    list="positionList">
                  <datalist id="positionList">
                    <option value="Headmaster">Headmaster</option>
                    <option value="Assistant Headmaster">Assistant Headmaster</option>
                    <option value="Assistant Teacher">Assistant Teacher</option>
                    <option value="ICT Teacher">ICT Teacher</option>
                    <option value="Sports Teacher">Sports Teacher</option>
                    <option value="Librarian">Librarian</option>

                  </datalist>

              </div> 
              
              
              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Name</p>
                <code class="pe-1">*</code> 
                
                <input required name="name" class="w-75 shadowx form-dev form-control-sm" placeholder="enter name" type="text">
              </div>
  
              <div class="d-flex p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Gender</p>
                <code class="pe-1">*</code>  
                  <span class="w-75">
                  Male <input value="Male" class="form-check-input shadowx ms-2 me-2" checked type="radio" name="gender" id="">
                  Female <input value="Female" class="form-check-input shadowx ms-2" type="radio" name="gender" id="">
              
                </span>
              
              </div>
  
  
              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Index No </p>
                <code class="pe-1">*</code>  
                  <input name="index_number" class="w-75 shadowx form-dev form-control-sm" placeholder="N123456" type="text">
              </div>
    
  
              <div class="d-flex  p-2 justify-content-between align-items-center">
                 
               <p class="w-25 fw-semibold m-auto">PDSID No </p>
               <code class="pe-1">-</code> <input name="pds_id" class="w-75 shadowx form-dev form-control-sm" placeholder="2345678902345" type="number">
              </div>
  
  
  
              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Email</p>
                <code class="pe-1">*</code>  
                <input required name="email" class="w-75 shadowx form-dev form-control-sm" placeholder="example@gmai.com" type="email">
              </div>

              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Default password</p>
                <code class="pe-1">*</code>  
                 <input readonly required  name="password" class="w-75 shadowx form-dev form-control-sm" value="password@abc" placeholder="password@abc" type="text">
              </div>
  
              
              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Phone </p>
                <code class="pe-1">*</code>  
                <input required maxlength="11" name="phone" class="w-75 shadowx form-dev form-control-sm" placeholder="01XXXXXXXX" type="number">
              </div>
              

              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Birth date</p>
                <code class="pe-1">-</code>  
                  <input  name="birth_date" class="w-75 shadowx form-dev form-control-sm" type="date">
              </div>
  
              
              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Blood group</p>

                <code class="pe-1">*</code>  
                   <select required name="blood_group" class="w-75 shadowx form-dev form-control-sm" id="" >
                  <option selected disabled value="">Blood Group</option>
                               
                  <optgroup label="Positive"> 
                
                    <option  value="A+ve">A+ve</option>
                    <option value="B+ve">B+ve</option>
                    <option value="O+ve">O+ve</option>
                    <option value="AB+ve">AB+ve</option>
                
                    </optgroup> 
                    
                    <optgroup label="Negative"> 
                    <option  value="A-ve">A-ve</option>
                    <option value="B-ve">B-ve</option>
                    <option value="O-ve">O-ve</option>
                    <option value="AB-ve">AB-ve</option>
                
                    </optgroup>
                
                    <option value="N/A">N/A</option>
                
                </select> 
              
              </div>



          <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Religion</p>

                <code class="pe-1">*</code>  
                
                <select required class="w-75 shadowx form-dev form-control-sm" name="religion" id="">
           
                  <option disabled selected value="">Select Religion</option>
                  <option value="Islam">Islam</option>
                  <option value="Hinduism">Hinduism</option>
                  <option value="Christianity">Christianity</option>
                  <option value="Buddhism">Buddhism</option>
              <option value="Others">Others</option>
            </select>
              </div>

          

  
              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Address</p>
                <code class="pe-1">-</code>  
                 <input  name="address" class="w-75 shadowx form-dev form-control-sm" placeholder="enter address" type="text">
              </div>
  
  
              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Joining date</p>
                <code class="pe-1">-</code>  
                   <input  name="joining_date" class="w-75 shadowx form-dev form-control-sm" type="date">
              </div>
  
              
  
  
              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Photo</p>
                <code class="pe-1">-</code>  
                  <input accept=".jpg, .jpeg, .png"  name="images" class="w-75 shadowx images form-dev form-control-sm" type="file"
                  id="">
              </div>
  
  
              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto"></p>
  
                <div class="images_append w-75">
  
  
                </div>
  
              </div>        
  
              <div class="d-flex justify-content-between p-2 mb-2">
                <button type="button" data-bs-dismiss="modal" class="btn btn-link">Close</button>
                <input style="display: none;" type="reset" value="Reset" class="formreset btn btn-link">
                <button class="btn  text-primary submitbtn nav-fill btn-hover shadowx">Create and save</button>
              </div>
  
        </form>
  
      </div>
  
    
      </div>
  
    </content>


</main>

<%-include("../component/___node.html") %>
<script src="/app/___noviewport.js"></script>

<button style="display: none;" type="button" data-bs-toggle="modal" data-bs-target="#penboxform" id="penboxmodalbtn"
class="btn link-success shadowx btn-go fw-500">Create a new data</button>

<div class="penboxformappend">

</div>

<script>

$(document).ready(function(){
    $("#search").keyup(function() {
      var value = $(this).val().toLowerCase();
      $("#tabledata tbody tr").filter(function() {
         
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
       
      });
    });
  });
  
  
  noview.port({
      input_class: 'images',
      append_class: 'images_append',
      file_type: 'image',
      max_kb_size: 1024,
      multiple: false,
  
  
    })
  
  function tabledata(){
    $.ajax({
      method: "post",
      url: "/admin/teacher/get/pull",
      data: {},
      dataType: "JSON",
      success: function (res) {
        $('#tabledata tbody').html(res.tabledata)
      }
    });
  }
  
  tabledata()
  
  $('#formdata').on('submit', (event)=>{
  event.preventDefault();
  let formdata = new FormData($("#formdata")[0])
  $.ajax({
    method: "post",
    url: "/admin/setup/teacher/post",
    data: formdata,
    dataType: "JSON",
    mimeType: 'multipart/form-data',
    cache: false,
    processData: false,
    contentType: false,
    beforeSend: function(){
  $('.submitbtn').addClass('disabled')
    },
    success: function (res) {
      _msg_pull(res.alert, res.msg)
      tabledata()
      $('.submitbtn').removeClass('disabled')
       if(res.status==200){
        $('.formreset').click()
       }
    }
  });
  })
  
  
  $('#formcheckout').on('submit', (event)=>{
    event.preventDefault()
    // const dataid= $('#formcheckout').serialize()
    $.ajax({
    method: "post",
    url: "/admin/teacher/rm/pop",
    data: $('#formcheckout').serialize(),
    dataType: "JSON",
    success: function (response) {
      _msg_pull(response.alert, response.msg)
      tabledata()
    }
  });
  })
  
  
  function _delbox_push(dataid){
  $.ajax({
    method: "post",
    url: "/admin/teacher/rm/pop",
    data: {dataid},
    dataType: "JSON",
    success: function (response) {
      _msg_pull('alert-danger', 'Delete successfully!')
      tabledata()
    }
  });
   
  }
  
  
  function _penbox_pull(dataid){
  $.ajax({
    method: "post",
    url: "/admin/teacher/penbox/pull",
    data: {dataid},
    dataType: "JSON",
    success: function (res) {
  
      $('.penboxformappend').html(res.penboxdata)
      $('#penboxmodalbtn').click()
      
    }
  });
  }
  
  
  $(document).on('submit','#penboxdata', (event)=>{
    event.preventDefault();
    $.ajax({
      method: "post",
      url: "/admin/teacher/penbox/push",
      data: $('.penboxdata').serialize(),
      dataType: "JSON",
      success: function (res) {
        _msg_pull(res.alert, res.msg)
        tabledata()
      }
    });
  
  })
  
  
</script>

</body>
</html>