

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bi report init</title>

    <%- include("../component/metadata.html") %> 
    
</head>

<body onload="pageLoadingTop()">
    <%- include("../component/user-header-nav.html") %> 
    <%- include("../component/teacher-offcanvas-nav.html") %> 

    <center>
        <legend>BI report system</legend>
    </center>

    <div class="row mt-5 mbx p-2 shadowx" id="class_section_link">

        <center>
            <button id="classSixbtn" class="btn-self mt-3 dropdown-toggle w-50">ষষ্ঠ শ্রেণী</button>
           </center>
           
        <div id="classSix" class="row">
        
        
            <div class="card shadow-sm m-auto ">
                <div class="card-body text-center text-dark">
                    <h4 class="card-title">ষষ্ঠ শ্রেণী</h4>
                </div>
            </div>
        
            <div class="col-md-4 col-10 m-auto">
           
                <a href="/teacher/bi/page-report-get/1/Six/A">
                    <div class="card shadow-sm">
    
                      <div class="card-body text-center">
                          <h4 class="card-title">শাখা (ক)</h4>
                      </div>
                  </div>
                </a>
        
              </div>      
              
              
              <div class="col-md-4 col-10 m-auto"> 
        
                <a href="/teacher/bi/page-report-get/1/Six/B">
                  <div class="card shadow-sm">
    
                      <div class="card-body text-center">
                          <h4 class="card-title">শাখা (খ)</h4>
                      </div>
                  </div>
                </a>
        
              </div>  
        
        
              <div class="col-md-4 col-10 m-auto">
        
                <a href="/teacher/bi/page-report-get/1/Six/C">
                    <div class="card shadow-sm">
    
                      <div class="card-body text-center">
                          <h4 class="card-title">শাখা (গ)</h4>
                      </div>
                  </div>
                </a>
        
              </div> 
        </div>
        
        
        <center>
            <button id="classSevenbtn" class="btn-self mt-3 dropdown-toggle w-50">সপ্তম শ্রেণী</button>
           </center>
        <div id="classSeven" class="row">
        
            <div class="card shadow-sm m-auto ">
                <div class="card-body text-center text-dark">
                    <h4 class="card-title">সপ্তম শ্রেণী</h4>
                </div>
            </div>
        
            <div class="col-md-4 col-10 m-auto">
           
                <a href="/teacher/bi/page-report-get/1/Seven/A">
                    <div class="card shadow-sm">
    
                      <div class="card-body text-center">
                          <h4 class="card-title">শাখা (ক)</h4>
                      </div>
                  </div>
                </a>
        
              </div>      
              
              
              <div class="col-md-4 col-10 m-auto">
        
                <a href="/teacher/bi/page-report-get/1/Seven/B">
                    <div class="card shadow-sm">
    
                      <div class="card-body text-center">
                          <h4 class="card-title">শাখা (খ)</h4>
                      </div>
                  </div>
                </a>
        
              </div>  
        
        
              <div class="col-md-4 col-10 m-auto">
        
                <a href="/teacher/bi/page-report-get/1/Seven/C">
                    <div class="card shadow-sm">
    
                      <div class="card-body text-center">
                          <h4 class="card-title">শাখা (গ)</h4>
                      </div>
                  </div>
                </a>
        
              </div> 
    
        </div>
        
        
        
        
        <center>
            <button id="classEightbtn" class="btn-self mt-3 dropdown-toggle w-50">অষ্টম শ্রেণী</button>
           </center>
        <div id="classEight" class="row">
        
            <div class="card shadow-sm m-auto ">
                <div class="card-body text-center text-dark">
                    <h4 class="card-title">অষ্টম শ্রেণী</h4>
                </div>
            </div>
        
            <div class="col-md-4 col-10 m-auto">
           
                <a href="/teacher/bi/page-report-get/1/Eight/A">
                    <div class="card shadow-sm">
    
                      <div class="card-body text-center">
                          <h4 class="card-title">শাখা (ক)</h4>
                      </div>
                  </div>
                </a>
        
              </div>      
              
              
              <div class="col-md-4 col-10 m-auto">
        
                <a href="/teacher/bi/page-report-get/1/Eight/B">
                    <div class="card shadow-sm">
    
                      <div class="card-body text-center">
                          <h4 class="card-title">শাখা (খ)</h4>
                      </div>
                  </div>
                </a>
        
              </div>  
        
        
              <div class="col-md-4 col-10 m-auto">
        
                <a href="/teacher/bi/page-report-get/1/Eight/C">
                    <div class="card shadow-sm">
    
                      <div class="card-body text-center">
                          <h4 class="card-title">শাখা (গ)</h4>
                      </div>
                  </div>
                </a>
        
              </div> 
        </div>
        
        
        
        
        
        
        <center>
            <button id="classNinebtn" class="btn-self mt-3 dropdown-toggle w-50">নবম শ্রেণী</button>
           </center>
        <div id="classNine" class="row">
        
            <div class="card shadow-sm m-auto ">
                <div class="card-body text-center text-dark">
                    <h4 class="card-title">নবম শ্রেণী</h4>
                </div>
            </div>
        
            <div class="col-md-4 col-10 m-auto">
           
                <a href="/teacher/bi/page-report-get/1/Nine/A">
                    <div class="card shadow-sm">
    
                      <div class="card-body text-center">
                          <h4 class="card-title">শাখা (ক)</h4>
                      </div>
                  </div>
                </a>
        
              </div>      
              
              
              <div class="col-md-4 col-10 m-auto">
        
                <a href="/teacher/bi/page-report-get/1/Nine/B">
                    <div class="card shadow-sm">
    
                      <div class="card-body text-center">
                          <h4 class="card-title">শাখা (খ)</h4>
                      </div>
                  </div>
                </a>
        
              </div>  
        
        
              <div class="col-md-4 col-10 m-auto">
        
                <a href="/teacher/bi/page-report-get/1/Nine/C">
                    <div class="card shadow-sm">
    
                      <div class="card-body text-center">
                          <h4 class="card-title">শাখা (গ)</h4>
                      </div>
                  </div>
                </a>
        
              </div> 
        </div>
        
        
        
        
        
        
        
        <center>
            <button id="classTenbtn" class="btn-self mt-3 dropdown-toggle w-50">দশম শ্রেণী</button>
           </center>
        <div id="classTen" class="row ">
        
            <div class="card shadow-sm m-auto ">
                <div class="card-body text-center text-dark">
                    <h4 class="card-title">দশম শ্রেণী</h4>
                </div>
            </div>
        
            <div class="col-md-4 col-10 m-auto">
           
                <a href="/teacher/bi/page-report-get/1/Ten/A">
                    <div class="card shadow-sm">
    
                      <div class="card-body text-center">
                          <h4 class="card-title">শাখা (ক)</h4>
                      </div>
                  </div>
                </a>
        
              </div>      
              
              
              <div class="col-md-4 col-10 m-auto">
        
                <a href="/teacher/bi/page-report-get/1/Ten/B">
                    <div class="card shadow-sm">
    
                      <div class="card-body text-center">
                          <h4 class="card-title">শাখা (খ)</h4>
                      </div>
                  </div>
                </a>
        
              </div>  
        
        
              <div class="col-md-4 col-10 m-auto">
        
                <a href="/teacher/bi/page-report-get/1/Ten/C">
                    <div class="card shadow-sm">
    
                      <div class="card-body text-center">
                          <h4 class="card-title">শাখা (গ)</h4>
                      </div>
                  </div>
                </a>
        
              </div> 
    
    </div>
    
    
    
    </div>

</body>
</html>