


<div id="slider" class="row" >
  <div id="imageSlider" class="col-12" style="overflow: hidden !important;">
      <script type="text/javascript">
          jQuery(document).ready(function () {
              jQuery('#imageSlider').skdslider({
                  slideSelector: '.slide',
                  delay: 5000,
                  animationSpeed: 2000,
                  showNextPrev: true,
                  showPlayButton: true,
                  autoSlide: true,
                  animationType: 'fading'
              });
          });
      </script>

 <%if(info_carousel.length>0) {%>

      <% for( let index = 0; index < info_carousel.length; index++ ) { %>

        <div class="slide">
            <img loading="lazy" class="bg-demo-img-color" src="/image/carousel/resized/<%=info_carousel[index].item_name%>"/>
            <div class="slide-desc">
                <h1 class="text-light p-2"><%=info_school[0]==undefined?'My school name':info_school[0].name%></h1>
            </div>
        </div>
  
      <% } %>
      <% } else {%>
        <div class="slide">
            <img loading="lazy" class="bg-demo-img-color" src="/image/demo/i-4.png"/>
            <div class="slide-desc">
                <h1 class="text-light p-2">My school name</h1>
            </div>
        </div>

        <div class="slide">
            <img loading="lazy" class="bg-demo-img-color" src="/image/demo/i-5.png"/>
            <div class="slide-desc">
                <h1 class="text-light p-2">My school name</h1>
            </div>
        </div>

        <% } %>


  </div>
  <img class="mt-0 p-2" id="mujibCorner"  src="/image/default/mujib_100_logo.png" alt="">

</div> 
