node_modules
public/image/default/resized/!use.svg
public/image/student/resized/!use.svg
public/image/parent/resized/!use.svg
public/image/staff/resized/!use.svg
public/image/gallery/resized/!use.svg
public/image/carousel/resized/!use.svg
public/image/headofschool/resized/!use.svg
public/image/library/resized/!use.svg
public/image/repository/resized/!use.svg
public/image/school/resized/!use.svg
public/image/default/resized/!use.svg
public/docs/*.pdf
*.zip
