
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
<%- include("../component/metadata.html") %>

</head>
<body onload="pageLoadingTop()" style="background-color: white; color: lightslategray;">


    <div class="row container pt-5">
      <div class="col-10 m-auto text-center mtx mbx">
       <code class="fs-5 text-center fw-semibold font-monospace">
       Incomplete your website settings. please build your school settings.
       </code>

    
      </div>
    </div>
    <%- include("../component/___node.html") %> 
  
</html>