
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>

    <%- include("../component/metadata.html") %> 
    

</head>
<style>

</style>
<body onload="pageLoadingTop()">
   <!-- section 1............ -->
   <div id="section1">
    <div class="row mt-5 mbx p-2 pb-5">
        <div class="col-lg-3 col-md-2 col-sm-1"></div>
     <div class="col-lg-5 col-md-8 col-sm-10">
        
         <form id="formau" action="#" class="form container">
 
             <img src="/image/school//user.png" height="70px" alt="">
 
             <h3>Sign in</h3>
 
            <a href="/pu/join/parent" id="signIn_link">Join Parent</a> or <a href="/admin/panel">admin</a> |
                 <a href="/au/signout/" class=" btn-link">Refresh</a> </p>
 

             <div class="input-group">

                <span class=" input-group-text"> <img width="30px" src="/icons/icons8-test-account-48.png" alt=""> </span>
                <select name="userRole" id="" class="form-self  form-select">
                    <option value="students">Student</option>
                 <option selected value="teachers">Teacher</option>
                 <option value="parents">Parent</option>
                 </select> 
            </div>
             
 <p></p>

             <div class="input-group">

                <span class=" input-group-text"> <img width="30px" src="/icons/icons8-mail-48.png" alt=""> </span>
                <input type="text" placeholder="user@abc.com" value="" name="username" class="form-self form-control" required><p></p>
 
            </div>

            <p></p>

            <div class="input-group">


                <span class=" input-group-text"> <img width="30px" src="/icons/icons8-sign-in-form-password-48.png" alt=""> </span>
                <input id="password" type="password" placeholder="password@abc" name="password"  value="" class="form-control form-self" required>
                <span style="position: absolute; right: 0;" id="eye-hide" class="btn input-group-text"><i class="bi bi-eye-slash-fill"></i></span>
                <span  style="display: none; position: absolute; right: 0;" id="eye-show" class="btn input-group-text"><i class="bi bi-eye-fill"></i></span>
                      

            </div>

 
            <div class=" p-2 mt-2 mb-2 ">

                <center><button id="submitbtn" class=" btn-self w-50">Sign in</button></center>
            
                <center class="pt-3"> <a href="/au/forgot/password" id="signIn_link">Forgot Password <img width="20px" src="/icons/user/icons8-forgot-password-48.png" alt=""></a>  </center>
            
               
            </div>
            
         </form>
         <p></p>
         
      
     </div>
     <div class="col-lg4 col-md-2 col-sm-1"></div>
 
    </div>
     </div>


     <%- include("../component/___node.html") %>


 
<script>


$('#formau').on('submit', (event)=>{
event.preventDefault();
$.ajax({
    method: "post",
    url: "/au/logger",
    data: $('#formau').serialize(),
    dataType: "JSON",
    beforeSend: function(){
       $('#submitbtn').addClass('disabled');
    },
    success: function (res) {
        $('#submitbtn').removeClass('disabled');
        if(res.status==404){
            _msg_pull(res.alert, res.msg)
        } else if(res.status==200){
            window.location.replace(res.route);
        } else {};
        
    }
});
})



    
$('#eye-hide').click(()=>{
    $('#password').attr('type', "text")
    $('#eye-hide').css({'display': 'none'})
    $('#eye-show').css({'display': 'block'})
})


$('#eye-show').click(()=>{
    $('#password').attr('type', "password")
    $('#eye-hide').css({'display': 'block'})
    $('#eye-show').css({'display': 'none'})
})

</script>
      

</body>
</html>