
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <%- include("../component/metadata.html") %> 


</head>
<style>
  @media only screen and (max-width: 768px) {
    .form {
      width: 90% !important;
    }
  }


</style>
</head>
<body onload="pageLoadingTop()">
    
    <div id="mainDiv">


        
        <form id="form" class="w-50 container form bg-light shadow"  method="post" onsubmit="">
            <center>
                <legend class=" alert bg-body shadow">তথ্য পূরণ করুন</legend>
            </center>

<p></p>

                <select class=" text-center form-self" name="className" id="" required>
                    <option selected value="">শ্রেণী নির্বাচন করুন</option>
                    <option value="Six">ষষ্ঠ</option>
                    <option value="Seven">সপ্তম</option>
                    <option value="Eight">অষ্টম</option>
                    <option value="Nine">নবম</option>
                    <option  value="Ten">দশম</option>
                </select>

                <p></p>

                <select  class="text-center form-self" name="sectionName" id="" required>
                    <option selected value="">শাখা নির্বাচন করুন</option>
                    <option value="A">ক</option>
                   <option value="B">খ</option>
                   <option value="C">গ</option>
                </select>
 <p></p>

        <input class=" form-self" type="number" value="" name="student_id" id="" placeholder=" স্টুডেন্ট আইডি" required>

    </div>



<p></p>
<center>
    <button id="onsubmit" class="btn-self w-50"> রেজাল্ট দেখুন<span id="loading" class=""></span></button>
</center>

        </form>

    <div id="printResult">
            
            <div  class="row">

                
           
                <div class="col-10 col-md-6 m-auto " id="infoStudentData">
                    <span class="badge btn btn-primary" onclick="printResult()">Print Result Sheet</span>
                   
                    
                   
                </div>
            </div>

        <div class="col-10 m-auto col-md-6">
            <table class=" table table-hover w-100" >
    
                <thead class=" text-light" id="thead">

                    <th> বিষয় </th>
                    <th> মার্ক </th>
                    <th> গ্রেড </th>

                   
                </thead>
    
                <tbody>
    
                 
                </tbody>
    
                <tfoot class="float-end text-end table-active ">
                   
                </tfoot>
    
            </table>

            
        </div>
    
      

        </div>
        
 



    </div>


  
</body>


</html>
<script>

$("#refresh").hide()

$("#printResult").hide()

$(document).ready( function() { 
    
  $("#form").on('submit', function(e){


     e.preventDefault();

    $.ajax({
    type: "post",
    url: "/pu/result/get",
    data: $("#form").serialize(),
    dataType: "JSON",
    beforeSend: function(){
        $("#loading").addClass("spinner-border spinner-border-sm text-light")

        $("#onsubmit").addClass("disabled")
        $("#form").hide()
        $("#printResult").show()
       $("#refresh").show()


    },
    success: function (info) {

        $("#body-loading").addClass("spinner-border")
       
      setTimeout(() => {

        $("#body-loading").removeClass("spinner-border")



$("tbody").html(info.htmlTbody)

$("tfoot").html(info.htmlTfoot)
$("#infoStudentData").append(info.infoStudentData)
$("#infoStudentData").append(info.infoStudentRank)


        
      }, 1000);

    }
        

  })
})

})




function printResult(){
    

var prtContent = document.getElementById("printResult");
var WinPrint = window.open('', '', 'left=0,top=0,width=384,height=900,toolbar=0,scrollbars=0,status=0');
WinPrint.document.write('<html><head>');
WinPrint.document.write('<link rel="stylesheet" href="/app/bootstrap.min.css">');
WinPrint.document.write('<link rel="stylesheet" href="/app/jquery.min.js">');
WinPrint.document.write('</head><body onload="print();close();">');
WinPrint.document.write(prtContent.innerHTML);
WinPrint.document.write('</body></html>');
WinPrint.document.close();
WinPrint.focus();


}




</script>

</html>