<div class="card " >
    <div class="card-body">
        <h5 class="card-title">Close your account</h5>
        <p class="card-text"> Close your account permanently.</p>
    </div>

            <hr>
    <div class="card-body">
        <h4 class="card-title text-danger">Warning <img width="30px" src="/icons/toolkit/icons8-remove-48.png" alt=""></h4> 
        <div class="card-text">If you close your account, you will be will lose access forever!</div>
        <br>
      
        <button disabled data-id="<%=info[0].ID%>" class="defClose btn btn-outline-danger ">Close My Account</a>
        </div>
</div>