
<!DOCTYPE html>
<html lang="en">
    <head>
            
     <%- include("../component/metadata.html") %> 
   </head>

<body onload="pageLoadingTop()">

     
  <%- include("../component/user-header-nav.html") %> 
  <%- include("../component/teacher-offcanvas-nav.html") %> 



 <main>
  <div id="dashboard" class="row p-2 mb-5 mt-5">

    <div class="col-md-3 col-6 mt-4" style="height: 100px;">
  <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="/">
  
        <img class="mt-1" width="30px" src="/icons/icons8-home-94.png" alt=""> 
        <p class="fw-500 text-truncate  mt-1">Home</p>
  </a>
  
    </div>



      
    <div class="col-md-3 col-6 mt-4" style="height: 100px;">
      <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;"
       href="/teacher/result/mark-init-page">
      
            <img class="mt-1" width="30px" src="/icons/icons8-hand-with-pen-60.png" alt=""> 
            <p class="fw-500 text-truncate  mt-1"> Make Result</p>
      </a>
      
        </div>



          
        <div class="col-md-3 col-6 mt-4" style="height: 100px;">
          <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;"
           href="/privet/result/repo-init-page">
          
                <img class="mt-1" width="30px" src="/icons/icons8-result-64.png" alt=""> 
                <p class="fw-500 text-truncate  mt-1"> Result Marksheet</p>
          </a>
          
            </div>



    
    <div class="col-md-3 col-6 mt-4" style="height: 100px;">
  <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;"
   href="/teacher/attn/init/page">
  
        <img class="mt-1" width="30px" src="/icons/icons8-mommy-and-me-classes-48.png" alt=""> 
        <p class="fw-500 text-truncate  mt-1"> Take attendance</p>
  </a>
  
    </div>



        
    <div class="col-md-3 col-6 mt-4" style="height: 100px;">
      <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;"
       href="/privet/attn/repo/init/page">
      
            <img class="mt-1" width="30px" src="/icons/icons8-calendar-48.png" alt=""> 
            <p class="fw-500 text-truncate  mt-1">Attendance report</p>
      </a>
      
        </div>
        

    
    <div class="col-md-3 col-6 mt-4" style="height: 100px;">
  <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;"
   href="/pu/routine/page">
  
        <img class="mt-1" width="30px" src="/icons/icons8-classroom-94.png" alt=""> 
        <p class="fw-500 text-truncate  mt-1">My routine</p>
  </a>
  
    </div>
  
    <div class="col-md-3 col-6 mt-4" style="height: 100px;">
      <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;"
       href="/pu/notice/page">
      
            <img class="mt-1" width="30px" src="/icons/icons8-topic-push-notification-94.png" alt=""> 
            <p class="fw-500 text-truncate  mt-1">Notice</p>
      </a>
      
        </div>
  
  
            
    <div class="col-md-3 col-6 mt-4" style="height: 100px;">
      <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" 
      href="/teacher/daily/mark/init/page/">
      
            <img class="mt-1" width="30px" src="/icons/icons8-hand-with-pen-94.png" alt=""> 
            <p class="fw-500 text-truncate  mt-1">Daily mark</p>
      </a>
      
        </div>
  
  
  
  
                
    <div class="col-md-3 col-6 mt-4" style="height: 100px;">
      <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" 
      href="/pu/rank/class/page">
      
            <img class="mt-1" width="30px" src="/icons/icons8-rank-64.png" alt=""> 
            <p class="fw-500 text-truncate  mt-1">Rank</p>
      </a>
      
        </div>
  
  
  
  
  
  
  
  
      
    <div class="col-md-3 col-6 mt-4" style="height: 100px;">
      <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;"
       href="/teacher/pic/page-mark-init">
      
            <img class="mt-1" width="30px" src="/icons/icons8-ball-point-pen-94.png" alt=""> 
            <p class="fw-500 text-truncate  mt-1">PIC mark</p>
      </a>
      
        </div>
  
  
          
    <!-- <div class="col-md-3 col-6 mt-4" style="height: 100px;">
      <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;"
       href="/privet/pic/report-init-page">
      
            <img class="mt-1" width="30px" src="/icons/icons8-reports-58.png" alt=""> 
            <p class="fw-500 text-truncate  mt-1">PIC report</p>
      </a>
      
        </div> -->
  
  
          
    <div class="col-md-3 col-6 mt-4" style="height: 100px;">
      <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" 
      href="/teacher/pis/page-mark-init">
      
            <img class="mt-1" width="30px" src="/icons/icons8-hand-with-pen-100.png" alt=""> 
            <p class="fw-500 text-truncate  mt-1">PIS mark</p>
      </a>
      
        </div>
  
  
  
          
    <!-- <div class="col-md-3 col-6 mt-4" style="height: 100px;">
      <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" 
      href="/privet/pis/report-init-page">
      
            <img class="mt-1" width="30px" src="/icons/icons8-reports-50.png" alt=""> 
            <p class="fw-500 text-truncate  mt-1">PIS report</p>
      </a>
      
        </div>
   -->
  
  
          
    <div class="col-md-3 col-6 mt-4" style="height: 100px;">
      <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" 
      href="/teacher/bi/page-mark-init">
      
            <img class="mt-1" width="30px" src="/icons/icons8-hand-with-pen-60.png" alt=""> 
            <p class="fw-500 text-truncate  mt-1">BI mark</p>
      </a>
      
        </div>
  
  
          
    <div class="col-md-3 col-6 mt-4" style="height: 100px;">
      <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" 
      href="/teacher/bi/page-report-init">
      
            <img class="mt-1" width="30px" src="/icons/icons8-reports-64.png" alt=""> 
            <p class="fw-500 text-truncate  mt-1">BI report</p>
      </a>
      
        </div>
  
  
  
          
    <div class="col-md-3 col-6 mt-4" style="height: 100px;">
      <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" 
      href="/privet/transcript/report-init-page">
      
            <img class="mt-1" width="30px" src="/icons/icons8-result-64.png" alt=""> 
            <p class="fw-500 text-truncate  mt-1">Transcript report</p>
      </a>
      
        </div>
  
  
  
  
                
    <div class="col-md-3 col-6 mt-4" style="height: 100px;">
      <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" 
      href="/pu/all/teacher">
      
            <img class="mt-1" width="30px" src="/icons/icons8-teacher-48.png" alt=""> 
            <p class="fw-500 text-truncate  mt-1 ">Our teachers</p>
      </a>
      
        </div>
  
  
  
        
                
    <div class="col-md-3 col-6 mt-4" style="height: 100px;">
      <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" 
      href="/pu/student/page">
      
            <img class="mt-1" width="30px" src="/icons/icons8-user-group-94.png" alt=""> 
            <p class="fw-500 text-truncate  mt-1 ">Our students</p>
      </a>
      
        </div>
  
  
  </div>
 </main>
  

                         


    <%- include("../component/___node.html") %> 

   </body>

   </html>