<div  class="row  ">
    <center><h5>Privacy Settings</h5></center>
    <p></p>
    <div class="col-12 col-md-4">

      <div class="card ">
        <div class="card-body">
          <h6 class="card-title"><i class=" fa fa-user"></i> Profile Settings</h6>
          <label class="switch">
            <input checked type="checkbox" name="photos" value="on">
            <span class="slider round"></span>
          </label>
          <p class="card-text">Your profile's public visibility</p>
        </div>
      </div> 

      </div> 
   


        
      <div class="col-12 col-md-4">

        <div class="card ">
          <div class="card-body">
            <h6 class="card-title"><i class=" fa fa-at"></i> Email Settings</h6>
            <label class="switch">
              <input type="checkbox"  name="email" value="on">
              <span class="slider round"></span>
            </label>
            <p class="card-text">Your Email's public visibility</p>
          </div>
        </div>


          </div>


          <div class="col-12 col-md-4">

            <div class="card ">
              <div class="card-body">
                <h6 class="card-title"> <i class=" fa fa-contact-book"></i> Contact Settings</h6>
                <label class="switch">
                  <input type="checkbox"  name="telephone" value="on">
                  <span class="slider round"></span>
                </label>
                <p class="card-text">Your contact's public visibility</p>
              </div>
            </div>
    
  
              </div>



              <div class="col-12 col-md-4">

                <div class="card ">
                  <div class="card-body">
                    <h6 class="card-title"><i class=" fa fa-id-card"></i> Index No Settings</h6>
                    <label class="switch">
                      <input type="checkbox"  name="indexNo" value="on">
                      <span class="slider round"></span>
                    </label>
                    <p class="card-text">Your Index No's public visibility</p>
                  </div>
                </div>
        
      
                  </div>


                  <div class="col-12 col-md-4">

                    <div class="card ">
                      <div class="card-body">
                        <h6 class="card-title"><i class=" fa fa-id-card"></i> PDSID No Settings</h6>
                        <label class="switch">
                          <input type="checkbox"  name="pdsId" value="on">
                          <span class="slider round"></span>
                        </label>
                        <p class="card-text">Your PDSID No's public visibility</p>
                      </div>
                    </div>
            
          
                      </div>



                      <div class="col-12 col-md-4">

                        <div class="card ">
                          <div class="card-body">
                            <h6 class="card-title"><i class=" fa fa-birthday-cake"></i> Date of Birth Settings</h6>
                            <label class="switch">
                              <input type="checkbox"  name="birthDate" value="on">
                              <span class="slider round"></span>
                            </label>
                            <p class="card-text">Your Date of Birth No's public visibility</p>
                          </div>
                        </div>
                
              
                          </div>



 <!-- end subDiv        -->
      </div>