<form id="socialLinkForm" action="/teacher/social" method="post">

                       
    <div class="row ">

        <center>
            <h2 class="font-weight-bolder">Social Links </h2>
        <small class=" pb-5">can you add social link</small>
       
        </center>
        <hr>
        <div class="col-md-6 col-10 m-auto">
            
    


            <div class="input-group">
                <span class="input-group-text" ><i class="fa-brands fa-facebook"></i></span>
                <input type="text" name="facebookLink" value="<%=info[0].facebook_link%>" class="  form-self form-control" placeholder="https://www.facebook.com/demo123" required>
              </div>

<p></p>


              
        </div>
        
<p></p>

<center>
<button class=" text-light btn btn-dev rounded">Save Change</button>
</center>
<p></p>

    </div>
    <p></p>
           
       
        </form>