<header id="userNav" class="row mb-b shadow-sm" style="position: fixed; z-index: 1020; top:0;right:0;left: 0; background-color:  rgba(237, 242, 249, 0.96);"; height: 69px; overflow: hidden;">
  
  <div class="d-flex justify-content-between align-items-center">

    <button  style="height: max-content;" id="main-menu-btn-md" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" class="offcanvasbtn d-none d-md-block btn-hover shadow-sm-0 ps-3 btn">
      <img width="30px" height="30px" src="/icons/icons8-apps-100.png" alt="">
      </button> 
      
      <button  style="height: max-content;" id="main-menu-btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" class="offcanvasbtn btn-hover d-block d-md-none shadow-sm-0 ps-3 btn">
      <img width="30px" height="30px" src="/icons/icons8-apps-100.png" alt="">
      </button>
      

      <div style="font-family:'Times New Roman', Times, serif;" 
      class="flex-fill ps-2 fw-bold fs-6 rounded d-flex h-100 justify-content-end align-items-center pe-5" >
        <img  src="/icons/logo-w-card.png" alt="loading..." width="80px" height="50px" class="rounded rounded-3 p-1">

        SAANVI S1
        
      </div>

  </div>

</header>