  <header id="userNav" class="row  shadow-sm" style="position: fixed; z-index: 1080; background-color: white; top:0;right:0;left: 0; height: 69px; overflow: visible;">
  
    <div class="d-flex justify-content-between align-items-center">
  
      <button  style="height: max-content;" id="main-menu-btn-md" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" class="offcanvasbtn d-none d-md-block btn-hover shadow-sm-0 ps-3 btn">
        <img width="30px" height="30px" src="/icons/icons8-apps-100.png" alt="">
        </button> 
        
        <button  style="height: max-content;" id="main-menu-btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" class="offcanvasbtn btn-hover d-block d-md-none shadow-sm-0 ps-3 btn">
        <img width="30px" height="30px" src="/icons/icons8-apps-100.png" alt="">
        </button>
        

        <div style="font-family:'Times New Roman', Times, serif;" 
        class=" ps-2 fw-bold fs-6 text-muted rounded d-flex h-100 justify-content-start align-items-center pe-5" >
          <img  src="/icons/logo-w-card.png" alt="loading..." width="80px" height="50px" class="rounded rounded-3 p-1">
  
          SAANVI S1
          
        </div>

        <div class="d-flex ">
          <a class="p-2  btn-hover btn rounded" href="/">
            <i class="bi bi-house fs-3"></i>

          </a>

          <a class="p-2  btn-hover btn rounded" href="/admin/notice/page">
            <i class="bi bi-bell fs-3"></i>
          </a>
          
          <div class="p-2 tooltipx btn-hover bg-light btn  rounded">
            <img height="30pc" width="30px" src="/image/default/male_avatar.png" alt="">
            
            <div class="tooltipy  bg-light shadow ps-5 pe-5 pt-3 pb-3">
               <a class="nav-link mt-1 btn-hover rounded p-1" href="/admin/account">My profile</a>
               <a class="nav-link mt-1 btn-hover rounded p-1" href="/admin/dashboard">Dashboard</a>
               <a class="nav-link mt-1 btn-hover rounded p-1" href="/au/singout/">Sign out</a>
            </div>

          </div>
        </div>
  
        
  
    </div>
  
  </header>