
<style>

  ::-webkit-scrollbar {
    scroll-behavior:smooth;
  
  }
  
  /* width */
  .admin-menu-scroll-bar::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .admin-menu-scroll-bar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .admin-menu-scroll-bar::-webkit-scrollbar-thumb {
    background: rgba(187, 181, 181, 0.829); 
    border-radius: 10px;
  }


  
</style>
<nav id="main-menu" style="height: 100% !important; background-color: rgba(237, 242, 249, 0.96); position: fixed; z-index: 1020; top: 50px" class=" main-menu  d-none d-md-block text-dark" >

  <div  style=" height: 99%; overflow: auto;" class="col-auto admin-menu-scroll-bar">
 

    <ul  class="menu-list-item border-top" style="list-style: none;">
         
      <code class="fw-bold">
       sorry, this Nav section is unsetisfied!
         this update upcomming soon!
      </code>

      <code><a class="text-center page-link p-2 " href="/admin/dashboard">Back to Dashboard</a></code>

      <li>
          <button class="btn toggle-btn w-100  shadow-sm gallery-panel-btn" type="button" data-bs-toggle="collapse" data-bs-target="#school-menu-list">
               School setting</button>
  <ul id="school-menu-list" class="collapse " style="list-style-type:disc">
   
  <li><a class=" page-link p-2 " href="/admin/setup/school-settings">Setup School</a></li>

  <li><a class=" page-link p-2 " href="/admin/setup/class-section">Setup Class & Section</a></li>
  
  
  </ul>
      </li>
    </ul>
   

       
   <ul  class="menu-list-item border-top" style="list-style: none;">
         
    <li>
        <button class="btn toggle-btn w-100  shadow-sm gallery-panel-btn" type="button" data-bs-toggle="collapse" data-bs-target="#bi-menu-list">

             Transcript setting</button>
<ul id="bi-menu-list" class="collapse " style="list-style-type:disc">
 
<li><a class=" page-link p-2 " href="/admin/bi/catagory-page">BI Catagory</a></li>


</ul>
    </li>
  </ul>
 
 
   
   <ul  class="menu-list-item border-top" style="list-style: none;">
         
     <li>
         <button class="btn toggle-btn w-100  shadow-sm gallery-panel-btn" type="button" data-bs-toggle="collapse" data-bs-target="#gallery-menu-list">
              Gallery</button>
 <ul id="gallery-menu-list" class="collapse " style="list-style-type:disc">
  
 <li><a class=" page-link p-2 " href="/admin/carousel/page">Carousel settings</a></li>
 <li><a class=" page-link p-2 " href="/admin/gallery/image/page">Image settings</a></li>
 <li><a class=" page-link p-2 " href="/admin/gallery/video/page">Video settings</a></li>
 
 </ul>
     </li>
   </ul>
 
 
   <ul  class="menu-list-item border-top" style="list-style: none;">
         
     <li>
         <button class="btn toggle-btn w-100  shadow-sm teacher-panel-btn" type="button" data-bs-toggle="collapse" data-bs-target="#teacher-menu-list">
              Teacher</button>
 <ul id="teacher-menu-list" class="collapse " style="list-style-type:disc">
  
 <li><a class=" page-link p-2 " href="/admin/teacher/page">Teacher settings</a></li>
 
 </ul>
     </li>
   </ul>
 
 
   <ul  class="menu-list-item border-top" style="list-style: none;">
         
     <li>
         <button class="btn toggle-btn w-100  shadow-sm student-panel-btn" type="button" data-bs-toggle="collapse" data-bs-target="#student-menu-list">
              Student</button>
 <ul id="student-menu-list" class="collapse " style="list-style-type:disc">
  
 <li><a class=" page-link p-2 " href="/admin/student/page">Student settings</a></li>
 <li><a class=" page-link p-2 " href="/admin/parent/page">Parent settings</a></li>
 <li><a class=" page-link p-2 " href="/pu/rank/class/page">Student ranking</a></li>
 <li><a class=" page-link p-2 " href="/admin/admission/report/page">Admission settings</a></li>
 <li><a class=" page-link p-2 " href="/admin/application/page">Application approval</a></li>
 </ul>
     </li>
   </ul>
   
 
   
 
   <ul class="menu-list-item border-top" style="list-style: none;">
     
     <li>
         <button class="btn toggle-btn w-100  shadow-sm academic-panel-btn" type="button" data-bs-toggle="collapse" data-bs-target="#academic-menu-list">
           Academic</button>
 <ul id="academic-menu-list" class="collapse " style="list-style-type:disc">
  
 <li><a class=" page-link p-2 " href="/admin/notice/page">Notice settings</a></li>
 <li><a class=" page-link p-2 " href="/admin/subject/page?className=Six">Subject settings</a></li>
 <li><a class=" page-link p-2 " href="/admin/routine/page">Routine settings</a></li>
 <li><a class=" page-link p-2 " href="/pu/routine/page">Routine view</a></li>
 <li><a class=" page-link p-2 " href="/admin/library/page">Library settings</a></li>
 </ul>
     </li>
   </ul>
 
 
   
   <ul class="menu-list-item border-top" style="list-style: none;">
     
     <li>
         <button class="btn toggle-btn w-100  shadow-sm result-panel-btn" type="button" data-bs-toggle="collapse" data-bs-target="#result-menu-list">
              Transcript</button>
 <ul id="result-menu-list" class="collapse " style="list-style-type:disc">
  
  <li ><a class=" page-link p-2" href="/privet/pic/report-init-page">PIC report</a></li>
  <li ><a class=" page-link p-2" href="/privet/pis/report-init-page">PIS report</a></li>
  <li> <a class=" page-link p-2" href="/privet/transcript/report-init-page">Transcript primary</a></li>
  <li> <a class=" page-link p-2" href="/admin/transcript/report-init-page">Transcript final</a></li>
  <li> <a class=" page-link p-2" href="/admin/transcript/pdf-init-page">Transcript get pdf</a></li>
 </ul>
 
     </li>
   </ul>
 
 
   
   <ul class="menu-list-item border-top" style="list-style: none;">
     
     <li>
         <button class="btn toggle-btn w-100  shadow-sm menu-list-btn01" type="button" data-bs-toggle="collapse" data-bs-target="#academic">
           Academic view</button>
 <ul id="academic" class="collapse " style="list-style-type:disc">
 
   <li ><a class=" page-link" href="/pu/all/teacher">Teachers</a></li>
   <li ><a class=" page-link" href="/pu/student/page">Students</a></li>
   <li> <a class=" page-link" href="/pu/rank/class/page">Student rank</a></li>
   <li ><a class=" page-link" href="/privet/routine/page">Class routine</a></li>
 
 </ul>
     </li>
   </ul>
 
 
   
   <ul class="menu-list-item border-top" style="list-style: none;">
     
     <li>
         <button class="btn toggle-btn w-100  shadow-sm systems-panel-btn" type="button" data-bs-toggle="collapse" data-bs-target="#systems-menu-list">
              Systems</button>
 <ul id="systems-menu-list" class="collapse " style="list-style-type:disc">
  
 <li><a class=" page-link p-2 " href="/au/singout">Sing out</a></li>
 <li><a class=" page-link p-2 disabled" href="#">Menual guide</a></li>
 <li><a class=" page-link p-2 disabled" href="#">System information</a></li>
 <li><a class=" page-link p-2 disabled" href="#">Support</a></li>
 </ul>
     </li>
   </ul>
 
 
 
 
       
</nav>
 
    
<script>
       
  $("#main-menu-btn-sm").click(()=>{
 
 $("#main-menu").toggleClass('d-none')
 
}) 

$("#main-menu-btn-md").click(()=>{
 
 $("#main-menu").toggleClass('d-md-none')
 $("#main-content").toggleClass('main-content')
 
}) 

 
   
  </script> 