
<style>

  ::-webkit-scrollbar {
    scroll-behavior:smooth;
  
  }
  
  /* width */
  .admin-menu-scroll-bar::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .admin-menu-scroll-bar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .admin-menu-scroll-bar::-webkit-scrollbar-thumb {
    background: rgba(187, 181, 181, 0.829); 
    border-radius: 10px;
  }


  
</style>

<nav id="main-menu" style="height: 99% !important; overflow: scroll; position: fixed; z-index: 1020; top: 50px" class="mt-3 main-menu pe-2 bg-light d-none d-md-block shadow border-end" >

  <div class="row">
    <div class="col-auto m-auto">

      <img height="60px" width="80px" class="border mt-3" style="border-radius: 100%;" src="/image/default/male_avatar.png" alt="">
    </div>
  </div>

  <div class="col-auto mt-4"  >

    <ul class="academic-view- ps-2 mt-1" style="list-style:none">

      <button onclick="collapsebtn('collapsebtn0')" class="d-flex w-100 border-bottom justify-content-between align-items-center nav-link p-1" type="button" data-bs-toggle="collapse" data-bs-target="#item0">
      <img height="15px" width="15px" src="/icons/icons8-admin-settings-male-48.png" alt=""> <span class="ps-1 pe-1 fw-semibold">Academic view</span> <i class="collapsebtn0 fa fa-angle-right pt-1"></i>
    </button>
    
      <div id="item0" class="collapse ps-2">
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/pu/all/teacher">Teachers</a></li>
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/pu/student/page">Students</a></li>
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/pu/routine/page">Class routine</a></li>
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/pu/rank/class/page">Student rank</a></li>
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/dashboard">Admission report</a></li>
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/admission/report/page">Application report</a></li>
        
      </div>
      
      </ul>


<ul class="school-settings- ps-2 mt-2" style="list-style:none;">

  <button onclick="collapsebtn('collapsebtn1')" class="d-flex w-100 border-bottom justify-content-between align-items-center nav-link p-1" type="button" data-bs-toggle="collapse" data-bs-target="#item1">
    <img height="15px" width="15px" src="/icons/icons8-school-building-48.png" alt=""> <span class="ps-1 pe-1 fw-semibold">School setup</span> <i class="collapsebtn1 fa fa-angle-right pt-1"></i>
</button>

  <div id="item1" class="collapse ps-2">
    <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/setup/school-settings">School settings</a></li>
    <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/setup/class-section">Class & Section</a></li>
    <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/carousel/page">Carousel slider</a></li>
    <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/setup/headofschool">Head of school</a></li>
    
  </div>
  
  </ul>


<ul class="academic-settings- ps-2 mt-2" style="list-style:none">

    <button onclick="collapsebtn('collapsebtn2')" class="d-flex w-100 border-bottom justify-content-between align-items-center nav-link p-1" type="button" data-bs-toggle="collapse" data-bs-target="#item2">
    <img height="15px" width="15px" src="/icons/icons8-academic-64.png" alt=""> <span class="ps-1 pe-1 fw-semibold">Academic setup</span> <i class="collapsebtn2 fa fa-angle-right pt-1"></i>
  </button>
  
    <div id="item2" class="collapse ps-2">
      <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/notice/page">Notice settings</a></li>
      <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/teacher/page">Teacher settings</a></li>
      <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/student/page">Student settings</a></li>
      <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/parent/page">Parent settings</a></li>
      <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/dashboard#">Staff settings</a></li>
      <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/subject/page?className=Six">Subject settings</a></li>
      <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/routine/page">Class routine</a></li>
      
    </div>
    
    </ul>
  


    <ul class="organization-settings- ps-2 mt-2" style="list-style:none">

      <button onclick="collapsebtn('collapsebtn3')" class="d-flex w-100 border-bottom justify-content-between align-items-center nav-link p-1" type="button" data-bs-toggle="collapse" data-bs-target="#item3">
      <img height="15px" width="15px" src="/icons/icons8-organization-48.png" alt=""> <span class="ps-1 pe-1 fw-semibold">Organization</span> <i class="collapsebtn3 fa fa-angle-right pt-1"></i>
    </button>
    
      <div id="item3" class="collapse ps-2">
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/setup/achievement/">Achievement</a></li>
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/setup/eventnews/">Event & news</a></li>
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/setup/facilities/">Facilities</a></li>
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/library/page">Library</a></li>
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="#">Fees management</a></li>
        
      </div>
      
      </ul>
    
    

    <ul class="transcript-settings- ps-2 mt-2" style="list-style:none">

      <button onclick="collapsebtn('collapsebtn4')" class="d-flex w-100 border-bottom justify-content-between align-items-center nav-link p-1" type="button" data-bs-toggle="collapse" data-bs-target="#item4">
      <img height="15px" width="15px" src="/icons/icons8-result-64.png" alt=""> <span class="ps-1 pe-1 fw-semibold">Transcript card</span> <i class="collapsebtn4 fa fa-angle-right pt-1"></i>
    </button>
    
      <div id="item4" class="collapse ps-2">
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/privet/pic/report-init-page">PIC reports</a></li>
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/privet/pis/report-init-page">PIS reports</a></li>
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/privet/transcript/report-init-page">Transcript primary</a></li>
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/transcript/report-init-page">Transcript final</a></li>
        <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/transcript/pdf-init-page">Transcript pdf</a></li>
        
      </div>
      
      </ul>
    


      <ul class="gallery-settings- ps-2 mt-2" style="list-style:none">

        <button onclick="collapsebtn('collapsebtn5')" class="d-flex w-100 border-bottom justify-content-between align-items-center nav-link p-1" type="button" data-bs-toggle="collapse" data-bs-target="#item5">
        <img height="15px" width="15px" src="/icons/icons8-photo-gallery-94.png" alt=""> <span class="ps-1 pe-1 fw-semibold">Gallery settings</span> <i class="collapsebtn5 fa fa-angle-right pt-1"></i>
      </button>
      
        <div id="item5" class="collapse ps-2">
          <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/gallery/image/page">Photo settings</a></li>
          <li><a class=" page-link p-2 btn-hover fs-6 text-muted" href="/admin/gallery/video/page">Video settings</a></li>
          
        </div>
        
        </ul>



          
</div>
  
       
</nav>
    
<script>

function collapsebtn(elem){
    $(`.${elem}`).toggleClass('toggleBtnRotate')
}
      
       
  $("#main-menu-btn-sm").click(()=>{
 
 $("#main-menu").toggleClass('d-none')
 
}) 

$("#main-menu-btn-md").click(()=>{
 
 $("#main-menu").toggleClass('d-md-none')
 $("#main-content").toggleClass('main-content')
 
}) 

 
   
  </script> 