<footer id="footer">

    <div id="" style="margin-right: 0 !important; overflow: hidden; width: 100%;" class="row pt-5">



        <div  class="col-6 col-md-3   p-2">
            <ul class="">

                <h1 style="color: #C8F169; border-bottom: 1px solid #C8F169;" class=" page-link   pb-2">Contact us
                </h1>
                <li class=""> <i class="bi bi-house"></i> <span class="append-address">Address loading...</span> </li>
                <li class=""> <i class="bi bi-envelope"></i> <span class="append-email">example@mail.com</span> </li>
                <li class=""> <i class="bi bi-telephone"></i> <span class="append-phone">+12234567890</span> </li>
                <li class=""> 
                <a class="page-link append-fb-link" target="_blank" href="#" >
                    <i class="bi bi-facebook"></i> <span>Facebook page</span>
                </a>    
                </li>


            </ul>
        </div>


        <div class="col-6 col-md-3    p-2">
            <ul class="">

                <h1 style="color: #C8F169; border-bottom: 1px solid #C8F169;" class=" page-link   pb-2">Academic
                </h1>
                <li><a class=" page-link" href="/pu/admission/step1">Admission</a></li>
                <li><a class=" page-link" href="/pu/all/teacher">Teachers</a></li>
                <li> <a class=" page-link" href="/pu/student/page">Students</a></li>
                <li><a class=" page-link" href="/pu/routine/page">Class routine</a></li>
                <li><a class=" page-link" href="/pu/rank/class/page">Student rank</a></li>
                <li><a class=" page-link" href="/pu/notice/page">Notice</a></li>


            </ul>
        </div>





        <div class="col-6 col-md-3    p-2">
            <ul class="">

                <h1 style="color: #C8F169; border-bottom: 1px solid #C8F169;" class=" page-link   pb-2">Organization
                </h1>
                <li><a class=" page-link" href="/pages/about-us.html">About us</a></li>
                <li><a class=" page-link" href="/pages/contact-us.html">Contact us</a></li>
                <li> <a class=" page-link" href="/pages/facilities.html">Facilities</a></li>
                <li><a class=" page-link" href="/pages/eventnews.html">Event & news</a></li>
                <li><a class=" page-link" href="/pages/acheivement.html">Achievement</a></li>


            </ul>
        </div>




        <div class="col-6 col-md-3    p-2">
            <ul class="">

                <h1 style="color: #C8F169; border-bottom: 1px solid #C8F169;" class=" page-link   pb-2">Others</h1>
                <li><a class=" page-link" href="/pu/gallery/image/page">Photos</a></li>
                <li> <a class=" page-link" href="/pu/gallery/video/page">Videos</a></li>
                <li><a class=" page-link" href="/pu/join/parent">Join parent</a></li>
                <li><a class=" page-link" href="/au/signin/page">Sign in</a></li>
                <li><a class=" page-link" href="#">Faq</a></li>


            </ul>
        </div>



        <div class="col-12 legal">
            <ul class="d-flex  justify-content-center" style="list-style: none;">
                <li class="p-1  text-light border-end">&#169; 2023 SEAWEB</li>
                    <a class="text-decoration-none p-1 text-light" href="#/pu/terms-os-use">Terms of use</a>


                   <a class=" text-decoration-none border-end p-1 text-light" href="#/pu/privacy-policy">Privacy policy</a>

                    <a class=" text-decoration-none p-1 text-light" href="/pu/team-saanvi">Developer team</a>
            </ul>
        </div>




    </div>

</footer>


 <script>


  (function(){
  $.ajax({
    method: "get",
    url: "/pu/school/get/",
    data: {},
    dataType: "JSON",
    success: function (res) {

      $(".append-address").text(res.info_school[0].address)
      $(".append-email").text(res.info_school[0].email)
      $(".append-phone").text(res.info_school[0].phone)
      $(".append-fb-link").attr( 'href', `${res.info_school[0].fb_link}`)
    }
  });
  }())


</script>