
<style>
 
    footer a#link{
        text-decoration: none;
        color: white;
        padding: 3px;
        display: block;
    }
    
    footer a#link:hover{
        text-decoration: none;
        color: white;
        font-weight: bold;
        /* padding: 6px; */
        display: block;
    }
    
    #footer 
    {
        background-color: #281e5d;
        color: white;
    }
    
    /* #flink
    {
        margin-left: 0 !important;
    } */

    </style>
    <body>
         
            <footer id="footer" id="link">

                <div class="row" id="flink">
                    
                    
                    <div class="col-md-4 mt-2  d-block text-center">
                     <br>
                        <small class=" p-2" style="font-family:'Times New Roman', Times, serif;">
                            বোয়ালমারী জর্জ একাডেমী, বোয়ালমারী ওয়াপদা মোয়ার রোড|
                            বোয়ালমারীতে অবস্থিত একটি শিক্ষা প্রতিষ্ঠান। এটির একটি ক্যাম্পাস এবং প্রায়  ১৭০০+  শিক্ষার্থী রয়েছে। 
                            বোয়ালমারী জর্জ একাডেমী বোয়ালমারীর একটি বিখ্যাত শিক্ষা প্রতিষ্ঠান। 
                            
                        </small>
                            <br> <br>
                            <strong>
                                <img src="/image/app/logo.png" width="60px" height="60px" class=" rounded-circle" alt=""></i>
                                <a target="_blank" title="facebook page" class=" p-2" href="https://www.facebook.com/BoalmariGeorgeAcademyOfficials">
                            <i  class="fa-brands fa-facebook text-muted fs-1"></i></a>
                            </strong>
                            
                        
                    </div>

   
                    
                    <div class="col-md-2 mt-2 text-center text-md-start">
                        <strong>Academic</strong>
                        <br>
                        <a id="link" href="/pu/all/teacher">Teachers</a>
                        <a id="link"  href="pu/student/page">Students</a>
                        <a id="link"  href="/pu/rank/class/page">Student Rank</a>
                        <a id="link"  href="/pu/result/page">Exam Result</a>
                      
                       
                    </div>
  

                    <div class="col-md-2 mt-2 text-center text-md-start">
                        <strong >Publish</strong>
                        <br>
                        <a id="link" href="/pu/gallery/photos">Photos</a>
                        <a id="link" href="/pu/gallery/video">Videos</a>

                        <a id="link"  href="/pu/notice/page">Notice</a>
                    </div>
    

                    <div class="col-md-2 mt-2 text-center ">
                        <div class="col-md-2 text-center text-md-start">
                            <strong>Support</strong>
                            <br>
                        <a id="link" href="#">Help</a>
                        <a id="link" href="/pu/faq">FAQ's</a>
              
                    </div>
           
                </div>
                <div class="mt-2 mb-3 text-center text-muted p-1">

                       <a class=" link-light text-decoration-none" href="/pu/terms/condiation">Terms & Condition </a> <br>
                       <!-- <a class=" link-light text-decoration-none" href="/pu/privacy/policy">Privacy Policy  </a>  <br> -->
                       <a target="_blank" class=" link-light text-decoration-none" href="https://alifn.seawebit.com">&#169; SeawebiT Inc.</a> <br>

              </div>
                </div>
            </footer>
        
    </body>

    <script>
     
   
    </script>
