<footer id="footer">

    <div id="" style="margin-right: 0 !important; overflow: hidden; width: 100%;" class="row pt-5">



        <div  class="col-6 col-md-3   p-2">
            <ul class="">

                <h1 style="color: #C8F169; border-bottom: 1px solid #C8F169;" class=" page-link   pb-2">Contact us
                </h1>
                <li class=""> <i class="bi bi-house"></i> <span>Boalmari George Academy, Owapda Moor, Boalmari
                        -Faridpur</span> </li>
                <li class=""> <i class="bi bi-envelope"></i> <span>Example@mail.com</span> </li>
                <li class=""> <i class="bi bi-telephone"></i> <span>+88017XXXXXXX</span> </li>


            </ul>
        </div>


        <div class="col-6 col-md-3    p-2">
            <ul class="">

                <h1 style="color: #C8F169; border-bottom: 1px solid #C8F169;" class=" page-link   pb-2">Academic
                </h1>
                <li><a class=" page-link" href="/pu/admission/step1">Admission</a></li>
                <li><a class=" page-link" href="/pu/all/teacher">Teachers</a></li>
                <li> <a class=" page-link" href="/pu/student/page">Students</a></li>
                <li><a class=" page-link" href="/pu/routine/page">Class routine</a></li>
                <li><a class=" page-link" href="/pu/rank/class/page">Student rank</a></li>
                <li><a class=" page-link" href="/pu/notice/page">Notice</a></li>


            </ul>
        </div>





        <div class="col-6 col-md-3    p-2">
            <ul class="">

                <h1 style="color: #C8F169; border-bottom: 1px solid #C8F169;" class=" page-link   pb-2">Organization
                </h1>
                <li><a class=" page-link" href="/pages/about-us.html">About us</a></li>
                <li><a class=" page-link" href="/pages/contact-us.html">Contact us</a></li>
                <li> <a class=" page-link" href="#">Facilities</a></li>
                <li><a class=" page-link" href="#">Event & news</a></li>
                <li><a class=" page-link" href="#">Achievement</a></li>


            </ul>
        </div>




        <div class="col-6 col-md-3    p-2">
            <ul class="">

                <h1 style="color: #C8F169; border-bottom: 1px solid #C8F169;" class=" page-link   pb-2">Others</h1>
                <li><a class=" page-link" href="/pu/gallery/image/page">Photos</a></li>
                <li> <a class=" page-link" href="/pu/gallery/video/page">Videos</a></li>
                <li><a class=" page-link" href="/pu/join/parent">Join parent</a></li>
                <li><a class=" page-link" href="/au/singin/page">Sign in</a></li>
                <li><a class=" page-link" href="#">Faq</a></li>


            </ul>
        </div>



        <div class="col-12 legal">
            <ul class="d-flex  justify-content-center" style="list-style: none;">
                <li class="p-1  text-light border-end">&#169; 2023 SEAWEB</li>
                    <a class="text-decoration-none p-1 text-light" href="#/pu/terms-os-use">Terms of use</a>


                   <a class=" text-decoration-none border-end p-1 text-light" href="#/pu/privacy-policy">Privacy policy</a>

                    <a class=" text-decoration-none p-1 text-light" href="/pu/team-saanvi">Developer team</a>
            </ul>
        </div>




    </div>

</footer>


 <script>

function _default(){
    const bodyHeight= window.innerHeight;
    const bodyWidth= window.innerWidth;
    

    if(bodyWidth>600){
        $('.accordion-button').click()
  
    }
}

_default()


  $(window).resize(()=>{
  _default()
  })


  (function(){
  $.ajax({
    type: "get",
    url: "/pu/school/info/get",
    data: {},
    dataType: "JSON",
    success: function (response) {
      $(".school-about").text(response.info[0].about)
      $(".school-fb-link").attr( 'href', `${response.info[0].fb_link}`)
    }
  });
  }())


</script>