    <style>
        .accordion li {
            height: max-content !important;
        }
    </style>
 <footer class="bg-light"> <hr>
    <div id="footer-list-item" class="row border-bottom justify-content-end bg-light ">


        <div class="col-12 col-md-4 ">

            
                <div class="card shadow-0">
                    
                    <div class="d-flex">
                        <img height="auto" width="71px" class="logo-school" src="/image/default/logo.png" alt="logo">
                        <strong class="name-school align-self-center">Boalmari George Academy</strong>
                    </div>

                    <div class="card-body p-0 ps-1" >
                        <a target="_blank" href="https://www.facebook.com/BoalmariGeorgeAcademyOfficials" 
                        class="p-2 text-decoration-none" >Official page <i class=" bi bi-facebook"></i></a>

                        <p class="card-text p-2 about-school" >
                            বোয়ালমারী জর্জ একাডেমী, বোয়ালমারী ওয়াপদা মোড় রোড|
                            বোয়ালমারীতে অবস্থিত একটি শিক্ষা প্রতিষ্ঠান। এটির একটি ক্যাম্পাস এবং প্রায়  ১৭০০+  শিক্ষার্থী রয়েছে। 
                            বোয়ালমারী জর্জ একাডেমী বোয়ালমারীর একটি বিখ্যাত শিক্ষা প্রতিষ্ঠান।
                        </p>
                  

                    </div>
            </div>

        </div>


        <div class="col-12 col-md-2 accordion bg-light  p-2" >
            <li class="list-group "><span data-bs-toggle="collapse" data-bs-target="#footer-item01" class="shadow-0 bg-light btn accordion-button">Academic</span></li>
            <ul id="footer-item01" class="footer-list-item collapse" > 
                
                <li ><a class=" page-link" href="/pu/admission/step1">Admission</a></li>
                <li ><a class=" page-link" href="/pu/all/teacher">Teachers</a></li>
                <li> <a class=" page-link" href="/pu/student/page">Students</a></li>
                <li ><a class=" page-link" href="/pu/routine/page">Class routine</a></li>
                <li ><a class=" page-link" href="/pu/rank/class/page">Student rank</a></li>
                <li ><a class=" page-link" href="/pu/notice/page">Notice</a></li>


            </ul>
        </div>
        
        
        <div class="col-12 col-md-2 accordion p-2">
            <li class="list-group "><span data-bs-toggle="collapse" data-bs-target="#footer-item02" class="shadow-0 bg-light btn accordion-button">Organization</span></li>
            <ul id="footer-item02" class="footer-list-item collapse"> 
                

                <li ><a class=" page-link" href="/pu/team-saanvi">Developer Team</a></li>
                <li ><a class=" page-link" href="#/pu/about-us">About us</a></li>
                <li ><a class=" page-link" href="#/pu/contact-us">Contact us</a></li>
                <li ><a class=" page-link" href="#/pu/faq">Faq</a></li>
                <li ><a class=" page-link" href="#/pu/terms-os-use">Terms o use</a></li>
                <li ><a class=" page-link" href="#/pu/privacy-policy">Privacy policy</a></li>



            </ul>
        </div>
        
        
        <div class="col-12 col-md-2 accordion p-2">
            <li class="list-group "><span data-bs-toggle="collapse" data-bs-target="#footer-item03" class="shadow-0 bg-light btn accordion-button">User </span></li>
            <ul id="footer-item03" class="footer-list-item collapse" > 
                
                <li ><a class=" page-link" href="/pu/join/parent">Join parent</a></li>
                <li ><a class=" page-link" href="/au/singin/page">Sing in</a></li>



            </ul>
        </div>
        
        
        <div class="col-12 col-md-2 accordion p-2">
            <li class="list-group ">
                <span data-bs-toggle="collapse" data-bs-target="#footer-item04" class="shadow-0 bg-light btn accordion-button">Gallery</span></li>
            <ul id="footer-item04" class="footer-list-item collapse" > 
                
                <li ><a class=" page-link" href="/pu/gallery/image/page">Photos</a></li>
                <li ><a class=" page-link" href="/pu/gallery/video/page">Videos</a></li>


            </ul>
        </div>
        


    
        <ul class="d-flex justify-content-center" style="list-style: none;">
            <li class="p-2 badge text-dark border-end">&#169; 2023 SAANVI-ABC</li>
            <li class="p-2 badge border-end"><a class="text-decoration-none" href="#/pu/terms-os-use">Terms of use</a></li>
            <li class="p-2 badge "><a class=" text-decoration-none" href="#/pu/privacy-policy">Privacy policy</a></li>
        </ul>
        
    
     </div>
     



 </footer>

 <script>

function _default(){
    const bodyHeight= window.innerHeight;
    const bodyWidth= window.innerWidth;
    

    if(bodyWidth>600){
        $('.accordion-button').click()
  
    }
}

_default()


  $(window).resize(()=>{
  _default()
  })


</script>