<style>
    
  *, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.icon-arrow{
    transition: all 1s;
    transform: rotate(90deg) !important;
}

.menu-list-item li a, .footer-list-item li a {
    font-size: small;
    padding: 10px;
    

}
.menu-list-item li a:hover, .footer-list-item li a:hover{
background-color: rgba(90, 92, 92, 0.222);

transition: all 1s;


}

#nav-link a{
    padding:10px;
}

</style>


<header class="row shadow" style="background-color:  #fafafa; height: 65px; overflow: ;">
      
    <nav class="col-12 col-md-6 ">
        <ul class="user-nav-item-header p-0 d-flex justify-content-center  align-items-center justify-content-md-start" style="list-style: none;">
            <li><a href="/">
                <img src="/image/default/resized/logo.png" alt="loading..." width="65px" height="auto" class="logo-school p-1">
            </a></li>
    
  
              <li><a class="p-2 d-none d-md-block text-dark nav-link" href="/pu/join/parent">Join Parent</a></li>
              <li><a class="p-2 d-none d-md-block text-dark nav-link" href="/pu/admission/step1">Admission</a></li>
              <li><a class=" p-2 d-none d-md-block text-dark nav-link" href="/au/singin/page">Sing in</a></li>

              <li><a class=" p-2 d-none d-md-block text-dark nav-link" href="/admin/">Admin</a></li>
  
     
        <li style="left: 25%; position: relative" class=" d-md-none "><button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" class="nav-link shadow-0  btn text-dark"><i class=" bi bi-three-dots fs-1"></i></button></li>
  
         </ul>
  
  
        </nav>
  
    <nav class=" col-12 col-md-6">        
             
        
             <ul style="list-style: none;" class=" d-flex justify-content-end  align-items-center ">
                
                <li  class=" d-none  d-md-block"><button id="main-menu-btn" data-bs-toggle="collapse" data-bs-target="#menu-list-item" class="nav-link shadow-0 p-2  text-dark  btn"><i class=" bi bi-three-dots fs-1"></i></button></li>
        
             </ul>
        
            </nav>
    </div>
  </header>
  


<script>

 function user_nav(){
    $.ajax({
        method: "get",
        url: "/au/user/nav-item-header",
        data: {},
        dataType: "JSON",
        success: function (response) {
            $('.user-nav-item-header').html(response.listData)
            
        }
    });

 } user_nav()





        </script>
    