<header id="header" class="row mb-1 shadow" style="background-color:  #fafafa; height: 65px;">

    <nav class="col-12 col-md-6">
        <ul class="user-nav-item-header p-0 d-flex justify-content-center  align-items-center justify-content-md-start"
            style="list-style: none;">
            <li>
                <a href="/">
                    <img  src="/image/default/resized/logo.png" alt="loading..." width="50px" height="50px" class="append-logo rounded-circle p-1">
                </a>
        
                  </div>

            </li>

            <li><a class="p-2 d-none d-md-block text-dark nav-link" href="/pu/admission/step1">Admission</a></li>
            <li><a class="p-2 d-none d-md-block text-dark nav-link" href="/pages/about-us.html">About us</a></li>
            <li><a class="p-2 d-none d-md-block text-dark nav-link" href="/pages/contact-us.html">Contact us</a></li>
            <li><a class="p-2 d-none d-md-block text-dark nav-link" href="/admin/">Admin</a></li>
            <li><button id="mainMenuBtn" class="p-2 mainMenuBtn d-none d-md-block  text-dark nav-link">Resources
                    <span class="rToggleBtn "><i class="bi  bi-caret-down"></i></span></button></li>



            <li style="left: 25%; position: relative" class=" d-md-none ">
                <button type="button" class="nav-link mainMenuBtn shadow-0  btn text-dark">
                    <i class=" bi bi-three-dots fs-1"></i></button>
            </li>

        </ul>


    </nav>

    <nav class=" col-12 col-md-6">


        <ul style="list-style: none;" class="me-5 pt-2  d-flex justify-content-end  ">



            <li class="append-user">
                <a class="p-2 btn  d-none nav-link d-md-block" style="background-color: #043F2E;color:  #C8F169; width: 130px;" href="/au/signin/page">Sign in</a>  
        </li>
        </ul>

    </nav>
    </div>
</header>
  

<script>

 function user_nav(){
    $.ajax({
        method: "get",
        url: "/pu/user/profile/header-nav/",
        data: {},
        dataType: "JSON",
        success: function (res) {
            $('.append-user').html(res.data)
            
        }
    });

 } user_nav()

 (function(){
  $.ajax({
    method: "get",
    url: "/pu/school/get/",
    data: {},
    dataType: "JSON",
    success: function (res) {

      $(".append-name").text(res.info_school[0].name)
      $(".append-logo").attr( 'src', `/image/default/resized/${res.info_school[0].logo}`)

  
    }
  });
  }())

</script>
    