


<div id="slider" class="row" >
  <div id="imageSlider" class="col-12" style="overflow: hidden !important;">
      <script type="text/javascript">
          jQuery(document).ready(function () {
              jQuery('#imageSlider').skdslider({
                  slideSelector: '.slide',
                  delay: 5000,
                  animationSpeed: 2000,
                  showNextPrev: true,
                  showPlayButton: true,
                  autoSlide: true,
                  animationType: 'fading'
              });
          });
      </script>

      <div class="slide">
          <img src="/image/demo/bga-1.jpg" />
          <div class="slide-desc">
              <h1 class="text-light p-2">বোয়ালমারী জর্জ একাডেমী</h1>
          </div>
      </div>

      <div class="slide">
          <img src="/image/demo/bga-2.jpg" />
          <div class="slide-desc">
              <h1 class="text-light p-2">বোয়ালমারী জর্জ একাডেমী</h1>
          </div>
      </div>


      <div class="slide">
          <img src="/image/demo/bga-3.jpg" />
          <div class="slide-desc">
              <h1 class="text-light p-2">বোয়ালমারী জর্জ একাডেমী</h1>
          </div>
      </div>

      

      <div class="slide">
          <img src="/image/demo/bga-4.jpg" />
          <div class="slide-desc">
              <h1 class="text-light p-2">বোয়ালমারী জর্জ একাডেমী</h1>
          </div>
      </div>

      <div class="slide">
          <img src="/image/demo/main.jpg" />
          <div class="slide-desc">
              <h1 class="text-light p-2">বোয়ালমারী জর্জ একাডেমী</h1>
          </div>
      </div>
      <div class="slide">
          <img src="/image/demo/front.jpg" />
          <div class="slide-desc">
              <h1 class="text-light p-2">বোয়ালমারী জর্জ একাডেমী</h1>
          </div>

      </div>
      <div class="slide">
          <img src="/image/demo/bga.jpg" />
          <div class="slide-desc">
              <h1 class="text-light p-2">বোয়ালমারী জর্জ একাডেমী</h1>
          </div>
      </div>

  </div>
</div> 

<script>



  function displayLoad(){

    $.ajax({
      type: "get",
      url: "/pu/carousel/get",
      data: {},
      dataType: "JSON",
      beforeSend: function(){


      },
      success: function (info) {

        
        $("#append-carousel-item").html(info.listData)
        $("#append-carousel-btn").html(info.listDataBtn)

        
      }
    });

  }

  displayLoad()


</script>
