<menu>
    
    <div id="mainMenu">
        <div id="menu-list-item" class="row">

            <div class="col-12 col-md-3 mt-5">
                <ul class="menu-list-item" style="list-style: none;">
                    <li class="page-link fs-4">Academic</li>
                    <li><a class=" page-link" href="/pu/admission/step1">Admission</a></li>
                    <li><a class=" page-link" href="/pu/all/teacher">Teachers</a></li>
                    <li> <a class=" page-link" href="/pu/student/page">Students</a></li>
                    <li><a class=" page-link" href="/pu/routine/page">Class routine</a></li>
                    <li><a class=" page-link" href="/pu/rank/class/page">Student rank</a></li>
                    <li><a class=" page-link" href="/pu/notice/page">Notice</a></li>
                </ul>
            </div>


            <div class="col-12 col-md-3 mt-5">

                <ul class="menu-list-item" style="list-style: none;">
                    <li class="page-link fs-4">Organization</li>

                    <li><a class=" page-link" href="/pages/about-us.html">About us</a></li>
                    <li><a class=" page-link" href="/pages/contact-us.html">Contact us</a></li>
                    <li><a class=" page-link" href="/pages/facilities.html">Facilities</a></li>
                    <li><a class=" page-link" href="/pages/eventnews.html">Event & news</a></li>
                    <li><a class=" page-link" href="/pages/achievement.html">Achievement</a></li>
                </ul>
            </div>



            <div class="col-12 col-md-3 mt-5">

                <ul class="menu-list-item user-nav-item-menu" style="list-style: none;">
                    <li class="page-link fs-4">Others</li>

                    <li><a class=" page-link" href="/pu/gallery/image/page">Photos</a></li>
                    <li><a class=" page-link" href="/pu/gallery/video/page">Videos</a></li>

                    <li><a class=" page-link" href="/pu/join/parent">Join parent</a></li>
                    <li><a class=" page-link" href="/au/signin/page">Sign in</a></li>
                    <li><a class=" page-link" href="#">Faq</a></li>

                </ul>
            </div>





        </div>

        <script>
            $('.mainMenuBtn').on('click', () => {

                $('#mainMenu').fadeToggle()
                $('.rToggleBtn').toggleClass('toggleBtnRotate')
            })
        </script>

    </div>
</menu>

    <script>

function user_nav(){
    $.ajax({
    method: "get",
    url: "/au/user/nav-item-menu",
    data: {},
    dataType: "JSON",
    success: function (response) {
        $('.user-nav-item-menu').html(response.listData)
    }
});
} user_nav()

    </script>

