

<div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

    <div class="offcanvas-body">
        <button type="button" class="btn border  btn-focus" data-bs-dismiss="offcanvas" >
          <i class="bi bi-arrow-left"></i>
          <i class="bi bi-house-fill"></i>
          </button>
  
      
     <div  class="row  bg-light">
  
  
        <div  class="col-6 col-md-6 mt-2">
            
                  
                  <a style="height: 60px;" class="p-2 mt-2 fw-500 text-truncate btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link" href="#">
                    <img class="mt-1" width="30px"src="/icons/icons8-dashboard-layout-48.png" alt=""> 
                  Dashboard
                </a>
  
        </div>
  
  
  
  
        <div  class="col-6 col-md-6 mt-2">
            
                  
                  <a style="height: 60px;" class="p-2 mt-2 fw-500 text-truncate btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link" href="#">
                    <img class="mt-1" width="30px"src="/icons/icons8-men-94.png" alt=""> 
                  Account
                </a>
  
        </div>
  
      
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: 60px;" class="p-2 mt-2 fw-500 text-truncate btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link" href="#">
      <img class="mt-1" width="30px"src="/icons/icons8-reports-64.png" alt=""> 
    Childs bi report
  </a>
  
  </div>
  
  
  
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: 60px;" class="p-2 mt-2 fw-500 text-truncate btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link" href="#">
      <img class="mt-1" width="30px"src="/icons/icons8-result-64.png" alt=""> 
    Childs transcript
  </a>
  
  </div>
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: 60px;" class="p-2 mt-2 fw-500 text-truncate btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link" href="#">
      <img class="mt-1" width="30px"src="/icons/icons8-rank-64.png" alt=""> 
    Rank
  </a>
  
  </div>
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: 60px; " class="p-2 mt-2 fw-500 text-truncate btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link" href="#">
      <img class="mt-1" width="30px"src="/icons/icons8-classroom-94.png" alt=""> 
    Class routine
  </a>
  
  </div>
  
  
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: 60px; " class="p-2 mt-2 fw-500 text-truncate btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link" href="#">
      <img class="mt-1" width="30px"src="/icons/icons8-teacher-48.png" alt=""> 
    Our teachers
  </a>
  
  </div>
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: 60px; " class="p-2 mt-2 fw-500 text-truncate btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link" href="#">
      <img class="mt-1" width="30px"src="/icons/icons8-user-group-94.png" alt=""> 
    Our students
  </a>
  
  </div>
  
  
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: 60px;" class="p-2 mt-2 fw-500 text-truncate  btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link" href="#">
      <img class="mt-1" width="30px"src="/icons/icons8-reports-58.png" alt=""> 
    All pic
  </a>
  
  </div>
  
  
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: 60px;" class="p-2 mt-2 fw-500 text-truncate btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link" href="#">
      <img class="mt-1" width="30px"src="/icons/icons8-reports-50.png" alt=""> 
    All pis
  </a>
  
  </div>
  
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: 60px;" class="p-2 mt-2 fw-500 text-truncate btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link" href="#">
      <img class="mt-1" width="30px"src="/icons/icons8-reports-64.png" alt=""> 
    All bi
  </a>
  
  </div>
  
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: 60px;" class="p-2 mt-2  fw-500 text-truncate btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link" href="#">
      <img class="mt-1" width="30px"src="/icons/icons8-result-64.png" alt=""> 
    All transcript
  </a>
  
  </div>
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: 60px;" class="p-2 mt-2  fw-500 text-truncate btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link" href="#">
      <img class="mt-1" width="30px" src="/icons/icons8-calendar-48.png" alt=""> 
    All attendance
  </a>
  
  </div>
  
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: 60px; " class="p-2 mt-2  fw-500 text-truncate btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link" href="#">
      <img class="mt-1" width="30px"src="/icons/icons8-logout-48.png" alt=""> 
    Sing out
  </a>
  
  </div>
  
  
  
     
  
    </div>
  </div>
  
  </div>
  