
    <button type="button" id="profileTrigger" class="btn btn-light d-none" data-toggle="modal" data-target="#exampleModalLong">
      i 
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Profile Info</h5>
            <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
            
            </button>
          </div>
          <div class="modal-body">
            
    
            
                <div class="card h-75 overflow-hidden">
                 
                        <img id="avatarpng" class="card-img-to m-auto" style="border-radius: 100% !important" width="100px" src="/image/student/male_avatar.png" alt="404"
                   
                    <div class="card-body text-center">
                       <div id="profileInfo" class=" text-center">
    
                    
                    
                       </div>
                    </div>
         
           
    
    
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    
