
<div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

    <div class="offcanvas-body">
        <button style="background-color:  #712cf9;" type="button" class="btn " data-bs-dismiss="offcanvas" >
            <i class=" bi bi-arrow-return-left text-light"></i> </button>
        
     <div  class="row border-top justify-content-center bg-light border-bottom">


        <div  class="col-12 col-md-6">
            <ul class="menu-list-item" style="list-style: none;"> Workspace
                <li> <a class=" page-link" href="/teacher/attendance/form">Attendance sheet</a></li>
                <li ><a class=" page-link" href="/teacher/daily/mark/page">Daily mark system</a></li>
                <li ><a class=" page-link" href="/teacher/pic/page-mark-init">PIC mark system</a></li>
                <li ><a class=" page-link" href="/teacher/pis/page-mark-init">PIS mark system</a></li>
                <li ><a class=" page-link" href="/teacher/bi/page-mark-init">BI mark system</a></li>
                <li ><a class=" page-link" href="/teacher/bi/page-report-init">BI mark report</a></li>
            </ul>
        </div>



 
              <div  class="col-12 col-md-6">
            <ul class="menu-list-item" style="list-style: none;"> Privet report
                <li ><a class=" page-link" href="/privet/attendance/report/page">Attendance report</a></li>
                <li ><a class=" page-link" href="/privet/pic/report-init-page">PIC report</a></li>
                <li ><a class=" page-link" href="/privet/pis/report-init-page">PIS report</a></li>
                <li> <a class=" page-link" href="/privet/transcript/report-init-page">Transcript report</a></li>
            </ul>
        </div>



 
              <div  class="col-12 col-md-6">
            <ul class="menu-list-item" style="list-style: none;"> Academic
                <li ><a class=" page-link" href="#">My routine</a></li>
                <li ><a class=" page-link" href="/pu/all/teacher">Teachers</a></li>
                <li ><a class=" page-link" href="/pu/student/page">Students</a></li>
                <li> <a class=" page-link" href="/pu/rank/class/page">Student rank</a></li>
                <li ><a class=" page-link" href="/privet/routine/page">Class routine</a></li>
            </ul>
        </div>



 
              <div  class="col-12 col-md-6">
            <ul class="menu-list-item" style="list-style: none;"> User
                <li ><a class=" nav-link" href="/teacher/dashboard">Dashboard</a></li>
                <li ><a class=" nav-link" href="/teacher/account">Account</a></li>

                <li><a class=" nav-link " href="/au/singout">Sing out</a></li>
                <li><a class=" nav-link " href="#">Menual guide</a></li>
                <li><a class=" nav-link " href="#">Support</a></li>            </ul>
        </div>





         
<ul class="d-flex justify-content-center" style="list-style: none;">
    <li class="p-2 badge border-end"><a href="#/pu/terms-os-use">Terms of use</a></li>
    <li class="p-2 badge "><a href="#/pu/privacy-policy">Privacy policy</a></li>
</ul>
     </div>
     
 
    </div>
  </div>
 
 




