<div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

    <div class="offcanvas-body">
        <button type="button" class="btn border btn-focus" data-bs-dismiss="offcanvas" >
            <i class="bi bi-arrow-left"></i>
            <i class="bi bi-house-fill"></i>
          </button>
  
      
     <div  class="row  bg-light">
  
  
        <div  class="col-6 col-md-6 mt-2">
            
                  
          <a style="height: max-content;" class="p-2 d-flex flex-wrap mt-2 fw-500 text-wrap btn-light btn-focus border justify-content-center align-items-center rounded shadow-sm page-link" 
          href="/teacher/dashboard">
                    <img class="mt-1" width="30px" src="/icons/icons8-dashboard-layout-48.png" alt=""> 
                  Dashboard
                </a>
  
        </div>
  
  
  
  
        <div  class="col-6 col-md-6 mt-2">
            
                  
          <a style="height: max-content;" class="p-2 d-flex flex-wrap mt-2 fw-500 text-wrap btn-light btn-focus border justify-content-center align-items-center rounded shadow-sm page-link" 
          href="/teacher/attn/init/page">
                    <img class="mt-1" width="30px" src="/icons/icons8-today-94.png" alt=""> 
                  Take attendance
                </a>
  
        </div>
  

          
        <div  class="col-6 col-md-6  mt-2">
            
                  
                  <a style="height: max-content;" class="p-2 d-flex flex-wrap mt-2 fw-500 text-wrap btn-light btn-focus border justify-content-center align-items-center rounded shadow-sm page-link" 
                  href="/privet/attn/repo/init/page">
                    <img class="mt-1" width="30px" src="/icons/icons8-calendar.png" alt=""> 
                  Attendance report
                </a>
  
        </div>
  
        
  
<!--   
   <div  class="col-6 col-md-6 mt-2">
            
                  
          <a style="height: 60px;" class="p-2 mt-2 fw-500 text-truncate btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link"
           href="/teacher/pic/page-mark-init">
            <img class="mt-1" width="30px" src="/icons/icons8-ball-point-pen-94.png" alt=""> 
          PIC mark
        </a>
  
  </div> -->
  
  
  
  
  
  <!-- <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: 60px;" class="p-2 mt-2 fw-500 text-truncate btn-light btn-focus border d-flex justify-content-center align-items-center rounded shadow-sm page-link" 
    href="/privet/pic/report-init-page">
      <img class="mt-1" width="30px" src="/icons/icons8-reports-58.png" alt=""> 
    PIC report
  </a>
  
  </div>
   -->
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: max-content;" class="p-2 d-flex flex-wrap mt-2 fw-500 text-wrap btn-light btn-focus border justify-content-center align-items-center rounded shadow-sm page-link" 
    href="/teacher/pis/page-mark-init">
      <img class="mt-1" width="30px" src="/icons/icons8-hand-with-pen-100.png" alt=""> 
    PIS mark
  </a>
  
  </div>
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: max-content;" class="p-2 d-flex flex-wrap mt-2 fw-500 text-wrap btn-light btn-focus border justify-content-center align-items-center rounded shadow-sm page-link" 
    href="/privet/pis/report-init-page">
      <img class="mt-1" width="30px" src="/icons/icons8-reports-50.png" alt=""> 
    PIS report
  </a>
  
  </div>
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: max-content;" class="p-2 d-flex flex-wrap mt-2 fw-500 text-wrap btn-light btn-focus border justify-content-center align-items-center rounded shadow-sm page-link" 
    href="/teacher/bi/page-mark-init">
      <img class="mt-1" width="30px" src="/icons/icons8-hand-with-pen-60.png" alt=""> 
    BI mark
  </a>
  
  </div>
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: max-content;" class="p-2 d-flex flex-wrap mt-2 fw-500 text-wrap btn-light btn-focus border justify-content-center align-items-center rounded shadow-sm page-link" 
    href="/teacher/bi/page-report-init">
      <img class="mt-1" width="30px" src="/icons/icons8-reports-64.png" alt=""> 
    BI report
  </a>
  
  </div>
  
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: max-content;" class="p-2 d-flex flex-wrap mt-2 fw-500 text-wrap btn-light btn-focus border justify-content-center align-items-center rounded shadow-sm page-link" 
    href="/teacher/daily/mark/init/page/">
      <img class="mt-1" width="30px" src="/icons/icons8-hand-with-pen-94.png" alt=""> 
    Daily mark
  </a>
  
  </div>
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: max-content;" class="p-2 d-flex flex-wrap mt-2 fw-500 text-wrap btn-light btn-focus border justify-content-center align-items-center rounded shadow-sm page-link" 
    href="/pu/rank/class/page">
      <img class="mt-1" width="30px" src="/icons/icons8-rank-64.png" alt=""> 
    Rank
  </a>
  
  </div>
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: max-content;" class="p-2 d-flex flex-wrap mt-2 fw-500 text-wrap btn-light btn-focus border justify-content-center align-items-center rounded shadow-sm page-link" 
    href="/privet/transcript/report-init-page">
      <img class="mt-1" width="30px" src="/icons/icons8-result-64.png" alt=""> 
    Transcript
  </a>
  
  </div>
  
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: max-content;" class="p-2 d-flex flex-wrap mt-2 fw-500 text-wrap btn-light btn-focus border justify-content-center align-items-center rounded shadow-sm page-link" 
    href="/teacher/dashboard#">
      <img class="mt-1" width="30px" src="/icons/icons8-classroom-94.png" alt=""> 
    My routine
  </a>
  
  </div>
  
  
  
  
  
  <div  class="col-6 col-md-6 mt-2">
            
                  
    <a style="height: max-content;" class="p-2 d-flex flex-wrap mt-2 fw-500 text-wrap btn-light btn-focus border justify-content-center align-items-center rounded shadow-sm page-link" 
    href="/au/signout">
      <img class="mt-1" width="30px" src="/icons/icons8-logout-48.png" alt=""> 
    Sing out
  </a>
  
  </div>
  
  
  
     
  
    </div>
  </div>
  
  </div>