    <!-- Flexbox container for aligning the toasts -->
    <div style="z-index: 1020; position: fixed; margin-top: 100px;"  aria-live="polite" aria-atomic="true" class="d-flex  justify-content-center align-items-center w-100">
    
        <!-- Then put toasts within -->
        <div class="toast fade  " role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header ">
            <strong class="me-auto toast-title" id="toast-title">notification</strong>
            <small >just now!</small>
            <button type="button" class="btn-close toast-btn toast-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body fw-bold alert alert-type toast-msg" id="toast-msg">
            no message!
          </div>
        </div>
      </div>