
        <!-- Flexbox container for aligning the toasts -->
        <div style="position: fixed; top: 5px; z-index: 99999;"  aria-live="polite" aria-atomic="true" class="d-flex  justify-content-center align-items-center w-100">
          <code class=" alert alert-success"><%=msg%> </code>

        </div>