
<header id="userNav" class="row  shadowx mb-5 bg-light" style="position: fixed; z-index: 1020; top:0;right:0;left: 0; height: 69px; overflow: visible;">
  <div class="d-flex justify-content-between align-items-center">

    <button  style="height: max-content;" id="main-menu-btn-md" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" class="offcanvasbtn d-none d-md-block btn-hover shadow-sm-0 ps-3 btn">
      <img width="30px" height="30px" src="/icons/icons8-apps-100.png" alt="">
      </button> 
      
      <button  style="height: max-content;" id="main-menu-btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" class="offcanvasbtn btn-hover d-block d-md-none shadow-sm-0 ps-3 btn">
      <img width="30px" height="30px" src="/icons/icons8-apps-100.png" alt="">
      </button>
      

      <div style="font-family:'Times New Roman', Times, serif;" 
      class=" ps-2 fw-bold fs-6 text-muted rounded d-flex h-100 justify-content-start align-items-center pe-5" >
      Eduxoom
      </div>

      <div class="d-flex pe-2">

        <a class="p-2  btn-hover btn rounded" href="/">
          <i class="bi bi-house fs-3"></i>

        </a>

        <a class="p-2  btn-hover btn rounded" href="/pu/notice/page">
          <i class="bi bi-bell fs-3"></i>
        </a>
        
        <div class="p-2  tooltipx btn-hover bg-light btn rounded">
          <img class="append-user-avatar rounded-circle" style="transform: scale(1);" height="40px" width="40px" src="/image/default/user.png" alt="">
          
          <div class="tooltipy  bg-light shadow ps-5 pe-5 pt-3 pb-3">
             <a class="nav-link mt-1 btn-hover rounded p-1 append-user-profile" href="#">Account</a>
             <a class="nav-link mt-1 btn-hover rounded p-1 append-user-dashboard" href="#">Dashboard</a>
             <a class="nav-link mt-1 btn-hover rounded p-1" href="/au/signout/">Sign out</a>
          </div>

        </div>
      </div>

      

  </div>

  <p class="mb-5"></p>

</header>
<p class="mbx"></p>
<script>
  


function user_nav(){
    $.ajax({
        method: "get",
        url: "/au/user/header-nav",
        data: {},
        dataType: "JSON",
        success: function (res) {
            $('.append-user-avatar').attr('src',res.avatar)
            $('.append-user-profile').attr('href',res.profile)
            $('.append-user-dashboard').attr('href',res.dashboard)
        }
    });
 } user_nav()

</script>