<% if (info_notice.length > 0) { %>
  <div id="noticeArea">
    <style>
      .notice-container {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 5px;
        max-height: 200px; /* Set a max height for scroll box */
        overflow-y: auto; /* Enable vertical scroll */
      }
      .notice-heading {
        font-size: 1.3em;
        margin-bottom: 15px;
      }
      @media (max-width: 768px) {
        .notice-container {
          margin-top: 20px;
          max-height: 200px; /* Adjust max height for smaller devices */
        }
      }
    </style>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 notice-container text-truncate">
          <a class="view-link link-me" href="/pu/notice/page/">Explore notice page</a>
          <ul>
            <% info_notice.forEach((item) => { %>
              <li class="view-link">
                <code class="fw-bold"><%=item.at_date.toString().substring(0, 25)%></code>
                <a class="page-link fw-semibold p-1 border-bottom border-3" href="/pu/notice/view/<%=item.ID%>"><%=item.title%> </a>
              </li>
             
            <% }) %>
          </ul>
          <a class=" fw-semibold" href="/pu/notice/page/">more</a>
        </div>
      </div>
    </div>
  </div>
<% } else { %>
  <% null %>
<% } %>
