
<div id="stats" class="row mt-1 mbx p-md-3">

    <div class="col-12 mt-1 col-md-4  p-2  bg-light shadow rounded  " style="height: 150px;">
  
      <center>
        <h5 style="font-weight: 600;" class="text-center mt-4"> 
            <i class="bi bi-people"></i> Teachers <b class="fw-semibold"><%=info_teacher[0].count%></b>
     </h5>
        <p style="line-height: 1.5;" class="text-center">
        Our teachers information
        </p>
        <a class="text-decoration-none fw-semibold link-hover" href="/pu/all/teacher">
            View teachers
            <i class="link-move fa fa-angle-right"></i>
          </a> 
      </center>
  
    </div>
  
  
  
    <div class="col-12 mt-1 col-md-4  p-2  bg-light shadow rounded " style="height: 150px;">
  
        <center>
          <h5 style="font-weight: 600;" class="text-center mt-4"> 
              <i class="bi bi-people"></i> Students <b class="fw-semibold"><%=info_student[0].count%></b>
       </h5>
          <p style="line-height: 1.5;" class="text-center">
          Our students information
          </p>
          <a class="text-decoration-none fw-semibold link-hover" href="/pu/student/page">
              View students
              <i class="link-move fa fa-angle-right"></i>
            </a> 
        </center>
  
      </div>
  
  
      <div class="col-12 mt-1 col-md-4  p-2  bg-light shadow rounded " style="height: 150px;">
  
        <center>
          <h5 style="font-weight: 600;" class="text-center mt-4"> 
              <i class="bi bi-people"></i> Staff <b class="fw-semibold"><%=info_staff[0].count%></b>
       </h5>
          <p style="line-height: 1.5;" class="text-center">
          Our staff information
          </p>
          <a class="text-decoration-none fw-semibold link-hover" href="/pu/staff-page.html">
              View staff
              <i class="link-move fa fa-angle-right"></i>
            </a> 
        </center>
  
      </div>
  
  
  
  </div> 
  