<%- include("../component/header") %> 
<%- include("../component/navbar") %> 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Sheet</title>


</head>
<style>
  @media only screen and (max-width: 768px) {
    .form {
      width: 90% !important;
    }
  }
</style>
<body>

    <div class="row">
        <%-include("../teacher/teacher_panel") %> 

        <div class="col">

            <center>

                <form action="/teacher/attendance/page" class="w-50 form container " method="post">
        
                    <center>
                        <legend class=" alert bg-body ">
                            উপস্থিতি ফর্ম
                        </legend>
                    </center>
        
                    
                <select name="className" id="" class="text-center form-self" required>
                    <option selected value="">শ্রেণী নির্বাচন করুন</option>
                    <option value="Six">ষষ্ঠ</option>
                    <option value="Seven">সপ্তম</option>
                    <option value="Eight">অষ্টম</option>
                    <option value="Nine">নবম</option>
                    <option  value="Ten">দশম</option>
                </select>
                <p></p>
                <select  class="text-center form-self" name="sectionName" id="" required>
                    <option selected value="">শাখা নির্বাচন করুন</option>
                    <option value="A">ক</option>
                   <option value="B">খ</option>
                   <option value="C">গ</option>
                </select>
                <p></p>
                <button class=" btn-self w-50">শুরু করুন
                </button>
                </form>
        
            <p></p>
        

        </div>

    </div>


</body>
</html>