
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <%- include("../component/metadata.html") %> 

<style>
    a{
    text-decoration: none;
    padding: 1px;
    font-weight: 500;
    font-size: 95%;
   }  .link-me:hover{
    text-decoration: underline;
   }
   
</style>
</head>

<body onload="pageLoadingTop()">

    <div id="FormApp" class="container mt-5 mb-5">
        <div class="row p-2">
          <div class="col-12 col-md-8 col-lg-6 shadowx m-auto p-3 pb-5">
            <form id="formau" action="#" method="post" class="text-center">
              <code class="pb-3 fw-semibold fs-5">Admin Sign in</code>
              <a href="/au/signout/" class="pb-3 mt-3 d-block">Return to sign in</a>

              <p class="p-1 fw-semibold">Demo Admin Email / Password<br>
                <code>email: user@admin.com / pass: user@admin.com</code>
              </p>

              <div class="input-group mt-2">
                <span class="input-group-text"><img width="30px" src="/icons/icons8-mail-48.png" alt=""></span>
                <input type="text" placeholder="user@admin.com" name="hashUsername" class="form-dev form-control" required>
              </div>
              <div class="input-group mt-3">
                <span class="input-group-text"><img width="30px" src="/icons/icons8-sign-in-form-password-48.png" alt=""></span>
                <input id="password" type="password" placeholder="user@admin.com" name="hashPassword" class="form-control form-dev" required>
                <span style="position: absolute; right: 0;" id="eye-hide" class="btn input-group-text"><i class="bi bi-eye-slash-fill"></i></span>
                <span style="display: none; position: absolute; right: 0;" id="eye-show" class="btn input-group-text"><i class="bi bi-eye-fill"></i></span>
              </div>
              <div class="p-2 mt-4">
                <button id="submitbtn" type="submit" class="btn fw-bold fs-3 btn-sm w-50"><code>Sign in</code></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      

<%- include("../component/___node.html") %> 


<script>


$('#formau').on('submit', (event)=>{
event.preventDefault();
$.ajax({
    method: "post",
    url: "/admin/logger/",
    data: $('#formau').serialize(),
    dataType: "JSON",
    beforeSend: function(){
       $('#submitbtn').addClass('disabled');
    },
    success: function (res) {
        $('#submitbtn').removeClass('disabled');
        if(res.status==404){
            _msg_pull(res.alert, res.msg)
        } else if(res.status==200){
            window.location.replace(res.route);
        } else {};
        
    }
});
})




$('#eye-hide').click(()=>{
    $('#password').attr('type', "text")
    $('#eye-hide').css({'display': 'none'})
    $('#eye-show').css({'display': 'block'})
})

$('#eye-show').click(()=>{
    $('#password').attr('type', "password")
    $('#eye-hide').css({'display': 'block'})
    $('#eye-show').css({'display': 'none'})
})


</script>

      

</body>
</html>