<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <title>Subject settings</title>
    <%- include("../component/metadata.html") %>

</head>

<body onload="pageLoadingTop()">

    <%- include("../component/admin-header-nav.html") %>
        <%- include("../component/admin-menu-nav.html") %>

            <main id="main-content" class="p-2 main-content mt-5">

                <content>
                    <div class="row mt-5">

                        <div class="col-md-8 m-auto col-11">
                            <div class="col-md-8 m-auto mb-2 col-11">
                                <div class="d-flex justify-content-end me-2">
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#openform" id="openformbtn"
                                        class="btn link-success shadowx btn-go fw-500">Create a new subject</button>
                                </div>

                            <div class="d-flex p-2 m-1 shadowx fw-semibold">
                                <button onclick="find_class('Six')"
                                    class="btn-status btn-primary rounded-0 flex-fill btn link-light fw-semibold">SIX</button>
                                <button onclick="find_class('Seven')"
                                    class="btn-status flex-fill rounded-0 btn link-primary fw-semibold">SEVEN</button>
                                <button onclick="find_class('Eight')"
                                    class="btn-status flex-fill rounded-0 btn link-primary fw-semibold">Eight</button>
                                <button onclick="find_class('Nine')"
                                    class="btn-status flex-fill rounded-0 btn link-primary fw-semibold">Nine</button>
                                <button onclick="find_class('Ten')"
                                    class="btn-status flex-fill rounded-0 btn link-primary fw-semibold">Ten</button>
                            </div>

                            <form id="formcheckout" action="#" method="post">

                            <div class="d-flex p-2 m-1 shadowx fw-semibold">
                                    <input disabled class="check-mark shadowx form-check-input" type="checkbox" value="checkout" name="checkout" id="">
                                    <button type="submit" name="" class="btn disabled btn-link p-0 fw-semibold ps-2">Delete
                                        forever</button>
                            </div>

                            <div id="elementdata" class="check-mark-area">



                        </div>
                         </form>

                        </div>
                    </div>

                    <div id="openform" data-bs-backdrop="static" class="row modal p-2 mt-5">

                        <div
                            class="col-md-10 modal-dialog modal-content shadowx  mt-3 bg-gradient- bg-light text- mb-5 col-12 m-auto">

                            <form id="formdata" action="#" method="post">
                                <div class="col-11">
                                    <p class="p-2 text-muted text-center fw-semibold fs-5">My create form</p>
                                </div>


                                <div class="d-flex  p-2 justify-content-between align-items-center">
                                    <select required name="class_name" class="w-100 shadowx form-dev form-control-sm"
                                        id="">
                                        <option disabled selected value="">Choose class</option>
                                        <option value="Six">Six</option>
                                        <option value="Seven">Seven</option>
                                        <option value="Eight">Eight</option>
                                        <option value="Nine">Nine</option>
                                        <option value="Ten">Ten</option>
                                    </select>

                                </div>


                                <span class="append-form">
                                    <div class="d-flex  p-2 justify-content-center align-items-center">
                                        <input required type="text" class="flex-fill shadowx form-dev form-control-sm"
                                            placeholder="enter subject name" name="subject_name[]">
                                        
                                            <div class="d-flex justify-content-between">
                                            <button type="button" title="add more"
                                                class="fs-5 addItem btn link-primary fw-semibold">+</button>
                                            <button type="button" title="remove"
                                                class="fs-5 disabled removeItem btn link-primary fw-semibold">-</button>

                                        </div>

                                    </div>
                                </span>


                                <div class="d-flex justify-content-between p-2 mb-2">
                                    <button type="button" data-bs-dismiss="modal" class="btn btn-link">Close</button>
                                    <button class="btn disabled text-primary submitbtn nav-fill btn-hover shadowx">Create and
                                        save</button>
                                </div>

                            </form>

                        </div>


                    </div>
                </content>

            </main>

<%- include("../component/___node.html") %>
</body>

<script>

$('.btn-status').on('click', (event) => {
        $('.btn-status').removeClass('btn-primary link-light')
        $(event.target).addClass('btn-primary link-light')
    })

    function find_class(class_name) {
        $.ajax({
            method: "post",
            url: "/admin/subject/get",
            data: { class_name },
            dataType: "JSON",
            success: function (res) {
                $('#elementdata').html(res.htmldata);


            }
        });
    }

    find_class('Six')


$(document).on("click", ".addItem", (e) => {

$(".append-form").append(` 
<div class="d-flex  p-2 justify-content-center align-items-center">  
            <input required  type="text" class="flex-fill shadowx form-dev form-control-sm" placeholder="enter subject name" name="subject_name[]">
          <div class="d-flex justify-content-between">
              <button type="button" title="add more" class="fs-5 addItem btn link-primary fw-semibold">+</button>
              <button type="button" title="remove" class="fs-5 removeItem btn link-primary fw-semibold">-</button>

          </div>

 </div> 
`)

    })



$(document).on("click", ".removeItem", (e) => {
        let thisItem = e.currentTarget.parentElement.parentElement

        $(thisItem).remove()


    })



$("#formdata").on('submit', (event) => {
        event.preventDefault();
        $.ajax({
            method: "post",
            url: "/admin/subject/post",
            data: $("#formdata").serialize(),
            dataType: "JSON",

            beforeSend: function () {
                $(".submitbtn").addClass('disabled')

            },

            success: function (res) {
                $(".submitbtn").removeClass('disabled')

               _msg_pull(res.alert, res.msg)

               find_class('Six')

            }
        });

    })

$('#formcheckout').on('submit', (event)=>{
  event.preventDefault()
  $.ajax({
  method: "post",
  url: "/admin/subject/rm",
  data: $('#formcheckout').serialize(),
  dataType: "JSON",
  success: function (res) {
    _msg_pull(res.alert, res.msg)
    find_class('Six')
  }
});
})


</script>

</html>