<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/custom.css">
    <%- include("../component/metadata.html") %>

</head>

<body onload="pageLoadingTop()">

    <%- include("../component/user-header-nav.html") %>
        <%- include("../component/student-offcanvas-nav.html") %>


        <div class="row mt-5 mbx p-2 shadowx">



            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
              <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
              
                    <img class="mt-1" width="30px" src="/icons/icons8-home-94.png" alt=""> 
                    <p class="fw-500 text-truncate  mt-1">Home</p>
              </a>
              
                </div>
          
                
          
            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
          <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
          
                <img class="mt-1" width="30px" src="/icons/icons8-calendar-64.png" alt=""> 
                <p class="fw-500 text-truncate  mt-1">My Attendance</p>
          </a>
          
            </div>
            
                        
            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
              <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
              
                    <img class="mt-1" width="30px" src="/icons/icons8-document-48.png" alt=""> 
                    <p class="fw-500 text-truncate  mt-1">My application</p>
              </a>
              
                </div>
          
          
          
            
            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
          <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
          
                <img class="mt-1" width="30px" src="/icons/icons8-classroom-94.png" alt=""> 
                <p class="fw-500 text-truncate  mt-1">Class routine</p>
          </a>
          
            </div>
          
          
          
            
            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
              <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
              
                    <img class="mt-1" width="30px" src="/icons/icons8-topic-push-notification-94.png" alt=""> 
                    <p class="fw-500 text-truncate  mt-1">Notice</p>
              </a>
              
                </div>
          
                        
            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
              <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
              
                    <img class="mt-1" width="30px" src="/icons/icons8-rank-64.png" alt=""> 
                    <p class="fw-500 text-truncate  mt-1">Rank</p>
              </a>
              
                </div>
          
          
          
          
          
          
          
          
                  
            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
              <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
              
                    <img class="mt-1" width="30px" src="/icons/icons8-reports-58.png" alt=""> 
                    <p class="fw-500 text-truncate  mt-1">My pic report</p>
              </a>
              
                </div>
          
          
                  
            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
              <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
              
                    <img class="mt-1" width="30px" src="/icons/icons8-reports-50.png" alt=""> 
                    <p class="fw-500 text-truncate  mt-1">My pis report</p>
              </a>
              
                </div>
          
          
          
          
                  
            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
              <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
              
                    <img class="mt-1" width="30px" src="/icons/icons8-reports-64.png" alt=""> 
                    <p class="fw-500 text-truncate  mt-1">My bi report</p>
              </a>
              
                </div>
          
          
          
                  
            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
              <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
              
                    <img class="mt-1" width="30px" src="/icons/icons8-result-64.png" alt=""> 
                    <p class="fw-500 text-truncate  mt-1">My transcript</p>
              </a>
              
                </div>
          
          
          
          
                        
            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
              <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
              
                    <img class="mt-1" width="30px" src="/icons/icons8-teacher-48.png" alt=""> 
                    <p class="fw-500 text-truncate  mt-1 ">Our teachers</p>
              </a>
              
                </div>
          
          
          
                
                        
            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
              <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
              
                    <img class="mt-1" width="30px" src="/icons/icons8-user-group-94.png" alt=""> 
                    <p class="fw-500 text-truncate  mt-1 ">Our students</p>
              </a>
              
                </div>
          
          
          
                
                  
            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
              <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
              
                    <img class="mt-1" width="30px" src="/icons/icons8-reports-58.png" alt=""> 
                    <p class="fw-500 text-truncate  mt-1">All pic report</p>
              </a>
              
                </div>
          
          
                  
            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
              <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
              
                    <img class="mt-1" width="30px" src="/icons/icons8-reports-50.png" alt=""> 
                    <p class="fw-500 text-truncate  mt-1">All pis report</p>
              </a>
              
                </div>
          
          
          
          
                  
            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
              <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
              
                    <img class="mt-1" width="30px" src="/icons/icons8-reports-64.png" alt=""> 
                    <p class="fw-500 text-truncate  mt-1">All bi report</p>
              </a>
              
                </div>
          
          
          
                  
            <div class="col-md-3 col-6 mt-4" style="height: 100px;">
              <a class="text-center text-decoration-none btn-light page-link btn-focus shadow-sm mt-3 p-1 rounded border" style="height: 100%; width: 100%;" href="#">
              
                    <img class="mt-1" width="30px" src="/icons/icons8-report-file-48.png" alt=""> 
                    <p class="fw-500 text-truncate  mt-1">All transcript</p>
              </a>
              
                </div>
          
          
          
          
          </div>



            <%- include("../component/___node.html") %>


</body>

</html>