


 

 <div>
    <button id="sidebarToggle" class=" btn text-light  float-end float-md-start bg-success">&#9776;</button>

</div>

    <div id="sidebar" class="col-12 text-center text-md-start m-auto col-md-3 m-md-0  " style=" border-right: 1px solid black; height: 500px; overflow-y: scroll; position: absolute; z-index: 1;" >
        <button id="sidebarCloseBtn" class="btn btn-close bg-light float-end"></button>
          
        <p class="text-secondary m-2">S T U D E N T - P A N E L</p>
        <a href="/student/dashboard" class="nav-link" id="sitebar-menu"><i class="fa-solid fa-dashboard"></i> Dashboard</a> <p></p>
        <a href="/student/account" class="nav-link" id="sitebar-menu"><i class="fa-solid fa-user"></i> Account</a> <p></p>
        <a href="/student/application/page" class="nav-link" id="sitebar-menu"><i class="fa-solid fa-book"></i> Application</a> <p></p>

        <p class="text-secondary m-2">A C A D E M I C</p>
        <a href="/privet/attendance/report/page" class="nav-link" id="sitebar-menu"><i class="fa-solid fa-calendar-o"></i> Attendance Report</a> <p></p>
        <a href="/privet/routine/page" class="nav-link" id="sitebar-menu"><i class="fa-solid fa-solid fa-book-open"></i> Class Routine</a> <p></p>
        
        <a href="/pu/all/teacher" class="nav-link" id="sitebar-menu"><i class="fa-solid fa-users"></i> Teacher List</a> <p></p>
        <a href="/pu/student/page" class="nav-link" id="sitebar-menu"><i class="fa-solid fa-graduation-cap"></i> Student List</a> <p></p>
        <a href="/pu/notice/page" class="nav-link" id="sitebar-menu"><i class="fa-solid fa-bell"></i> Notice Board</a> <p></p>
        <a href="/pu/rank/class/page" class="nav-link" id="sitebar-menu"><i class="fa-solid fa-bar-chart"></i> Student Rank</a> <p></p>
        <a href="/pu/result/page" class="nav-link" id="sitebar-menu"><i class="fa-solid fa-pie-chart"></i> Student Result</a>
       

     </div>


     <script>


       $("#sidebar").hide()
$("#sidebarToggle").on("click", ()=>{    
$("#sidebar").slideDown()
                        
 })
 
 $("#sidebarCloseBtn").on("click", ()=>{    
$("#sidebar").slideUp()
                        
 })
                


     </script>