

<html lang="en">
<head>
    <title>PIC Mark</title>
    <%- include("../component/metadata.html") %> 

</head>
<body onload="pageLoadingTop()">
    
    <%- include("../component/user-header-nav.html") %> 
    <%- include("../component/teacher-offcanvas-nav.html") %> 

    <center>
     <h5 class="mt-5"> PIC Mark</h5>
    </center>

 <div class="row">

<form action="/teacher/pic/page-mark-get" method="get">

    
<div class="col-11 col-md-6 m-auto">
    <input type="hidden" name="page" value="1">

 

       <select name="class_section" id="classNameX" class=" form-self" required>
        
        <option value="" selected disabled>শ্রেণী নির্বাচন করুন</option>

        <optgroup class="status_Six" label="ষষ্ঠ শ্রেণী">
          <option class="status_Six_A" value="Six$%&A">ষষ্ঠ - ক</option>
          <option class="status_Six_B" value="Six$%&B">ষষ্ঠ - খ</option>
          <option class="status_Six_C" value="Six$%&C">ষষ্ঠ - গ</option>
         </optgroup>


                      
         <optgroup class="status_Seven" label="সপ্তম শ্রেণী">
          <option class="status_Seven_A" value="Seven$%&A">সপ্তম - ক</option>
          <option class="status_Seven_B" value="Seven$%&B">সপ্তম - খ</option>
          <option class="status_Seven_C" value="Seven$%&C">সপ্তম - গ</option>
         </optgroup>
         


         <optgroup class="status_Eight" label="অষ্টম শ্রেণী">
          <option class="status_Eight_A" value="Eight$%&A">অষ্টম - ক</option>
          <option class="status_Eight_B" value="Eight$%&B">অষ্টম - খ</option>
          <option class="status_Eight_C" value="Eight$%&C">অষ্টম - গ</option>
         </optgroup>

          

                  
           <optgroup class="status_Nine" label="নবম শ্রেণী">
            <option class="status_Nine_A" value="Nine$%&A">নবম - ক</option>
            <option class="status_Nine_B" value="Nine$%&B">নবম - খ</option>
            <option class="status_Nine_c" value="Nine$%&C">নবম - গ</option>
           </optgroup>
     
            <optgroup class="status_Ten" label="দশম শ্রেণী">
               <option class="status_Ten_A" value="Ten$%&A">দশম - ক</option>
               
               <option class="status_Ten_B" value="Ten$%&B">দশম - খ</option>
               <option class="status_Ten_C" value="Ten$%&C">দশম - গ</option>
              </optgroup>
      

          
       
       </select>
    
       <p></p>

      <select class=" form-self " name="subject" id="subjectName" required>
         <option value="" disabled selected>বিষয় নির্বাচন করুন</option>
                
     </select>  

  
     <p></p>
     <center>
        <input class="w-50 m-auto btn-self" type="submit" value="Go">
     </center>

</div>

</form>



</div>


    
</body>

<script>


(function(){
  $.ajax({
    type: "get",
    url: "/pu/class/section/rm",
    data: {},
    dataType: "JSON",
    success: function (res) {

     for (let index = 0; index < res.cls.length; index++) {

      $(".status_"+res.cls[index].class).remove()
        
     }

     for (let index = 0; index < res.clss.length; index++) {

        $(".status_"+res.clss[index].class+'_'+res.clss[index].section).remove()
        
     }
    }
  });

  }())

$('#classNameX').on('change', ()=>{
    let ArrayData= $('#classNameX').val().split('$%&');
    let className=  ArrayData[0];
    let sectionName= ArrayData[1];
    $.ajax({
        method: "post",
        url: "/teacher/pic/subject/get",
        data: {className, sectionName},
        dataType: "JSON",
        success: function (info) {

            $('#subjectName').html(info.listData);
        }
    });
})


</script>


</html>