<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <!-- Boostrapt cdn -->
    <link rel="stylesheet" href="/bootstrap.css">

    <style>

@media only screen and (max-width:678px) {

  #imgCard{
    height: 300px !important;
    width: 100% !important;
  }
  
}

@media only screen and (min-width:678px) {

#imgCard{
  height: 600px !important;
  width: 100% !important;
}

}

    </style>

</head>
<body class=" ">


 
    <div class="card text-white bg-dark" >
      <div class="card-body ">
        <center>
            <h1>Page not found! <i class="fa-solid fa-triangle-exclamation fa-fade"></i></h1>
            <a href="/" class="btn btn-success">Goto home page</a> <br>
            <img class="card-img-top"  id="imgCard" src="/image/school/server-amico.png" alt="404">

        </center>
      </div>
<p></p>
    </div>

</body>
</html>
