<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>503</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <!-- Boostrapt cdn -->
    <link rel="stylesheet" href="/bootstrap.css">

</head>
<body class=" ">

  
 <div class="row">

  <div class="col-md-10 m-auto bg-dark">
      
    <div class="">
      <center> 
          <h4 class="card-title ">Hang ON! We are under <br>Maintenance!
          <i class="fa-solid fa-cog fa-spin"></i>
          <i class="fa-solid fa-cog fa-spin fa-spin-reverse"></i>
         </h4>
          <p class="text-light">We apologize for any inconvenience <br> caused done.</p>
          <a href="/" class="text-decoration-none text-light badge p-2 bg-danger">Goto Home</a>

  </center>


    </div>
    <center>
      <img class="w-50 m-auto"  src="/image/school/server-amico.png" alt="404">
    </center>

    <p></p>
  </div>


 </div>

<p></p>
</div>
</body>
</html>