<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <%- include("../component/metadata.html") %>
    
    </head>
<body onload="pageLoaded()">

  <%- include("../component/header-nav.html") %>
  <%- include("../component/menu-nav.html") %>



    <div id="aboutusschool" class="row  mt-3 mb-3 p-2">
        <h1 class="fw-semibold text-center p-2 ">Welcome to our school</h1>
        <p class="text-center mb-3">Read about our school history and know more about this school</p>
        
      
        <div class="col-md-5 p-1 col-12 p-2">
          <img width="100%" height="300px" class=" p-2 img-thumbnail append-image"  src="/image/default/resized/main_img.png" alt="">
          <p class="append-name shadowx p-2 fw-semibold fs-5"></p>
        </div>
      
        <div class="col-md-7 col-12  mt-md-0 mt-2">
          <p class="p-2 shadowx append-about" style="line-height: 1.9;">
            আমার সোনার বাংলা গানটি রচিত হয়েছিল ১৯০৫ সালের বঙ্গভঙ্গ আন্দোলনের পরিপ্রেক্ষিতে। গানটির পাণ্ডুলিপি পাওয়া যায়নি, তাই এর সঠিক রচনাকাল জানা যায় না।[৪] সত্যেন রায়ের রচনা থেকে জানা যায়, ১৯০৫ সালের ৭ আগস্ট কলকাতার টাউন হলে আয়োজিত একটি প্রতিবাদ সভায় এই গানটি প্রথম গীত হয়েছিল। এই বছরই ৭ সেপ্টেম্বর (১৩১২ বঙ্গাব্দের ২২ ভাদ্র) সঞ্জীবনী পত্রিকায় রবীন্দ্রনাথের স্বাক্ষরে  গানটি মুদ্রিত হয়। এই বছর বঙ্গদর্শন পত্রিকার আশ্বিন সংখ্যাতেও গানটি মুদ্রিত হয়েছিল। তবে ৭ আগস্ট উক্ত সভায় এই গানটি গীত হওয়ার কোনো প্রমাণ পাওয়া যায় না।[৪] বিশিষ্ট রবীন্দ্রজীবনীকার প্রশান্তকুমার পালের মতে, আমার সোনার বাংলা ১৯০৫ খ্রিষ্টাব্দের ২৫ আগস্ট কলকাতার টাউন হলে অবস্থা ও ব্যবস্থা প্রবন্ধ পাঠের আসরে প্রথম গীত হয়েছিল।[৪]
      
            আমার সোনার বাংলা গানটি রচিত হয়েছিল শিলাইদহের ডাকপিয়ন গগন হরকরা রচিত আমি কোথায় পাব তারে আমার মনের মানুষ যে রে গানটির সুরের অণুষঙ্গে।[৪] সরলা দেবী চৌধুরানী ইতিপূর্বে ১৩০৭ বঙ্গাব্দের বৈশাখ মাসে তার শতগান সংকলনে গগন হরকরা রচিত গানটির স্বরলিপি প্রকাশ করেছিলেন। উল্লেখ্য, রবীন্দ্রনাথের বঙ্গভঙ্গ-সমসাময়িক অনেক স্বদেশী গানের সুরই এই স্বরলিপি গ্রন্থ থেকে গৃহীত হয়েছিল।[৪] যদিও পূর্ববঙ্গের বাউলদের ভিডমিড ও ভাটিয়ালি সুরের সঙ্গে রবীন্দ্রনাথের পরিচিতি ইতঃপূর্বেই হয়েছিল বলে জানা যায়। ১৮৮৯-১৯০১ সময়কালে পূর্ববঙ্গের বিভিন্ন অঞ্চলে জমিদারির কাজে ভ্রমণ ও বসবাসের সময় বাংলার লোকজ সুরের সঙ্গে তার আত্মীয়তা ঘটে। তারই অভিপ্রকাশ রবীন্দ্রনাথের স্বদেশী আন্দোলনের সমসাময়িক গানগুলি, বিশেষত আমার সোনার বাংলা।    </p>
        </div>
      
      </div>

      <%- include("../component/footer-nav.html") %>

</body>



<script>
    function pageLoaded(){
   $('.page-loading-top').remove()
  }
  
    (function(){
  $.ajax({
    method: "get",
    url: "/pu/school/get/",
    data: {},
    dataType: "JSON",
    success: function (res) {

      $(".append-name").text(res.info_school[0].name)
      $(".append-about").text(res.info_school[0].about)
      $(".append-image").attr('src', '/image/default/resized/'+res.info_school[0].image)
    }
  });
  }())

</script>

</html>