
    
    <style>
        
    .contentDiv a
    {
        text-decoration: none;
       
        
    }
    .contentDiv .card-body{
        background-color: #F5F4F8 !important;
    
        color: #754FFE ;
    }
    
        
    .contentDiv .card-body:hover{
        background-color: #281e5d !important;
        /* background: #F5F4F8 !important; */
        color: white;
        transform: scale(1.1);
        transition: background-color, transform 1s;
     
    }
    </style>
    <body>
    
    
        <div  class="row mt-3 contentDiv">
        
            <div class="col-md-4 col-10 m-auto ">
        
              <a href="/pu/student/page">
                <div class="card shadow-sm">
                    <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                    <div class="card-body text-center">
                        <h4 class="card-title">Students</h4>
                        <h5 class="card-text fw-bold"><%=infoS[0]['COUNT(ID)'] %>  <i class=" fa fa-people-line"></i></h5>
                    </div>
                </div>
              </a>
        
            </div>  
            
            
        
            <div class="col-md-4 col-10 m-auto ">
        
               <a href="/pu/all/teacher">
                <div class="card shadow-sm">
                    <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                    <div class="card-body text-center">
                        <h4 class="card-title">Teachers</h4>
                        <h5 class="card-text fw-bold"><%=infoT[0]['COUNT(ID)'] %> <i class=" fa fa-people-group"></i></h5>
                    </div>
                </div>
               </a>
        
            </div>                
        
            <div class="col-md-4 col-10 m-auto ">
        
              <a style="cursor:not-allowed;" class=" disabled" href="#">
                <div class="card shadow-sm ">
                    <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                    <div class="card-body text-center">
                        <h4 class="card-title">Staff</h4>
                        <h5 class="card-text fw-bold">5 <i class=" fa fa-people-group"></i></h5>
                    </div>
                </div>
              </a>
        
            </div>                
        
            <div class="col-md-4 col-10 m-auto ">
        
                <a style="cursor:not-allowed;" href="#">
                    <div class="card shadow-sm">
                        <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                        <div class="card-body text-center">
                            <h4 class="card-title">Apartment</h4>
                            <h5 class="card-text fw-bold">8 <i class=" fa fa-building"></i></h5>
                        </div>
                    </div>
                </a>
        
            </div>        
        
             
        
              
        <!-- end mainDiv -->
        </div>
        
    
    
    
<div  class="row mt-3 contentDiv">
        
            <div class="col-md-4 col-10 m-auto ">
        
              <a href="/pu/admission/step1">
                <div class="card shadow-sm">
                    <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                    <div class="card-body text-center">
                        <h4 class="card-title">Admission</h4>
                        <h5 class="card-text fw-bold"> <i class=" fa fa-contact-book"></i></h5>
                    </div>
                </div>
              </a>
        
            </div>  
    
               
        
            <div class="col-md-4 col-10 m-auto ">
        
                <a href="/pu/rank/class/page">
                    <div class="card shadow-sm">
                        <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                        <div class="card-body text-center">
                            <h4 class="card-title">Student Ranks</h4>
                            <h5 class="card-text fw-bold"> <i class=" fa fa-ranking-star"></i></h5>
                        </div>
                    </div>
                </a>
        
            </div>        
        
                     
            
        
            <div class="col-md-4 col-10 m-auto ">
        
                <a href="/pu/about/us/team">
                    <div class="card text-center">
                        <!-- <img class="card-img-top" src="holder.js/100px180/" alt=""> -->
                        <div class="card-body">
                            <h4 class="card-title">Team our</h4>
                            <h5 class="card-text fw-bold"><i class=" fa fa-people-group"></i></h5>
        
                        </div>
                      </div>
                </a>
        
            </div>                
        
        
              
        <!-- end mainDiv -->
        </div>
    
    




<div  class="row mt-3 contentDiv">

    
           
        
            <div class="col-md-4 col-10 m-auto ">
        
                <a href="/pu/result/page">
                    <div class="card shadow-sm">
                        <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                        <div class="card-body text-center">
                            <h4 class="card-title">Exam Results</h4>
                            <h5 class="card-text fw-bold"> <i class=" fa fa-book-open"></i></h5>
                        </div>
                    </div>
                </a>
        
            </div>        
        

        
              
        <!-- end mainDiv -->
        </div>



