<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eventnews</title>
    <%- include("../component/metadata.html") %>
  </head>

 
<body>

  <%- include("../component/header-nav.html") %>


<div id="aef"  class="row p-2 p-md-2" style="height: max-content;">
 
    <div class="col-12 p-4  ">
        <p style="font-weight: 600; font-size: 1.9rem;" class="text-center  mb-4">
           Our event and news
         </p>
        <p style="line-height: 1.6;" class="text-center fw-semibold text-muted">
             this is our event and news corner, Our school has many event and news.
        </p>
    </div>

    <div class="col-md-3 col-11 m-auto m-1 mt-5 mb-5 text-truncate">
         
    <img src="./image/demo/e1.jpg"  alt="">

    <h5 class="mt-4 text-muted fw-bold">Event and news title</h5>

    <p style="line-height: 1.6;" class="text-wrap text-muted fw-semibold">
        Keep track of your daily to-dos and lists with this smart daily planner.
     </p>

     <a class="text-decoration-none   fw-semibold link-hover" href="./view-eventnews.html">
        Read more
        <i class="link-move bi bi-caret-right-fill"></i>
      </a> 
    </div>



    <div class="col-md-3 col-11 m-auto m-1 mt-5 mb-5">
         
        <img src="./image/demo/e1.jpg"  alt="">
    
        <h5 class="mt-4 text-muted fw-bold">Event and news title</h5>

        <p style="line-height: 1.6;" class="text-wrap text-muted fw-semibold">
            Keep track of your daily to-dos and lists with this smart daily planner.
         </p>


             <a class="text-decoration-none   fw-semibold link-hover" href="./view-eventnews.html">
            Read more
            <i class="link-move bi bi-caret-right-fill"></i>
          </a> 
        </div>


        <div class="col-md-3 col-11 m-auto m-1 mt-5 mb-5">
         
            <img src="./image/demo/e1.jpg"  alt="">
        
    <h5 class="mt-4 text-muted fw-bold">Event and news title</h5>

    <p style="line-height: 1.6;" class="text-wrap text-muted fw-semibold">
        Keep track of your daily to-dos and lists with this smart daily planner.
     </p>
        
             <a class="text-decoration-none   fw-semibold link-hover" href="./view-eventnews.html">
                Read more
                <i class="link-move bi bi-caret-right-fill"></i>
              </a> 
            </div>



            <div class="col-md-3 col-11 m-auto m-1 mt-5 mb-5">
         
                <img class="img-thumbnail img-fluid" src="./image/demo/e2.jpg"  alt="">
            
                <h5 class="mt-4 text-muted fw-bold">Event and news title</h5>

                <p style="line-height: 1.6;" class="text-wrap text-muted fw-semibold">
                    Keep track of your daily to-dos and lists with this smart daily planner.
                 </p>

                 <a class="text-decoration-none   fw-semibold link-hover" href="./view-eventnews.html">
                    Read more
                    <i class="link-move bi bi-caret-right-fill"></i>
                  </a> 
                </div>



</div>

<%- include("../component/footer-nav.html") %>

<script>
    function pageLoaded(){
   $('.page-loading-top').remove()
  }
</script>
</body>
</html>