<%-include("../component/header") %> 
<%-include("../component/navbar") %> 





<!DOCTYPE html>
<html lang="en">
<head>

</head>
<style>
      *, *::before, *::after{
        padding: 0px;
        margin: 0px;
        box-sizing: content-box;
    }
</style>
<body>



    <div id="html">
        <section id="header-area" class=" w-100">
            <div  class="container w-100">
            <header class="container w-100" id="header">
               <div class="row w-100">
                    <div class="col-md-10 col-lg-12 ">
                        <h1 id="h1"><i style="color:rgb(149, 35, 255) ; " class="fa-solid fa-search"></i>Docker</h1>
                        <a id="a" class="text-muted ">Help Center</a>

                        <i id="icon" class="fa-sharp fa-solid fa-magnifying-glass text-muted "></i>
    
             </header>
                        
                        <div class="fast">
                            <h1>How can we help you?</h1>
                            <p>Have questions? Search through our Help Center</p>
                            
                        
                        <div class="box">
                        <i id="i" class="fa-sharp fa-solid fa-magnifying-glass "></i>
    
                        <input id="search-bar"   type="search" placeholder="   Enter your questions topic or keyword"><br>
    
                        </div>  
                        <p class="text-muted">...or chooes a category to quickly find the help you need</p>                      
                        </div>
                        <div class="cernter">
                            <img src="" alt="">
                        </div>
                        
                        
    
                        
                    </div>
                    <div class="col-md-2 col-sm-4"></div>
                 
           
        </section> 
        <section id="card-part">
            <footer> <hr>
               <div class="container">
                <div id="body" class="row">
                           <div class="col-lg-12 col-sm-4">
                            <div id="card-group" class="card-group">
                                <div id="card1" class="card">
                                    <div class="card-body m-4">
                                        <i id="icon2" class="fa-regular fa-circle-question"></i>
                                        <h3 class="card-title">FAQs</h3>
                                        <p class="card-text">
                                        FAQ, short for frequently asked questions,
                                        is a list of commonly asked questions and 
                                        answers about a specific topic.
                                        </p>
                                        <a id="link1"  href="#">View FAQ <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                            </svg></a>
                                    </div>
                                </div>
                                <div id="card" class="card">
                                    <div class="card-body m-4">
                                        <i id="icon2"  class="fa-sharp fa-solid fa-life-ring"></i>
    
                                        <h3 class="card-title">Guides & Resources</h3>
                                        <p class="card-text">
                                       UI Style Guides are a design & development
                                       tool that brings conhesion to a digital
    
                                      product user interface & experience
                                        </p>
                                        <a id="link1" href="#">Browse Guides  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                            </svg></a>
                                    </div>
                                </div>
                                <div id="card" class="card">
                                    <div class="card-body m-4">
                                        <i id="icon2"  class="fa-sharp fa-solid fa-life-ring"></i>
                                        <h3 class="card-title">Support</h3>
                                        <p class="card-text">
                                       The good news is that youre not alone,and
                                        youre in the right place.Contact us for 
                                       more detailed support.    
                                        </p>
                                        <a id="link1" href="#">Submit a Request  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                          </svg></a>
                                    </div>
                                </div>
                            </div>
                           </div>
    
                    
               
                </div>
    
               </div>
            </footer>
    
            </div>
        <!-- </section>
    
    </div>

</div>    -->
    
</body>
</html>


<%-include("../component/footer") %> 