<%- include("../component/header") %> 
<%- include("../component/navbar") %> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Team</title>
    <style>
        *{
    margin: 0;
    padding: 0;
}
.div-footer{
    padding: 5px;
    border: 1px solid rgb(218, 218, 218);
   border-radius: 35px;
    background-color:none;
    width: 400px;
}


#link{
    
    font-weight: 700;
    margin-left: 10px;
    text-decoration: none;
}


    </style>
</head>
<body>
    <p></p>
    <div class="container">
        <center > <h5>Team</h5></center>
       
        <br>
        <br>
        <div class="row">

                     
            <div class=" col-md-3 m-auto col-10">
                <div class="card p-1 shadow-sm">
                    <img src="/image/team/sir.jpg" class=" border rounded" alt="...">
                
                    <div class="card-body">
                        <p class="card-text text-muted">CFO & CEO</p>
                        <h5 class="card-title">Soumitra Shaha</h5>
                        
                        <p class="card-text">Systems Analysist.</p>
                    </div>
                 
                    <br>
                    <div class="social-icons">
                        <a target="_blank"  href="#"><i style="  border: 1px solid rgb(210, 210, 210); border-radius: 10px;"  class="fa-brands fa-github text-primary p-2 m-1"></i></a>
                        <a target="_blank"  href="https://www.facebook.com/soumitrasahatanin"><i style="  border: 1px solid rgb(210, 210, 210); border-radius: 10px;"  class="fa-brands fa-facebook text-primary p-2 m-1"></i></a>
                    </div>
                </div>

           
        </div>
            
            
            <div class=" col-md-3 m-auto col-10">
                <div class="card p-1 shadow-sm">
                    <img src="/image/team/alifn-01.png" class=" border rounded" alt="...">
                
                    <div class="card-body">
                        <p class="card-text text-muted">UI/UX Designer & Programmer</p>
                        <h5 class="card-title">Alif Nayon</h5>
                        
                        <p class="card-text">Software Developer (HTML, CSS, JavaScript, Bootstrap, Jquery, VueJs, Nodejs, ExpressJs, Mysql)</p>
                    </div>
                 
                    <br>
                    <div class="social-icons">
                        <a target="_blank" href="https://github.com/3alifn"><i style="  border: 1px solid rgb(210, 210, 210); border-radius: 10px;"  class="fa-brands fa-github text-primary p-2 m-1"></i></a>
                        <a target="_blank"  href="https://www.linkedin.com/in/alifn-nayon-472821265/"><i style="  border: 1px solid rgb(210, 210, 210); border-radius: 10px;"  class="fa-brands fa-linkedin text-primary p-2 m-1"></i></a>
                        <a target="_blank"  href="https://stackoverflow.com/users/19584353/alifn30"><i style="  border: 1px solid rgb(210, 210, 210); border-radius: 10px;"  class="fa-brands fa-stack-overflow text-primary p-2 m-1"></i></a>
                        <a target="_blank"  href="https://www.facebook.com/alifnayon30"><i style="  border: 1px solid rgb(210, 210, 210); border-radius: 10px;"  class="fa-brands fa-facebook text-primary p-2 m-1"></i></a>
                    </div>
                </div>

           
        </div>
         
            
            <div class=" col-md-3 m-auto col-10">
                <div class="card p-1 shadow-sm">
                    <img src="/image/team/tanvir.jpg" class=" border rounded" alt="...">
                
                    <div class="card-body">
                        <p class="card-text text-muted">Content Customization</p>
                        <h5 class="card-title">Tanvir AKash</h5>
                        
                        <p class="card-text">(HTML, CSS, Bootstrap)</p>
                    </div>
                 
                    <br>
                    <div class="social-icons">
                        <a target="_blank"  href="#"><i style="  border: 1px solid rgb(210, 210, 210); border-radius: 10px;"  class="fa-brands fa-github text-primary p-2 m-1"></i></a>
                        <a target="_blank"  href="https://www.facebook.com/tanvir.islam.52459"><i style="  border: 1px solid rgb(210, 210, 210); border-radius: 10px;"  class="fa-brands fa-facebook text-primary p-2 m-1"></i></a>
                    </div>
                </div>

           
        </div>
         
            
            <div class=" col-md-3 m-auto col-10">
                <div class="card p-1 shadow-sm">
                    <img src="/image/team/female_avatar.png" class=" border rounded" alt="...">
                
                    <div class="card-body">
                        <p class="card-text text-muted">Designer & Developer </p>
                        <h5 class="card-title">Setu Rumi</h5>
                        
                        <p class="card-text">(HTML, CSS, Bootstrap, JavaScript, NodeJs, ExpressJs, Mysql)</p>
                    </div>
                 
                    <br>
                    <div class="social-icons">
                        <a target="_blank"  href="#"><i style="  border: 1px solid rgb(210, 210, 210); border-radius: 10px;"  class="fa-brands fa-github text-primary p-2 m-1"></i></a>
                        <a target="_blank"  href="https://www.facebook.com/sesa.islam.3"><i style="  border: 1px solid rgb(210, 210, 210); border-radius: 10px;"  class="fa-brands fa-facebook text-primary p-2 m-1"></i></a>
                    </div>
                </div>

           
        </div>     
            
            <div class=" col-md-3 col-10 m-auto m-md-0">
                <div class="card p-1 shadow-sm" >
                    <img src="/image/team/female_avatar.png" class=" border rounded" alt="...">
                
                    <div class="card-body">
                        <p class="card-text text-muted">Content Customization </p>
                        <h5 class="card-title">Afrin Dola</h5>
                        
                        <p class="card-text">(HTML, CSS, Bootstrap)</p>
                    </div>
                 
                    <br>
                    <div class="social-icons">
                        <a target="_blank"  href="#"><i style="  border: 1px solid rgb(210, 210, 210); border-radius: 10px;"  class="fa-brands fa-github text-primary p-2 m-1"></i></a>
                        <a target="_blank"  href="https://www.facebook.com/arfin.dhola"><i style="  border: 1px solid rgb(210, 210, 210); border-radius: 10px;"  class="fa-brands fa-facebook text-primary p-2 m-1"></i></a>
                    </div>
                </div>

           
        </div>
         
      
        </div>
     
        <br>
        <br>
        <center>
            <div class="div-footer">
                <p class="text-muted">Want to word with us? <a id="link" class="primary" href="#">We are here!<i id="icon2" class="fa-sharp fa-solid fa-angle-right"></i> </a></p>
            </div>
        </center>
    </div>
    
</body>
</html>

<%- include("../component/footer") %> 
