

<html lang="en">
<head>
    <title>Transcript report</title>
    <%- include("../component/metadata.html") %> 

</head>

<style>
    
    .row a
    {
        text-decoration: none;
        
    }
    .row .card-body{
        background-color: #F5F4F8 !important;
    
        color: #754FFE ;
    }
    

</style>

<body onload="pageLoadingTop()">
    
    <%- include("../component/user-header-nav.html") %> 
    <%- include("../component/offcanvas-nav.html") %> 


    <center class="mt-5 p-3 shadowx">
     <h5> Transcript report system</h5>
    </center>

          
<div class="status_Six">
    <center>
        <button id="classSixbtn" class="btn-self mt-3 dropdown-toggle w-50">ষষ্ঠ শ্রেণী</button>
       </center>
       
    <div id="classSix" class="row">
    
    
        <div class="card shadow-sm m-auto ">
            <div class="card-body text-center text-dark">
                <h4 class="card-title">ষষ্ঠ শ্রেণী</h4>
            </div>
        </div>
    
        <div class="col-md-4 col-10 m-auto status_Six_A">
       
            <a href="/privet/transcript/report-page-student-get/Six/A">
                <div class="card shadow-sm">
                  <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                  <div class="card-body text-center">
                      <h4 class="card-title">শাখা (ক)</h4>
                  </div>
              </div>
            </a>
    
          </div>      
          
          
          <div class="col-md-4 col-10 m-auto status_Six_B"> 
    
            <a href="/privet/transcript/report-page-student-get/Six/B">
              <div class="card shadow-sm">
                  <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                  <div class="card-body text-center">
                      <h4 class="card-title">শাখা (খ)</h4>
                  </div>
              </div>
            </a>
    
          </div>  
    
    
          <div class="col-md-4 col-10 m-auto status_Six_C">
    
            <a href="/privet/transcript/report-page-student-get/Six/C">
                <div class="card shadow-sm">
                  <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                  <div class="card-body text-center">
                      <h4 class="card-title">শাখা (গ)</h4>
                  </div>
              </div>
            </a>
    
          </div> 
    </div>
</div>


<div class="status_Seven">
    <center>
        <button id="classSevenbtn" class="btn-self mt-3 dropdown-toggle w-50">সপ্তম শ্রেণী</button>
       </center>
    <div id="classSeven" class="row">
    
        <div class="card shadow-sm m-auto ">
            <div class="card-body text-center text-dark">
                <h4 class="card-title">সপ্তম শ্রেণী</h4>
            </div>
        </div>
    
        <div class="col-md-4 col-10 m-auto status_Seven_A">
       
            <a href="/privet/transcript/report-page-student-get/Seven/A">
                <div class="card shadow-sm">
                  <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                  <div class="card-body text-center">
                      <h4 class="card-title">শাখা (ক)</h4>
                  </div>
              </div>
            </a>
    
          </div>      
          
          
          <div class="col-md-4 col-10 m-auto status_Seven_A">
    
            <a href="/privet/transcript/report-page-student-get/Seven/B">
                <div class="card shadow-sm">
                  <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                  <div class="card-body text-center">
                      <h4 class="card-title">শাখা (খ)</h4>
                  </div>
              </div>
            </a>
    
          </div>  
    
    
          <div class="col-md-4 col-10 m-auto status_Seven_A">
    
            <a href="/privet/transcript/report-page-student-get/Seven/C">
                <div class="card shadow-sm">
                  <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                  <div class="card-body text-center">
                      <h4 class="card-title">শাখা (গ)</h4>
                  </div>
              </div>
            </a>
    
          </div> 
    </div>
    
</div>


<div class="status_Eight">
    
<center>
    <button id="classEightbtn" class="btn-self mt-3 dropdown-toggle w-50">অষ্টম শ্রেণী</button>
   </center>
<div id="classEight" class="row">

    <div class="card shadow-sm m-auto status_Eight_A">
        <div class="card-body text-center text-dark">
            <h4 class="card-title">অষ্টম শ্রেণী</h4>
        </div>
    </div>

    <div class="col-md-4 col-10 m-auto">
   
        <a href="/privet/transcript/report-page-student-get/Eight/A">
            <div class="card shadow-sm">
              <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
              <div class="card-body text-center">
                  <h4 class="card-title">শাখা (ক)</h4>
              </div>
          </div>
        </a>

      </div>      
      
      
      <div class="col-md-4 col-10 m-auto status_Eight_B">

        <a href="/privet/transcript/report-page-student-get/Eight/B">
            <div class="card shadow-sm">
              <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
              <div class="card-body text-center">
                  <h4 class="card-title">শাখা (খ)</h4>
              </div>
          </div>
        </a>

      </div>  


      <div class="col-md-4 col-10 m-auto status_Eight_C">

        <a href="/privet/transcript/report-page-student-get/Eight/C">
            <div class="card shadow-sm">
              <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
              <div class="card-body text-center">
                  <h4 class="card-title">শাখা (গ)</h4>
              </div>
          </div>
        </a>

      </div> 
</div>
</div>


<div class="status_Nine">
    <center>
        <button id="classNinebtn" class="btn-self mt-3 dropdown-toggle w-50">নবম শ্রেণী</button>
       </center>
    <div id="classNine" class="row">
    
        <div class="card shadow-sm m-auto ">
            <div class="card-body text-center text-dark">
                <h4 class="card-title">নবম শ্রেণী</h4>
            </div>
        </div>
    
        <div class="col-md-4 col-10 m-auto status_Nine_A">
       
            <a href="/privet/transcript/report-page-student-get/Nine/A">
                <div class="card shadow-sm">
                  <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                  <div class="card-body text-center">
                      <h4 class="card-title">শাখা (ক)</h4>
                  </div>
              </div>
            </a>
    
          </div>      
          
          
          <div class="col-md-4 col-10 m-auto status_Nine_B">
    
            <a href="/privet/transcript/report-page-student-get/Nine/B">
                <div class="card shadow-sm">
                  <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                  <div class="card-body text-center">
                      <h4 class="card-title">শাখা (খ)</h4>
                  </div>
              </div>
            </a>
    
          </div>  
    
    
          <div class="col-md-4 col-10 m-auto status_Nine_C">
    
            <a href="/privet/transcript/report-page-student-get/Nine/C">
                <div class="card shadow-sm">
                  <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                  <div class="card-body text-center">
                      <h4 class="card-title">শাখা (গ)</h4>
                  </div>
              </div>
            </a>
    
          </div> 
    </div>
    
</div>



<div class="status_Ten">
    <center>
        <button id="classTenbtn" class="btn-self mt-3 dropdown-toggle w-50">দশম শ্রেণী</button>
       </center>
    <div id="classTen" class="row ">
    
        <div class="card shadow-sm m-auto">
            <div class="card-body text-center text-dark">
                <h4 class="card-title">দশম শ্রেণী</h4>
            </div>
        </div>
    
        <div class="col-md-4 col-10 m-auto status_Ten_A">
       
            <a href="/privet/transcript/report-page-student-get/Ten/A">
                <div class="card shadow-sm">
                  <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                  <div class="card-body text-center">
                      <h4 class="card-title">শাখা (ক)</h4>
                  </div>
              </div>
            </a>
    
          </div>      
          
          
          <div class="col-md-4 col-10 m-auto status_Ten_B">
    
            <a href="/privet/transcript/report-page-student-get/Ten/B">
                <div class="card shadow-sm">
                  <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                  <div class="card-body text-center">
                      <h4 class="card-title">শাখা (খ)</h4>
                  </div>
              </div>
            </a>
    
          </div>  
    
    
          <div class="col-md-4 col-10 m-auto status_Ten_C">
    
            <a href="/privet/transcript/report-page-student-get/Ten/C">
                <div class="card shadow-sm">
                  <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                  <div class="card-body text-center">
                      <h4 class="card-title">শাখা (গ)</h4>
                  </div>
              </div>
            </a>
    
          </div> 
    </div>
</div>

</body>




<script>


(function(){
  $.ajax({
    type: "get",
    url: "/pu/class/section/rm",
    data: {},
    dataType: "JSON",
    success: function (res) {

     for (let index = 0; index < res.cls.length; index++) {

      $(".status_"+res.cls[index].class).remove()
        
     }

     for (let index = 0; index < res.clss.length; index++) {

        $(".status_"+res.clss[index].class+'_'+res.clss[index].section).remove()
        
     }
    }
  });

  }())


$("#classSixbtn").on("click", ()=>{
    $("#classSix").toggle()
})


$("#classSevenbtn").on("click", ()=>{
    $("#classSeven").toggle()
})

$("#classEightbtn").on("click", ()=>{
    $("#classEight").toggle()
})

$("#classNinebtn").on("click", ()=>{
    $("#classNine").toggle()
})

$("#classTenbtn").on("click", ()=>{
    $("#classTen").toggle()
})

</script>




</html>